﻿<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Quản lý Moto</title>

    <!-- Favicons Icon -->
    <link rel="icon" href="~/Assets/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Assets/favicon.ico" type="image/x-icon" />

    <!--Open Sans Font-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet" />
    <link href="~/Assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/nifty.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/plugins/animate-css/animate.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/plugins/morris-js/morris.min.css" rel="stylesheet">
    <link href="~/Assets/admin/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <!--Page Load Progress Bar-->
    <link href="~/Assets/admin/plugins/pace/pace.min.css" rel="stylesheet" />
    <script src="~/Assets/admin/plugins/pace/pace.min.js"></script>

</head>
<body>
    <div>
        <div id="container" class="cls-container">
            <!-- BACKGROUND IMAGE -->
            <div id="bg-overlay" class="bg-img img-balloon"></div>

            <!-- HEADER -->
            <div class="cls-header cls-header-lg">
                <div class="cls-brand">
                    <div class="box-inline">
                        <img src="~/Assets/admin/img/logo.png" class="brand-icon">
                        <span class="brand-title">Moto <span class="text-thin">Admin</span></span>
                    </div>
                </div>
            </div>

            @RenderBody()

            <!-- DEMO PURPOSE ONLY -->
            <div class="demo-bg">
                <div id="demo-bg-list">
                    <div class="demo-loading"><i class="fa fa-refresh"></i></div>
                    <img class="demo-chg-bg bg-trans" src="~/Assets/admin/img/bg-img/thumbs/bg-trns.jpg" />
                    <img class="demo-chg-bg" src="~/Assets/admin/img/bg-img/thumbs/bg-img-1.jpg" />
                    <img class="demo-chg-bg active" src="~/Assets/admin/img/bg-img/thumbs/bg-img-2.jpg" />
                    <img class="demo-chg-bg" src="~/Assets/admin/img/bg-img/thumbs/bg-img-3.jpg" />
                    <img class="demo-chg-bg" src="~/Assets/admin/img/bg-img/thumbs/bg-img-4.jpg" />
                    <img class="demo-chg-bg" src="~/Assets/admin/img/bg-img/thumbs/bg-img-5.jpg" />
                    <img class="demo-chg-bg" src="~/Assets/admin/img/bg-img/thumbs/bg-img-6.jpg" />
                    <img class="demo-chg-bg" src="~/Assets/admin/img/bg-img/thumbs/bg-img-7.jpg" />
                </div>
            </div>
        </div>
    </div>
    <!--JAVASCRIPT-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Assets/admin/js/jquery-2.1.1.min.js"></script>
    <script src="~/Assets/admin/js/bootstrap.min.js"></script>
    <script src="~/Assets/admin/plugins/fast-click/fastclick.min.js"></script>
    <script src="~/Assets/admin/js/nifty.min.js"></script>
    <script src="~/Assets/admin/plugins/morris-js/morris.min.js"></script>
    <script src="~/Assets/admin/plugins/morris-js/raphael-js/raphael.min.js"></script>
    <script src="~/Assets/admin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Assets/admin/plugins/skycons/skycons.min.js"></script>
    <script src="~/Assets/admin/plugins/switchery/switchery.min.js"></script>
    <script src="~/Assets/admin/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/admin/js/tucode.js"></script>

</body>
</html>
