﻿@using BanXeMoTo.Areas.Admin.Models
@using BanXeMoTo.Common

<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Quản lý Moto</title>

    <!-- Favicons Icon -->
    <link rel="icon" href="~/Assets/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Assets/favicon.ico" type="image/x-icon" />

    <!--Open Sans Font-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet" />
    <link href="~/Assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/nifty.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/plugins/animate-css/animate.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/plugins/morris-js/morris.min.css" rel="stylesheet">
    <link href="~/Assets/admin/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <!--Page Load Progress Bar-->
    <link href="~/Assets/admin/plugins/pace/pace.min.css" rel="stylesheet" />
    <script src="~/Assets/admin/plugins/pace/pace.min.js"></script>

</head>
<body>
    @{
        var session = (LoginModel)Session[Constants.ADMIN_SESSION];
    }
    <div id="container" class="effect mainnav-lg mainnav-fixed navbar-fixed easeInOutBack">
        <!--NAVBAR-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <img src="~/Assets/admin/img/logo.png" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">Moto</span>
                        </div>
                    </a>
                </div>
                <!--End brand logo & name-->
                <!--================================-->
                <!--Navbar Dropdown-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <!--Navigation toogle button-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href=""><i class="fa fa-navicon fa-lg"></i></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <!--Language selector-->
                        <li class="dropdown">
                            <a class="lang-selector dropdown-toggle" href="" data-toggle="dropdown">
                                <span class="lang-selected">
                                    <img class="lang-flag" src="~/Assets/admin/img/flags/tiengviet.png" />
                                    <span class="lang-id">VN</span>
                                    <span class="lang-name">Tiếng Việt</span>
                                </span>
                            </a>
                            <ul class="head-list dropdown-menu with-arrow">
                                <li>
                                    <a href="" class="active">
                                        <img class="lang-flag" src="~/Assets/admin/img/flags/tiengviet.png" />
                                        <span class="lang-id">VN</span>
                                        <span class="lang-name">Tiếng Việt</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img class="lang-flag" src="~/Assets/admin/img/flags/united-kingdom.png" />
                                        <span class="lang-id">EN</span>
                                        <span class="lang-name">English</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--End language selector-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--User dropdown-->
                        <li id="dropdown-user" class="dropdown">
                            <a href="" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    @{ string gt = session.GioiTinh == "1" ? "gt1.png" : (session.GioiTinh == "0" ? "gt0.png" : "gt2.png"); }
                                    <img class="img-circle img-user media-object" src="~/Assets/admin/img/@gt" />
                                </span>
                                <div class="username hidden-xs">@session.TenNV</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right with-arrow panel-default">
                                <!-- Dropdown heading -->
                                <div class="pad-all bord-btm">
                                    <p class="text-lg text-muted text-thin mar-btm">ID: @session.MaNV</p>
                                </div>
                                <!-- User dropdown menu -->
                                <ul class="head-list">
                                    <li>
                                        <a href="@Url.Action("Index","Account")"><i class="fa fa-user fa-fw fa-lg"></i>Tài khoản</a>
                                    </li>
                                    <li>
                                        <a href=""><span class="badge badge-danger pull-right">9</span><i class="fa fa-envelope fa-fw fa-lg"></i>Messages</a>
                                    </li>
                                    <li>
                                        <a href=""><span class="label label-success pull-right">New</span><i class="fa fa-gear fa-fw fa-lg"></i>Settings</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-question-circle fa-fw fa-lg"></i>Help</a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-lock fa-fw fa-lg"></i>Lock screen</a>
                                    </li>
                                </ul>
                                <!-- Dropdown footer -->
                                <div class="pad-all text-right">
                                    <a href="@Url.Action("Logout","Home")" class="btn btn-primary"><i class="fa fa-sign-out fa-fw"></i>Đăng xuất</a>
                                </div>
                            </div>
                        </li>
                        <!--End user dropdown-->
                    </ul>
                </div>
                <!--End Navbar Dropdown-->
            </div>
        </header>
        <!--END NAVBAR-->
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <div id="content-container">
                <!--Page Title-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">@session.TenCV</h1>

                </div>
                <!--End page title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--Page content-->
                <div id="page-content">

                    @RenderBody()

                </div>
                <!--End page content-->
            </div>
            <!--END CONTENT CONTAINER-->
            <!--===================================================-->
            <!--MAIN NAVIGATION-->
            <nav id="mainnav-container">
                <div id="mainnav">
                    <!--Shortcut buttons-->
                    <div id="mainnav-shortcut">
                        <ul class="list-unstyled">
                            <li class="col-xs-4" data-content="Additional Sidebar">
                                <a class="shortcut-grid" href="">
                                    <i class="fa fa-magic"></i>
                                </a>
                            </li>
                            <li class="col-xs-4" data-content="Notification">
                                <a class="shortcut-grid" href="">
                                    <i class="fa fa-bullhorn"></i>
                                </a>
                            </li>
                            <li class="col-xs-4" data-content="Page Alerts">
                                <a class="shortcut-grid" href="">
                                    <i class="fa fa-bell"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End shortcut buttons-->
                    <!--================================-->
                    <!--Menu-->
                    @{
                        string mn0 = ViewBag.TrangChu;
                        string mn1 = ViewBag.BaoCao;
                        string mn2 = ViewBag.DonHang;
                        string mn3 = ViewBag.SanPham;
                        string mn4 = ViewBag.ThongTinSanPham;
                        string mn5 = ViewBag.NhapSanPham;
                        string mn6 = ViewBag.XuatSanPham;
                        string mn7 = ViewBag.NhanVien;
                        string mn8 = ViewBag.ThanhVien;
                        string mn9 = ViewBag.NhaCungCap;
                        string mn10 = ViewBag.ChucVu;
                        string mn11 = ViewBag.BinhLuanDanhGia;

                    }
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">
                                    <!--Menu trang chu-->
                                    <li class="@mn0">
                                        <a href="@Url.Action("Index","Home")">
                                            <i class="fa fa-home"></i>
                                            <span class="menu-title">
                                                <strong>Trang chủ</strong>
                                            </span>
                                        </a>
                                    </li>
                                    @if (session.Quyen == "1")
                                    {
                                        <!--Category name-->
                                        <li class="list-header">Quản lý đơn đặt hàng</li>
                                        <li class="@mn2">
                                            <a href="">
                                                <i class="fa fa-file-text"></i>
                                                <span class="menu-title">
                                                    <strong>Đơn hàng</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Order")">Đơn hàng đang đặt</a></li>
                                                <li><a href="@Url.Action("Shipping","Order")">Đơn hàng đang vận chuyển</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Allorder","Order")">Xem tất cả đơn hàng</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Donnhan","Order")">Đơn hàng đã nhận</a></li>
                                                <li><a href="@Url.Action("Donhuy","Order")">Đơn hàng đã hủy</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Quản lý sản phẩm</li>
                                        <li class="@mn3">
                                            <a href="">
                                                <i class="fa fa-motorcycle"></i>
                                                <span class="menu-title">
                                                    <strong>Sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Sanpham")">Danh sách sản phẩm</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <!--Menu 2-->
                                        <li class="@mn4">
                                            <a href="">
                                                <i class="fa fa-tasks"></i>
                                                <span class="menu-title">
                                                    <strong>Thông tin sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Thongtinsanpham","Sanpham")">Sản phẩm trong kho</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Quản lý người dùng</li>
                                        <li class="@mn8">
                                            <a href="">
                                                <i class="fa fa-users"></i>
                                                <span class="menu-title">
                                                    <strong>Thành viên</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Thanhvien")">Danh sách thành viên</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Create","Thanhvien")">Thêm thành viên</a></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider m-b-50"></li>
                                    }
                                    else if (session.Quyen == "2")
                                    {
                                        <!--Category name-->
                                        <li class="list-header">Quản lý sản phẩm</li>
                                        <li class="@mn3">
                                            <a href="">
                                                <i class="fa fa-motorcycle"></i>
                                                <span class="menu-title">
                                                    <strong>Sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Sanpham")">Danh sách sản phẩm</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Create","Sanpham")">Thêm sản phẩm</a></li>
                                            </ul>
                                        </li>
                                        <!--Menu 2-->
                                        <li class="@mn4">
                                            <a href="">
                                                <i class="fa fa-tasks"></i>
                                                <span class="menu-title">
                                                    <strong>Thông tin sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Thongtinsanpham","Sanpham")">Sản phẩm trong kho</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Sanphamdaban","Sanpham")">Sản phẩm đã bán</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Quản lý kho</li>
                                        <li class="@mn5">
                                            <a href="">
                                                <i class="fa fa-arrow-down"></i>
                                                <span class="menu-title">
                                                    <strong>Nhập sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Nhapkho","Khohang")">Danh sách phiếu nhập</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Create","Khohang")">Tạo phiếu nhập</a></li>
                                            </ul>
                                        </li>
                                        <!--Menu 2-->
                                        <li class="@mn6">
                                            <a href="@Url.Action("Xuatttsp","Khohang")">
                                                <i class="fa fa-arrow-up"></i>
                                                <span class="menu-title">
                                                    <strong>Xuất sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Xuatttsp","Khohang")">Đơn hàng chờ xuất</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Xuatkho","Khohang")">Danh sách phiếu xuất</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider m-b-50"></li>
                                    }
                                    else
                                    {
                                        <!--Category name-->
                                        <li class="list-header">Báo cáo</li>
                                        <li class="@mn1">
                                            <a href="">
                                                <i class="fa fa-line-chart"></i>
                                                <span class="menu-title">
                                                    <strong>Thống kê doanh số</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Report")">Doanh số bán hàng</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Doanhson","Report")">Doanh số nhập kho</a></li>
                                                <li><a href="@Url.Action("Doanhsox","Report")">Doanh số xuất kho</a></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Quản lý đơn đặt hàng</li>
                                        <li class="@mn2">
                                            <a href="">
                                                <i class="fa fa-file-text"></i>
                                                <span class="menu-title">
                                                    <strong>Đơn hàng</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Order")">Đơn hàng đang đặt</a></li>
                                                <li><a href="@Url.Action("Shipping","Order")">Đơn hàng đang vận chuyển</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Allorder","Order")">Xem tất cả đơn hàng</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Donnhan","Order")">Đơn hàng đã nhận</a></li>
                                                <li><a href="@Url.Action("Donhuy","Order")">Đơn hàng đã hủy</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Quản lý sản phẩm</li>
                                        <li class="@mn3">
                                            <a href="">
                                                <i class="fa fa-motorcycle"></i>
                                                <span class="menu-title">
                                                    <strong>Sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Sanpham")">Danh sách sản phẩm</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Create","Sanpham")">Thêm sản phẩm</a></li>
                                            </ul>
                                        </li>
                                        <!--Menu 2-->
                                        <li class="@mn4">
                                            <a href="">
                                                <i class="fa fa-tasks"></i>
                                                <span class="menu-title">
                                                    <strong>Thông tin sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Thongtinsanpham","Sanpham")">Sản phẩm trong kho</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Sanphamdaban","Sanpham")">Sản phẩm đã bán</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Quản lý kho</li>
                                        <li class="@mn5">
                                            <a href="">
                                                <i class="fa fa-arrow-down"></i>
                                                <span class="menu-title">
                                                    <strong>Nhập sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Nhapkho","Khohang")">Danh sách phiếu nhập</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Create","Khohang")">Tạo phiếu nhập</a></li>
                                            </ul>
                                        </li>
                                        <!--Menu 2-->
                                        <li class="@mn6">
                                            <a href="@Url.Action("Xuatttsp","Khohang")">
                                                <i class="fa fa-arrow-up"></i>
                                                <span class="menu-title">
                                                    <strong>Xuất sản phẩm</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Xuatttsp","Khohang")">Đơn hàng chờ xuất</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Xuatkho","Khohang")">Danh sách phiếu xuất</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Quản lý người dùng</li>
                                        <li class="@mn7">
                                            <a href="">
                                                <i class="fa fa-user"></i>
                                                <span class="menu-title">
                                                    <strong>Nhân viên</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Nhanvien")">Danh sách nhân viên</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Create","Nhanvien")">Thêm nhân viên</a></li>
                                            </ul>
                                        </li>
                                        <!--Menu 2-->
                                        <li class="@mn8">
                                            <a href="">
                                                <i class="fa fa-users"></i>
                                                <span class="menu-title">
                                                    <strong>Thành viên</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Index","Thanhvien")">Danh sách thành viên</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="@Url.Action("Create","Thanhvien")">Thêm thành viên</a></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>

                                        <!--Category name-->
                                        <li class="list-header">Quản lý khác</li>
                                        <li class="@mn9">
                                            <a href="">
                                                <i class="fa fa-cubes"></i>
                                                <span class="menu-title">
                                                    <strong>Nhà cung cấp</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Supplier","Manage")">Danh sách nhà cung cấp</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>
                                        <!--Menu 2-->
                                        <li class="@mn10">
                                            <a href="">
                                                <i class="fa fa-code-fork"></i>
                                                <span class="menu-title">
                                                    <strong>Chức vụ</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Position","Manage")">Danh sách chức vụ</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider"></li>
                                        <!--Menu 3-->
                                        <li class="@mn11">
                                            <a href="">
                                                <i class="fa fa-comments"></i>
                                                <span class="menu-title">
                                                    <strong>Bình luận đánh giá</strong>
                                                </span>
                                                <i class="arrow"></i>
                                            </a>
                                            <ul class="collapse">
                                                <li><a href="@Url.Action("Comment","Manage")">Danh sách bình luận</a></li>
                                                <li class="list-divider"></li>
                                            </ul>
                                        </li>
                                        <li class="list-divider m-b-50"></li>

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End menu-->
                </div>
            </nav>
            <!--END MAIN NAVIGATION-->
        </div>
        <!-- FOOTER -->
        <footer id="footer">
            <div class="pull-right pad-rgt">Currently v2.2</div>
            <p class="pad-lft">&#0169; 2020 Nguyễn Đình Tuân</p>
        </footer>
        <!-- END FOOTER -->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>

    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Assets/admin/js/jquery-2.1.1.min.js"></script>
    <script src="~/Assets/admin/js/bootstrap.min.js"></script>
    <script src="~/Assets/admin/plugins/fast-click/fastclick.min.js"></script>
    <script src="~/Assets/admin/js/nifty.min.js"></script>
    <script src="~/Assets/admin/plugins/morris-js/morris.min.js"></script>
    <script src="~/Assets/admin/plugins/morris-js/raphael-js/raphael.min.js"></script>
    <script src="~/Assets/admin/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Assets/admin/plugins/skycons/skycons.min.js"></script>
    <script src="~/Assets/admin/plugins/switchery/switchery.min.js"></script>
    <script src="~/Assets/admin/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/admin/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Assets/admin/js/tucode.js"></script>

</body>
</html>
