﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.DonHang>

@{
    ViewBag.Title = "Đánh giá sản phẩm";
    Layout = "~/Views/Shared/_Layouttk.cshtml";
}

<div class="tab-pane active my-account">
    <div class="page-title">
        <h2>Đánh giá sản phẩm</h2>
    </div>
    <div class="static-contain">
        <fieldset class="group-select">
            <div class="table-responsive">
                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                    <li class="active"><a href="#chuadanhgia" data-toggle="tab">Chưa đánh giá</a></li>
                    <li><a href="#dadanhgia" data-toggle="tab">Đã đánh giá</a></li>
                </ul>
                <div id="productTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="chuadanhgia">
                        <table id="wishlist-table" class="clean-table linearize-table data-table m-b-10">
                            <colgroup>
                                <col width="1" />
                                <col />
                                <col />
                            </colgroup>
                            <tbody>
                                <tr id="item_31" class="first odd">
                                    <td class="wishlist-cell0 customer-wishlist-item-image"><a href="" class="product-image"><img width="100" src="~/Assets/user/products-images/" /></a></td>
                                    <td class="wishlist-cell1 customer-wishlist-item-info">
                                        <h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
                                    </td>
                                    <td class="t-right">
                                        <button class="button btn-update" type="submit"><span>Đến đánh giá</span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<table id="wishlist-table" class="clean-table linearize-table data-table">
                            <colgroup>
                                <col width="1" />
                                <col />
                                <col />
                            </colgroup>
                            <tbody>
                                <tr id="item_31" class="first odd">
                                    <td class="wishlist-cell0 customer-wishlist-item-image"><a href="" class="product-image"><img width="100" src="~/Assets/user/products-images/BoltR950.jpg" /></a></td>
                                    <td class="wishlist-cell1 customer-wishlist-item-info">
                                        <h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
                                        <div class="description std">
                                                <div class="inner">
                                                    Chất lượng:
                                                    <input id="Radio1" name="sosaodanhgia" type="radio" />
                                                    <label class="m-r-10" for="Radio1">1*</label>
                                                    <input id="Radio2" name="sosaodanhgia" type="radio" />
                                                    <label class="m-r-10" for="Radio2">2*</label>
                                                    <input id="Radio3" name="sosaodanhgia" type="radio" />
                                                    <label class="m-r-10" for="Radio3">3*</label>
                                                    <input id="Radio4" name="sosaodanhgia" type="radio" />
                                                    <label class="m-r-10" for="Radio4">4*</label>
                                                    <input id="Radio5" name="sosaodanhgia" type="radio" />
                                                    <label class="m-r-10" for="Radio5">5*</label>
                                                </div>
                                            </div>
                                        <textarea rows="2" name="noidungbinhluan" style="height: 80px; width: 96%;" placeholder="Nhập nội dung"></textarea>
                                    </td>
                                    <td class="t-right">
                                        <button class="button btn-update" type="submit"><span>Đến đánh giá</span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>-->
                    </div>
                    <div class="tab-pane fade" id="dadanhgia">
                        <div class="std">
                            <div class="col-sm-12 wow">
                                b
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="pages">
            <label>Trang:</label>
            @*@Html.PagedListPager(Model, page => Url.Action("Danhgia", new { page }))*@
        </div>
    </div>
</div>
