﻿
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layouttk.cshtml";
}

<div class="tab-pane active my-account">
    <div class="page-title">
        <h2>Đổi mật khẩu</h2>
    </div>
    <div class="static-contain">
        <fieldset class="group-select">
            @using (Html.BeginForm("Doimatkhau", "Taikhoan", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <ul>
                    <li>
                        <div class="input-box">
                            <label for="matkhaucu">Mật khẩu cũ<span class="required">*</span></label>
                            <br>
                            <input type="password" id="matkhaucu" name="matkhaucu" value="" class="input-text" required />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <label for="matkhaumoi">Mật khẩu mới<span class="required">*</span></label>
                            <br>
                            <input type="password" id="matkhaumoi" name="matkhaumoi" value="" class="input-text" required />
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <label for="matkhaumoi2">Nhập lại mật khẩu mới<span class="required">*</span></label>
                            <br>
                            <input type="password" id="matkhaumoi2" name="matkhaumoi2" value="" class="input-text" required />
                        </div>
                    </li>
                </ul>
                <p class="require"><em class="required">* </em>Bắt buộc</p>
                <div class="buttons-set m-t-20">
                    <a href="@Url.Action("Index","Taikhoan")" class="m-r-10"><button type="button" class="button"><span>Hủy</span></button></a>
                    <button type="submit" class="button submit"><span>Xác nhận</span></button>
                </div>
            }
        </fieldset>
    </div>
</div>
