﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.DonHang>

@{
    ViewBag.Title = "Đơn hàng của tôi";
    Layout = "~/Views/Shared/_Layouttk.cshtml";
}

<div class="tab-pane active my-account">
    <div class="page-title">
        <h2>Đơn hàng của tôi</h2>
    </div>
    <div class="static-contain">
        <fieldset class="group-select">
            <div class="table-responsive">
                @if (ViewBag.DonHang != 0)
                {
                    foreach (var item in Model)
                    {
                        <table class="data-table cart-table">
                            <colgroup>
                                <col width="17%" />
                                <col width="20%" />
                                <col width="17%" />
                                <col />
                                <col width="17%" />
                            </colgroup>
                            <thead style="text-align:center">
                                <tr class="first last">
                                    <th colspan="3" class="t-left">Mã đơn hàng: @item.maDH</th>
                                    <th colspan="2" class="t-right"><a href="@Url.Action("Xemdonhang","Taikhoan",new { madonhang = item.maDH})" class="xct"><i>Xem chi tiết</i></a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="first odd">
                                    <td>Ngày đặt:<br />@String.Format("{0:dd/MM/yyyy}", item.ngayDatHang)</td>
                                    <td>Ngày giao hàng dự kiến:<br />@String.Format("{0:dd/MM/yyyy}", item.ngayGiaoHang)</td>
                                    <td>Tổng số lượng:<br />@item.tongSoLuong</td>
                                    <td>Tổng tiền:<br /><span class="price">@String.Format("{0:0,0 VNĐ}", item.tongTien)</span></td>
                                    <td class="t-right">Trạng thái:<br /><span class="price"><i>@item.trangThai</i></span></td>
                                </tr>
                            </tbody>
                        </table>
                        using (Html.BeginForm("Donhang", "Taikhoan", FormMethod.Post))
                        {
                            <input type="hidden" name="madonhang" value="@item.maDH">
                            if (item.ngayDatHang >= ViewBag.Huy)
                            {
                                if (item.trangThai != "Chờ xử lý")
                                {
                                    <div class="m-b-20"><i>Không thể hủy</i></div>
                                }
                                else if (item.trangThai != "Đã hủy")
                                {
                                    <button type="submit" onclick="if(confirm('Bạn có muốn hủy đơn hàng này không?')==false) return false;" class="button m-b-20"><span>Hủy đơn hàng</span></button>
                                }
                            }
                            else
                            {
                                <div class="m-b-20"><i>Không thể hủy</i></div>
                            }
                        }
                    }
                }
                else
                {
                    <table class="data-table cart-table">
                        <thead style="text-align:center">
                            <tr class="first last">
                                <th colspan="5" class="t-left"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="first odd">
                                <td colspan="5">Chưa có đơn hàng nào</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </fieldset>
        <div class="pages">
            <label>Trang:</label>
            @Html.PagedListPager(Model, page => Url.Action("Donhang", new { page }))
        </div>
    </div>
</div>