﻿@model Models.EF.KhachHang

@{
    ViewBag.Title = "Tài khoản của tôi";
    Layout = "~/Views/Shared/_Layouttk.cshtml";
}

<div class="tab-pane active my-account">
    <div class="page-title">
        <h2>Thông tin tài khoản</h2>
    </div>
    <div class="static-contain">
        <fieldset class="group-select">
            <ul>
                <li>
                    <div class="input-box name-firstname" style="width:30%">
                        <span>Mã tài khoản</span>
                        <br>
                        <div class="taikhoan">@Model.maKH</div>
                    </div>
                    <div class="input-box name-firstname" style="width:58%;">
                        <a href="@Url.Action("Doimatkhau","Taikhoan")"><button type="button" style="float:right" class="button button-compare"><span>Đổi mật khẩu</span></button></a>
                    </div>
                </li>
                <li>
                    <div class="input-box" style="width:58%">
                        <span>Họ và tên</span>
                        <br>
                        <div class="taikhoan">@Model.tenKH</div>
                    </div>
                    <div class="input-box" style="width:30%">
                        <span>Ví thưởng</span>
                        <br>
                        <div class="taikhoan">@String.Format("{0:0,0 VNĐ}", Model.tienThuong)</div>
                    </div>
                </li>
                <li>
                    <div class="input-box" style="width:58%">
                        <span>Email</span>
                        <br>
                        <div class="taikhoan">@Model.Email</div>
                    </div>
                    <div class="input-box" style="width:30%">
                        <span>Ngày sinh</span>
                        <br>
                        <div class="taikhoan">@String.Format("{0:dd/MM/yyyy}", Model.ngaySinh)</div>
                    </div>
                </li>
                <li>
                    <div class="input-box" style="width:58%">
                        <span>Số điện thoại</span>
                        <br>
                        <div class="taikhoan">@Model.SDT</div>
                    </div>
                    <div class="input-box" style="width:30%">
                        <span>Giới tính</span>
                        <br>
                        @{ string gt = Model.gioiTinh == "1" ? "Nam" : "Nữ"; }
                        <div class="taikhoan">@gt</div>
                    </div>
                </li>
                <li>
                    <span>Địa chỉ</span>
                    <br>
                    <div class="taikhoan">@Model.diaChiKH</div>
                </li>
            </ul>
            <div class="buttons-set m-t-20">
                <a href="@Url.Action("Suathongtin","Taikhoan")"><button type="button" class="button button-clear m-r-10"><span>Cập nhật thông tin</span></button></a>
                <a href="@Url.Action("Logout", "Home")"><button type="button" class="button"><span><i class="icon icon-signout"></i> Đăng xuất</span></button></a>
            </div>
        </fieldset>
    </div>
</div>
