﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.DonHang>

@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/_Layouttk.cshtml";
}

<div class="tab-pane active my-account">
    <div class="page-title">
        <h2>Lịch sử mua hàng</h2>
    </div>
    <div class="static-contain">
        <fieldset class="group-select">
            <div class="table-responsive">
                @if (ViewBag.DonHang != 0)
                {
                    foreach (var item in Model)
                    {
                        <table class="data-table cart-table m-b-20">
                            <colgroup>
                                <col width="17%" />
                                <col width="20%" />
                                <col width="17%" />
                                <col />
                                <col width="17%" />
                            </colgroup>
                            <thead style="text-align:center">
                                <tr class="first last">
                                    <th colspan="3" class="t-left">Mã đơn hàng: @item.maDH</th>
                                    <th colspan="2" class="t-right"><a href="@Url.Action("Xemdonhang","Taikhoan",new { madonhang = item.maDH})" class="xct"><i>Xem chi tiết</i></a></th>
                                </tr>
                                @if (item.trangThai == "Đã hủy")
                                {
                                    <tr class="first last">
                                        <th>Lý do hủy</th>
                                        <td colspan="4" class="t-left"><em>@item.lyDo</em></td>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                <tr class="first odd">
                                    <td>Ngày đặt:<br />@String.Format("{0:dd/MM/yyyy}", item.ngayDatHang)</td>
                                    <td>Ngày giao hàng dự kiến:<br />@String.Format("{0:dd/MM/yyyy}", item.ngayGiaoHang)</td>
                                    <td>Tổng số lượng:<br />@item.tongSoLuong</td>
                                    <td>Tổng tiền:<br /><span class="price">@String.Format("{0:0,0 VNĐ}", item.tongTien)</span></td>
                                    <td class="t-right">Trạng thái:<br /><span class="price"><i>@item.trangThai</i></span></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                else
                {
                    <table class="data-table cart-table">
                        <thead style="text-align:center">
                            <tr class="first last">
                                <th colspan="5" class="t-left"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="first odd">
                                <td colspan="5">Chưa có đơn hàng nào</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </fieldset>
        <div class="pages">
            <label>Trang:</label>
            @Html.PagedListPager(Model, page => Url.Action("Lichsu", new { page }))
        </div>
    </div>
</div>
