﻿@model Models.EF.KhachHang

@{
    ViewBag.Title = "Cập nhật thông tin";
    Layout = "~/Views/Shared/_Layouttk.cshtml";
}

<div class="page-title">
    <h2>Cập nhật thông tin</h2>
</div>
<div class="static-contain">
    <fieldset class="group-select">
        @using (Html.BeginForm("Suathongtin", "Taikhoan", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <ul>
                <li>
                    <div class="customer-name">
                        <div class="input-box">
                            <label for="hovaten">Họ và tên <span class="required">*</span></label>
                            <br>
                            @Html.TextBoxFor(model => model.tenKH, new { @type = "text", @id = "tenkh", @class = "input-text required-entry", @placeholder = "Nhập họ và tên", @required = "" })
                            @Html.ValidationMessageFor(model => model.tenKH, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-box">
                            <label>Giới tính <span class="required">*</span></label>
                            <br>
                            <div style="margin:10px 10px 20px 10px">
                                @Html.RadioButtonFor(model => model.gioiTinh, "1", new { @id = "nam", @class = "radio", @required = "" })
                                <label class="m-r-10" for="nam">Nam</label>
                                @Html.RadioButtonFor(model => model.gioiTinh, "0", new { @id = "nu", @class = "radio", @required = "" })
                                <label class="m-r-10" for="nam">Nữ</label>
                                @Html.RadioButtonFor(model => model.gioiTinh, "2", new { @id = "khac", @class = "radio", @required = "" })
                                <label for="nam">Khác</label>
                                @Html.ValidationMessageFor(model => model.gioiTinh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    @{
                        var ngay = String.Format("{0:dd}", Model.ngaySinh);
                        var thang = "Tháng " + String.Format("{0:MM}", Model.ngaySinh);
                        var nam = String.Format("{0:yyyy}", Model.ngaySinh);
                        var ngay1 = Convert.ToInt32(ngay);
                        var thang1 = Convert.ToInt32(String.Format("{0:MM}", Model.ngaySinh));
                        var nam1 = Convert.ToInt32(nam);
                    }
                    <script src="~/Assets/user/js/jquery-latest.js"></script>
                    <script>
                        $(function () {
                            //Năm tự động điền vào select
                            var seYear = $('#year');
                            var date = new Date();
                            var cur = date.getFullYear();

                            seYear.append('<option value="@nam1">@nam</option>');
                            for (i = cur; i >= cur - 100; i--) {
                                seYear.append('<option value="' + i + '">' + i + '</option>');
                            };

                            //Tháng tự động điền vào select
                            var seMonth = $('#month');
                            var date = new Date();

                            var month = new Array();
                            month[1] = "Tháng 01";
                            month[2] = "Tháng 02";
                            month[3] = "Tháng 03";
                            month[4] = "Tháng 04";
                            month[5] = "Tháng 05";
                            month[6] = "Tháng 06";
                            month[7] = "Tháng 07";
                            month[8] = "Tháng 08";
                            month[9] = "Tháng 09";
                            month[10] = "Tháng 10";
                            month[11] = "Tháng 11";
                            month[12] = "Tháng 12";

                            seMonth.append('<option value="@thang1">@thang</option>');
                            for (i = 1; i <= 12; i++) {
                                seMonth.append('<option value="' + i + '">' + month[i] + '</option>');
                            };

                            //Ngày tự động điền vào select
                            function dayList(month, year) {
                                var day = new Date(year, month, 0);
                                return day.getDate();
                            }

                            $('#year, #month').change(function () {
                                //Đoạn code lấy id không viết bằng jQuery để phù hợp với đoạn code bên dưới
                                var y = document.getElementById('year');
                                var m = document.getElementById('month');
                                var d = document.getElementById('day');

                                var year = y.options[y.selectedIndex].value;
                                var month = m.options[m.selectedIndex].value;
                                var day = d.options[d.selectedIndex].value;
                                if (day == @ngay1) {
                                    var days = (year == ' ' || month == ' ') ? 31 : dayList(month, year);
                                    d.options.length = 0;
                                    d.options[d.options.length] = new Option('@ngay1', '@ngay1');
                                    for (var i = 1; i <= days; i++)
                                        d.options[d.options.length] = new Option(i, i);
                                }
                            });
                        });
                    </script>

                    <label>Ngày sinh <span class="required">*</span></label>
                    <br>
                    <select style="background-color:#fff;width:auto;" name="year" id="year" size="1" required=""></select>
                    <select style="background-color:#fff;width:auto;" name="month" id="month" size="1" required=""></select>
                    <select style="background-color:#fff;width:auto;" name="day" id="day" size="1" required="">
                        <option value="@ngay1" selected="selected">@ngay</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
                </li>
                <li>
                    <label for="diachi">Địa chỉ <span class="required">*</span></label>
                    <br>
                    @Html.TextBoxFor(model => model.diaChiKH, new { @type = "text", @id = "tenkh", @class = "input-text required-entry", @placeholder = "Nhập địa chỉ", @required = "" })
                    @Html.ValidationMessageFor(model => model.diaChiKH, "", new { @class = "text-danger" })
                </li>
            </ul>
            <p class="require"><em class="required">* </em>Bắt buộc</p>
            <div class="buttons-set m-t-20">
                <a href="@Url.Action("Index","Taikhoan")" class="m-r-10"><button type="button" class="button"><span>Hủy</span></button></a>
                <button type="submit" class="button submit"><span>Xác nhận</span></button>
            </div>
        }
    </fieldset>
</div>