﻿@model Models.EF.DonHang

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layouttk.cshtml";
}

<div class="tab-pane active my-account">
    <div class="page-title">
        <h2>Chi tiết đơn hàng</h2>
    </div>
    <div class="static-contain">
        <fieldset class="group-select">
            <div class="table-responsive">
                <fieldset>
                    <table class="data-table cart-table" id="shopping-cart-table">
                        <colgroup>
                            <col width="1" />
                            <col />
                            <col />
                            <col width="15%" />
                            <col width="3%" />
                        </colgroup>
                        <thead style="text-align:center">
                            <tr class="first last">
                                <th colspan="2" class="t-left">@Model.maDH</th>
                                <th colspan="3" class="t-right">Tình trạng: <span class="price"><i>@Model.trangThai</i></span></th>
                            </tr>
                            @if (Model.trangThai == "Đã hủy")
                            {
                                <tr class="first last">
                                    <th>Lý do hủy</th>
                                    <td colspan="4" class="t-left"><em>@Model.lyDo</em></td>
                                </tr>
                            }
                        </thead>
                        <thead style="text-align:center">
                            <tr class="first last">
                                <th class="t-center">&nbsp;</th>
                                <th>Tên sản phẩm</th>
                                <th class="t-center">Màu sắc</th>
                                <th class="t-center">Số lượng</th>
                                <th class="t-center">Giá bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ChiTietDonHang)
                            {
                                <tr class="first odd">
                                    <td class="image t-center"><a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })"><img width="70" src="~/Assets/user/products-images/@item.AnhSP"></a></td>
                                    <td class=""><a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })">@item.TenSP</a></td>
                                    <td class="t-center">@item.MauSac</td>
                                    <td class="t-center movewishlist">
                                        <input type="text" class="input-text qty" value="1" disabled />
                                    </td>
                                    <td class="movewishlist t-center"><span class="cart-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.GiaBan)</span></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <table class="table shopping-cart-table-total" id="shopping-cart-totals-table">
                <colgroup>
                    <col />
                    <col />
                </colgroup>
                <tfoot>
                    <tr style="border-top: 2px solid #eaeaea">
                        <td colspan="1" class="a-left"><strong>Tổng cộng</strong></td>
                        <td class="a-right"><strong><span class="price">@String.Format("{0:0,0 VNĐ}", Model.tongTien)</span></strong></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Ngày đặt hàng</td>
                        <td><span class="">@String.Format("{0:dd/MM/yyyy}", Model.ngayDatHang)</span></td>
                    </tr>
                    <tr>
                        <td>Ngày giao hàng dự kiến</td>
                        <td><span class="">@String.Format("{0:dd/MM/yyyy}", Model.ngayGiaoHang)</span></td>
                    </tr>
                    <tr>
                        <td>Ngày thanh toán</td>
                        <td><span class="">@String.Format("{0:dd/MM/yyyy}", Model.ngayThanhToan)</span></td>
                    </tr>
                    <tr>
                        <td>Địa chỉ nhận hàng</td>
                        <td><span class="">@Model.diaChiGiaoHang</span></td>
                    </tr>
                    <tr>
                        <td colspan="1" class="a-left" style="border:none">Tổng số lượng</td>
                        <td class="a-right" style="border:none"><span class="">@Model.tongSoLuong</span></td>
                    </tr>
                    <tr>
                        <td colspan="1" class="a-left" style="border:none">Tổng phụ</td>
                        <td class="a-right" style="border:none"><span class="price">@String.Format("{0:0,0 VNĐ}", Model.tongPhu)</span></td>
                    </tr>
                    <tr>
                        <td colspan="1" class="a-left" style="border:none">Khuyến mãi</td>
                        <td class="a-right" style="border:none"><span class="">@Model.tongSoLuong%</span></td>
                    </tr>
                    <tr>
                        <td colspan="1" class="a-left" style="border:none">Đã giảm</td>
                        <td class="a-right" style="border:none"><span class="price">@String.Format("- {0:0,0 VNĐ}", Model.tongGiam)</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons-set1" id="shipping-buttons-container">
                @using (Html.BeginForm("Donhang", "Taikhoan", FormMethod.Post))
                {
                    <button type="button" onclick="history.back()" class="button m-r-10"><span>Quay lại</span></button>
                    <input type="hidden" name="madonhang" value="@Model.maDH">
                    if (Model.ngayDatHang >= ViewBag.Huy)
                    {
                        if (Model.trangThai == "Chờ xử lý")
                        {
                            if (Model.trangThai != "Đã hủy")
                            {
                                <button type="submit" onclick="if(confirm('Bạn có muốn hủy đơn hàng này không?')==false) return false;" class="button"><span>Hủy đơn hàng</span></button>
                            }
                        }
                    }
                }
            </div>
        </fieldset>
    </div>
</div>
