﻿@model Models.EF.SanPham

@{
    ViewBag.Title = "Thêm sản phẩm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.SanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thêm sản phẩm</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <!-- BASIC FORM ELEMENTS -->
        @using (Html.BeginForm("Create", "Sanpham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel-body form-horizontal form-padding">
                <div class="col-md-4">
                    <h4 class="text-warning">Ảnh sản phẩm</h4>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="anhsp">File ảnh <span class="required">*</span></label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" id="anhsp" name="file" value="" required="" />
                            @*@Html.TextBoxFor(x => x.anhSP, new { @type = "text", @id = "anhsp", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm", @required = "" })*@
                            @Html.ValidationMessageFor(x => x.anhSP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="hinhanh1">File ảnh 1</label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" id="hinhah1" name="file1" value="" />
                            @*@Html.TextBoxFor(x => x.hinhAnh1, new { @type = "text", @id = "hinhanh1", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm" })*@
                            @Html.ValidationMessageFor(x => x.hinhAnh1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="hinhanh2">File ảnh 2</label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" id="hinhah2" name="file2" value="" />
                            @*@Html.TextBoxFor(x => x.hinhAnh2, new { @type = "text", @id = "hinhah2", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm" })*@
                            @Html.ValidationMessageFor(x => x.hinhAnh2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="hinhanh3">File ảnh 3</label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" id="hinhah3" name="file3" value="" />
                            @*@Html.TextBoxFor(x => x.hinhAnh3, new { @type = "text", @id = "hinhanh3", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm" })*@
                            @Html.ValidationMessageFor(x => x.hinhAnh3, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="hinhanh4">File ảnh 4</label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" id="hinhah4" name="file4" value="" />
                            @*@Html.TextBoxFor(x => x.hinhAnh4, new { @type = "text", @id = "hinhanh4", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm" })*@
                            @Html.ValidationMessageFor(x => x.hinhAnh4, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="hinhanh5">File ảnh 5</label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" id="hinhah5" name="file5" value="" />
                            @*@Html.TextBoxFor(x => x.hinhAnh5, new { @type = "text", @id = "hinhanh5", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm" })*@
                            @Html.ValidationMessageFor(x => x.hinhAnh5, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h4 class="text-warning">Thông tin sản phẩm</h4>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Mã sản phẩm</label>
                        <div class="col-md-9"><p class="form-control-static text-bold">@ViewBag.MaSanPham</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="tensp">Tên sản phẩm <span class="required">*</span></label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.tenSP, new { @type = "text", @id = "tensp", @class = "form-control", @placeholder = "Nhập tên sản phẩm", @required = "" })
                            @Html.ValidationMessageFor(x => x.tenSP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="loaisanpham">Loại sản phẩm <span class="required">*</span></label>
                        <div class="col-md-9">
                            <select class="selectpicker" name="lsp">
                                @foreach (var item in ViewBag.ListHangSanXuat)
                                {
                                    <optgroup label="@item.tenHSX">
                                        @foreach (var item2 in ViewBag.ListLoaiSanPham)
                                        {
                                            if (item.maHSX == item2.maHSX)
                                            {
                                                <option value="@item2.maLSP">@item2.tenLSP</option>
                                            }
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="mota">Mô tả <span class="required">*</span></label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(x => x.moTa, new { @class = "form-control", @id = "mota", @rows = "7" })
                            @Html.ValidationMessageFor(x => x.moTa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="baohanh">Bảo hành <span class="required">*</span></label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.baoHanh, new { @type = "text", @id = "baohanh", @class = "form-control", @placeholder = "Nhập số tháng bảo hành", @required = "" })
                            @Html.ValidationMessageFor(x => x.baoHanh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body form-horizontal form-padding">
                <h4 class="text-warning">Chi tiết sản phẩm</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <colgroup>
                            <col width="30%" />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-danger" colspan="2">Động cơ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Động cơ</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.dongCo, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết động cơ" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.dongCo, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Dung tích xi lanh</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.dungTichXilanh, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết dung tích xi-lanh" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.dungTichXilanh, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Đường kính x hành trình piston</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.dKhTPiston, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết đường kính và hành trình piston" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.dKhTPiston, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Tỉ lệ nén</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.tiLeNen, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết tỉ lệ nén" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.tiLeNen, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Hệ thống nhiên liệu</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.heThongNhienLieu, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết hệ thống nhiên liệu" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.heThongNhienLieu, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Đánh lửa</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.danhLua, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết hệ thống đánh lửa" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.danhLua, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        <thead>
                            <tr>
                                <th class="text-danger" colspan="2">Hiệu suât</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Hệ thống giảm sốc trước</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.giamSocBanhTruoc, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết hệ thống giảm sốc trước" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.giamSocBanhTruoc, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Hệ thống giảm sốc sau</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.giamSocBanhSau, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết hệ thống giảm sốc sau" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.giamSocBanhSau, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Lốp trước</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.lopTruoc, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết lốp trước" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.lopTruoc, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Lốp sau</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.lopSau, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết lốp sau" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.lopSau, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Hệ thống phanh trước</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.phanhTruoc, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết hệ thống phanh trước" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.phanhTruoc, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Hệ thống phanh sau</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.phanhSau, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết hệ thống phanh sau" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.phanhSau, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        <thead>
                            <tr>
                                <th class="text-danger" colspan="2">Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Loại khung xe</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.khungXe, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết khung xe" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.khungXe, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Chiều dài thổng thể</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.chieuDai, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết chiều dài" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.chieuDai, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Chiều rộng tổng thể</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.chieuRong, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết chiều rộng" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.chieuRong, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Chiều cao tổng thể</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.chieuCao, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết chiều cao" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.chieuCao, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Chiều cao yên</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.chieuCaoYen, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết chiều cao yên" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.chieuCaoYen, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Trong lượng khô</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.trongLuongKho, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết trọng lượng khô" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.trongLuongKho, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Lượng nhiên liệu</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.thungNhienLieu, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết lượng nhiên liệu" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.thungNhienLieu, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Chiều dài cơ sở</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.chieuDaiCoSo, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết chiều dài cơ sở" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.chieuDaiCoSo, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Tính năng đặc biệt</strong></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ChiTietSanPham.tinhNangDacBiet, new { @type = "text", @class = "form-control", @placeholder = "Nhập chi tiết tính năng đặt biệt" })
                                    @Html.ValidationMessageFor(x => x.ChiTietSanPham.tinhNangDacBiet, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-success btn-labeled fa fa-check mar-rgt" type="submit">Thêm sản phẩm</button>
                        <a href="@Url.Action("Index", "Sanpham")" class="btn btn-danger btn-labeled fa fa-close">Hủy</a>
                    </div>
                </div>
            </div>
        }
        <!-- END BASIC FORM ELEMENTS -->
    </div>
</div>