﻿@model Models.EF.ThongTinSanPham

@{
    ViewBag.Title = "Chi tiết thông tin sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ThongTinSanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Chi tiết thông tin sản phẩm</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <div class="panel-body form-horizontal form-padding">
            <div class="form-group">
                <label class="col-md-3 control-label">Mã phiếu nhập</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.maPN</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Ngày nhập</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@String.Format("{0:dd/MM/yyyy}", Model.PhieuNhap.ngayNhap)</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Mã Thông tin sản phẩm</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.maTTSP</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Mã sản phẩm</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.maSP</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="tensp">Tên sản phẩm</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.SanPham.tenSP</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="hinhanh1">Số khung</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.soMay</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="hinhanh2">Số máy</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.soKhung</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="hinhanh3">Màu sắc</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.mauSac</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="hinhanh4">giá bán</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@String.Format("{0:0,0 VNĐ}", Model.giaBan)</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="hinhanh5">tình trạng</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.tinhTrang</p></div>
            </div>
        </div>

        <div class="form-group">
            <p class="required">* Phần bắt buộc</p>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <a href="@Url.Action("Updatettsp","Sanpham", new { @mattsp = Model.maTTSP })" class="btn btn-mint btn-labeled fa fa-repeat mar-rgt">Cập nhật</a>
                    <a href="@Url.Action("Thongtinsanpham", "Sanpham")" class="btn btn-danger btn-labeled fa fa-close">Quay về</a>
                </div>
            </div>
        </div>
    </div>
</div>