﻿@model Models.EF.SanPham

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.SanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin chi tiết sản phẩm</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <!-- BASIC FORM ELEMENTS -->
        <div class="panel-body form-horizontal form-padding">
            <div class="col-md-4">
                <div>
                    <div class="form-group"><img width="250" src="~/Assets/user/products-images/@Model.anhSP"></div>
                    <div class="form-group">
                        <img width="70" src="~/Assets/user/products-images/@Model.hinhAnh1">
                        <img width="70" src="~/Assets/user/products-images/@Model.hinhAnh2">
                        <img width="70" src="~/Assets/user/products-images/@Model.hinhAnh3">
                        <img width="70" src="~/Assets/user/products-images/@Model.hinhAnh4">
                        <img width="70" src="~/Assets/user/products-images/@Model.hinhAnh5">
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">File ảnh</label>
                        <div class="col-md-9"><p class="form-control-static text-bold">@Model.anhSP</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">File ảnh 1</label>
                        <div class="col-md-9"><p class="form-control-static text-bold">@Model.hinhAnh1</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">File ảnh 2</label>
                        <div class="col-md-9"><p class="form-control-static text-bold">@Model.hinhAnh2</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">File ảnh 3</label>
                        <div class="col-md-9"><p class="form-control-static text-bold">@Model.hinhAnh3</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">File ảnh 4</label>
                        <div class="col-md-9"><p class="form-control-static text-bold">@Model.hinhAnh4</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">File ảnh 5</label>
                        <div class="col-md-9"><p class="form-control-static text-bold">@Model.hinhAnh5</p></div>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <h4 class="text-warning">Thông tin sản phẩm</h4>
                <div class="form-group">
                    <label class="col-md-3 control-label">Mã sản phẩm</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.maSP <span class="text-danger"><i>@Model.tinhTrang</i></span></p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Tên sản phẩm</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.tenSP</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Giá bán</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.giaBan</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Số lượng</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.soLuong</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Hãng sản xuất</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.LoaiSanPham.HangSanXuat.tenHSX</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Loại sản phẩm</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.LoaiSanPham.tenLSP</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Mô tả</label>
                    <div class="col-md-9"><textarea class="form-control text-bold" rows="7" readonly>@Model.moTa</textarea></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Lượt xem</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.xemNhieu</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Lượt mua</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.muaNhieu</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Tỉ lệ đánh giá</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.tiLeDanhGia</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Bảo hành</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.baoHanh tháng</p></div>
                </div>
            </div>
        </div>
        <div class="panel-body form-horizontal form-padding">
            <h4 class="text-warning">Chi tiết sản phẩm</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <colgroup>
                        <col width="30%" />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="text-danger" colspan="2">Động cơ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Động cơ</strong></td>
                            <td>@Model.ChiTietSanPham.dongCo</td>
                        </tr>
                        <tr>
                            <td><strong>Dung tích xi lanh</strong></td>
                            <td>@Model.ChiTietSanPham.dungTichXilanh</td>
                        </tr>
                        <tr>
                            <td><strong>Đường kính x hành trình piston</strong></td>
                            <td>@Model.ChiTietSanPham.dKhTPiston</td>
                        </tr>
                        <tr>
                            <td><strong>Tỉ lệ nén</strong></td>
                            <td>@Model.ChiTietSanPham.tiLeNen</td>
                        </tr>
                        <tr>
                            <td><strong>Hệ thống nhiên liệu</strong></td>
                            <td>@Model.ChiTietSanPham.heThongNhienLieu</td>
                        </tr>
                        <tr>
                            <td><strong>Đánh lửa</strong></td>
                            <td>@Model.ChiTietSanPham.danhLua</td>
                        </tr>
                    <thead>
                        <tr>
                            <th class="text-danger" colspan="2">Hiệu suât</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Hệ thống giảm sốc trước</strong></td>
                            <td>@Model.ChiTietSanPham.giamSocBanhTruoc</td>
                        </tr>
                        <tr>
                            <td><strong>Hệ thống giảm sốc sau</strong></td>
                            <td>@Model.ChiTietSanPham.giamSocBanhSau</td>
                        </tr>
                        <tr>
                            <td><strong>Lốp trước</strong></td>
                            <td>@Model.ChiTietSanPham.lopTruoc</td>
                        </tr>
                        <tr>
                            <td><strong>Lốp sau</strong></td>
                            <td>@Model.ChiTietSanPham.lopSau</td>
                        </tr>
                        <tr>
                            <td><strong>Hệ thống phanh trước</strong></td>
                            <td>@Model.ChiTietSanPham.phanhTruoc</td>
                        </tr>
                        <tr>
                            <td><strong>Hệ thống phanh sau</strong></td>
                            <td>@Model.ChiTietSanPham.phanhSau</td>
                        </tr>
                    <thead>
                        <tr>
                            <th class="text-danger" colspan="2">Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Loại khung xe</strong></td>
                            <td>@Model.ChiTietSanPham.khungXe</td>
                        </tr>
                        <tr>
                            <td><strong>Chiều dài thổng thể</strong></td>
                            <td>@Model.ChiTietSanPham.chieuDai</td>
                        </tr>
                        <tr>
                            <td><strong>Chiều rộng tổng thể</strong></td>
                            <td>@Model.ChiTietSanPham.chieuRong</td>
                        </tr>
                        <tr>
                            <td><strong>Chiều cao tổng thể</strong></td>
                            <td>@Model.ChiTietSanPham.chieuCao</td>
                        </tr>
                        <tr>
                            <td><strong>Chiều cao yên</strong></td>
                            <td>@Model.ChiTietSanPham.chieuCaoYen</td>
                        </tr>
                        <tr>
                            <td><strong>Trong lượng khô</strong></td>
                            <td>@Model.ChiTietSanPham.trongLuongKho</td>
                        </tr>
                        <tr>
                            <td><strong>Lượng nhiên liệu</strong></td>
                            <td>@Model.ChiTietSanPham.thungNhienLieu</td>
                        </tr>
                        <tr>
                            <td><strong>Chiều dài cơ sở</strong></td>
                            <td>@Model.ChiTietSanPham.chieuDaiCoSo</td>
                        </tr>
                        <tr>
                            <td><strong>Tính năng đặc biệt</strong></td>
                            <td>@Model.ChiTietSanPham.tinhNangDacBiet</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <a href="@Url.Action("Update","Sanpham", new { @masanpham = Model.maSP })" class="btn btn-success btn-labeled fa fa-check mar-rgt">Cập nhật</a>
                    @if (string.IsNullOrEmpty(Model.tinhTrang))
                    {
                        <a href="@Url.Action("Khongban","Sanpham", new { @masanpham = Model.maSP })" class="btn btn-dark btn-labeled fa fa-close">Không bán sản phẩm</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Huykhongban","Sanpham",new { @masanpham = Model.maSP })" class="btn btn-dark btn-labeled fa fa-close">Mở bán sản phẩm</a>
                    }

                    <a href="@Url.Action("Index","Sanpham")" class="btn btn-danger btn-labeled fa fa-close">Quay về</a>
                </div>
            </div>
        </div>
        <!-- END BASIC FORM ELEMENTS -->
    </div>
</div>
