﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.SanPham>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.SanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <a href="@Url.Action("Refreshsp","Sanpham")" class="btn btn-success btn-labeled fa fa-refresh">Refresh sản phẩm</a>
        </div>
        <h3 class="panel-title">Danh sách sản phẩm (@ViewBag.SoLuong loại xe)</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Index", "Sanpham", FormMethod.Get))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-vcenter" cellspacing="0" width="100%">
                <colgroup>
                    <col width="1" />
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col width="1" />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ảnh SP</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá bán</th>
                        <th>Số lượng</th>
                        <th>Hãng xản xuất</th>
                        <th>Loại</th>
                        <th>Tình trạng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td><img width="50" src="~/Assets/user/products-images/@item.anhSP"></td>
                            <td>@item.maSP</td>
                            <td>@item.tenSP</td>
                            <td>@item.giaBan</td>
                            <td>@item.soLuong</td>
                            <td>@item.LoaiSanPham.HangSanXuat.tenHSX</td>
                            <td>@item.LoaiSanPham.tenLSP</td>
                            <td>@item.tinhTrang</td>
                            <td><a href="@Url.Action("Details","Sanpham", new { @masanpham = item.maSP })" class="btn btn-warning btn-sm btn-labeled fa fa-info">Chi tiết</a></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <p class="col-sm-12">Tổng số @ViewBag.Tong - Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { @searchString = ViewBag.searchString, page }))
            <!--End Default Pagination-->
        </div>
    </div>
</div>