﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.ThongTinSanPham>

@{
    ViewBag.Title = "Sản phẩm đã bán";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ThongTinSanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách thông tin sản phẩm đã bán (@ViewBag.SoLuong xe)</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Sanphamdaban", "Sanpham", FormMethod.Get))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã TTSP</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số khung</th>
                        <th>Số máy</th>
                        <th>Màu sắc</th>
                        <th>Giá bán</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.maTTSP</td>
                            <td>@item.maSP</td>
                            <td>@item.SanPham.tenSP</td>
                            <td>@item.soKhung</td>
                            <td>@item.soMay</td>
                            <td>@item.mauSac</td>
                            <td>@String.Format("{0:0,0 VNĐ}", item.giaBan)</td>
                            <td>@item.tinhTrang</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <p class="col-sm-12">Tổng số @ViewBag.Tong - Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Sanphamdaban", new { @searchString = ViewBag.searchString, page }))
            <!--End Default Pagination-->
        </div>
    </div>
</div>