﻿@model Models.EF.ThongTinSanPham

@{
    ViewBag.Title = "Cập nhật thông tin sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ThongTinSanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Cập nhật thông tin sản phẩm</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Updatettsp", "Sanpham", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- BASIC FORM ELEMENTS -->
            <div class="panel-body form-horizontal form-padding">
                <div class="form-group">
                    <label class="col-md-3 control-label">Mã phiếu nhập</label>
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.maPN</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Mã Thông tin sản phẩm</label>
                    @Html.TextBoxFor(x => x.maTTSP, new { @type = "hidden", @class = "form-control" })
                    <div class="col-md-9"><p class="form-control-static text-bold">@Model.maTTSP</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="tensp">Tên sản phẩm <span class="required">*</span></label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.maSP, ViewBag.ListSanPham as SelectList, new { @class = "selectpicker", @data_live_search = "true", @id = "tensp", @required = "" })
                        @Html.ValidationMessageFor(x => x.maSP, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="hinhanh1">Số khung <span class="required">*</span></label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.soKhung, new { @type = "text", @id = "hinhanh1", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm", @required = "" })
                        @Html.ValidationMessageFor(x => x.soKhung, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="hinhanh2">Số máy <span class="required">*</span></label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.soMay, new { @type = "text", @id = "hinhah2", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm", @required = "" })
                        @Html.ValidationMessageFor(x => x.soMay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="hinhanh3">Màu sắc <span class="required">*</span></label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.mauSac, new { @type = "text", @id = "hinhanh3", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm", @required = "" })
                        @Html.ValidationMessageFor(x => x.mauSac, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="hinhanh4">giá bán <span class="required">*</span></label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.giaBan, new { @type = "text", @id = "hinhanh4", @class = "form-control", @placeholder = "Nhập tên ảnh sản phẩm", @required = "" })
                        @Html.ValidationMessageFor(x => x.giaBan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="hinhanh5">tình trạng <span class="required">*</span></label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.tinhTrang, new List<SelectListItem> {
                                new SelectListItem() {Text = Model.tinhTrang, Value= Model.tinhTrang},
                                new SelectListItem() {Text = "Còn trong kho", Value="Còn trong kho"},
                                new SelectListItem() {Text = "Đã xuất kho", Value="Đã xuất kho"}
                            }, new { @class = "selectpicker" });
                        @Html.ValidationMessageFor(x => x.tinhTrang, "", new { @class = "text-danger", @required = "" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <p class="required">* Phần bắt buộc</p>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-success btn-labeled fa fa-check mar-rgt" type="submit">Cập nhật</button>
                        <a href="@Url.Action("Thongtinsanpham", "Sanpham")" class="btn btn-danger btn-labeled fa fa-close">Quay về</a>
                    </div>
                </div>
            </div>
            <!-- END BASIC FORM ELEMENTS -->
        }
    </div>
</div>