﻿@model BanXeMoTo.Areas.Admin.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutdn.cshtml";
}

<div class="cls-content">
    <div class="cls-content-sm panel">
        <div class="panel-body">
            <p class="pad-btm">Đăng nhập tài khoản của bạn</p>
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="demo-preview-alert hide">
                    <div class="alert @TempData["AlertType"] media fade in">
                        <div class="media-body">
                            <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                        </div>
                    </div>
                </div>
            }
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        @Html.TextBoxFor(model => model.TaiKhoan, new { @type = "text", @class = "form-control", @placeholder = "Nhập mã nhân viên, SĐT hoặc email", @required = "", @autofocus = "autofocus" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        @Html.TextBoxFor(model => model.MatKhau, new { @type = "password", @class = "form-control", @placeholder = "Nhập mật khẩu", @required = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 text-left checkbox">
                        <label class="form-checkbox form-icon">
                            <input type="checkbox"> Ghi nhớ tài khoản
                        </label>
                    </div>
                </div>
                <div class="mar-btm"><em></em></div>
                <button class="btn btn-success text-uppercase btn-lg btn-block" type="submit">Đăng nhập</button>
            }
        </div>
    </div>
    <div class="pad-ver">
        <a href="@Url.Action("Quenmatkhau","Login")" class="btn-link mar-rgt">Quên mật khẩu?</a>
    </div>
</div>