﻿
@{
    ViewBag.Title = "Lấy lại mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutdn.cshtml";
}

    <div class="cls-content">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <p class="pad-btm">Nhập email của bạn để khôi phục mật khẩu</p>
                <form action="">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-success text-uppercase" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="pad-ver">
            <a href="@Url.Action("Index","Login")" class="btn-link mar-rgt">Trở lại đăng nhập</a>
        </div>
    </div>