﻿@model List<Models.EF.DonHang>

@{
    ViewBag.Title = "Doanh số xuất kho";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.BaoCao = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh số xuất kho</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Doanhsox", "Report", FormMethod.Post))
        {
            <div class="input-group mar-btm">
                <select class="selectpicker" data-width="20%" name="thang">
                    <option value="0">Xem cả năm</option>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">Tháng @i</option>
                    }
                </select>
                <select class="selectpicker" data-width="20%" name="nam">
                    <option value="@ViewBag.Nam">Năm @ViewBag.Nam</option>
                    @foreach (var item in ViewBag.SelectNam)
                    {
                        <option value="@item">Năm @item</option>
                    }
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Xem thống kê</button>
                </span>
            </div>
        }
        <div class="form-group form-horizontal form-padding">
            <div class="text-2x text-mint">
                Thông kê của @ViewBag.Thang năm @ViewBag.Nam
                <a href="" class="btn btn-mint btn-labeled fa fa-download mar-lft" id="doPrint">In báo cáo</a>
            </div>
        </div>
        <!--===================================================-->
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="panel media pad-all">
                    <div class="media-left">
                        <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                            <i class="fa fa-motorcycle fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="text-2x mar-no text-thin">@ViewBag.TongSanPhamTrongKho <span class="f-12">(xe)</span></p>
                        <p class="text-muted mar-no">Tổng sản phẩm trong kho</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="panel media pad-all">
                    <div class="media-left">
                        <span class="icon-wrap icon-wrap-sm icon-circle bg-primary">
                            <i class="fa fa-motorcycle fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="text-2x mar-no text-thin">@ViewBag.TongSanPhamDaXuat <span class="f-12">(xe)</span></p>
                        <p class="text-muted mar-no">Tổng sản phẩm đã xuất</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="panel media pad-all">
                    <div class="media-left">
                        <span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                            <i class="fa fa-dollar fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="text-2x mar-no text-thin">@string.Format("{0:0,0 VNĐ}", ViewBag.TongGiaTriNhapVao)</p>
                        <p class="text-muted mar-no">Tổng giá trị nhập vào</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="panel media pad-all">
                    <div class="media-left">
                        <span class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                            <i class="fa fa-dollar fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="text-2x mar-no text-thin">@string.Format("{0:0,0 VNĐ}", ViewBag.TongGiaTriXuatRa)</p>
                        <p class="text-muted mar-no">Tổng giá trị xuất ra</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="panel media pad-all">
                    <div class="media-left">
                        <span class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                            <i class="fa fa-dollar fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="text-2x mar-no text-thin">@string.Format("{0:0,0 VNĐ}", ViewBag.TongGiaTriLoiNhuan)</p>
                        <p class="text-muted mar-no">Tổng giá trị lợi nhuận</p>
                    </div>
                </div>
            </div>
        </div>
        <!--===================================================-->
        @foreach (var item in Model.Select(x => x.ngayDatHang.Value.Month).Distinct())
        {
            if (ViewBag.Thang.Contains("cả "))
            {
                <h4 class="text-primary">Các đơn hàng của tháng @item</h4>
                foreach (var item2 in Model.Where(x => x.ngayDatHang.Value.Month.Equals(item)))
                {
                    <code>Đơn hàng ngày: @string.Format("{0:dd/MM/yyyy}", item2.ngayDatHang)</code>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr style="border-top:none">
                                    <th>Mã đơn hàng: @item2.maDH</th>
                                    <th>Tên khách hàng: @item2.KhachHang.tenKH</th>
                                    <th>Tỏng tiền: @string.Format("{0:0,0 VNĐ}", item2.tongTien)</th>
                                    <th class="text-danger">Trạng thái: @item2.trangThai</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        <!--===================================================-->
                                        <div class="panel">
                                            <div class="panel-heading" data-target="#@item2.maDH" data-toggle="collapse">
                                                <div class="panel-control">
                                                    <button class="btn btn-default"><i class="fa fa-chevron-down"></i></button>
                                                </div>
                                                <h3 class="panel-title">Số lượng: @item2.tongSoLuong</h3>
                                            </div>
                                            <!--Panel body-->
                                            <div id="@item2.maDH" class="collapse">
                                                <div class="panel-body p-t-0 p-b-0">
                                                    <table class="table table-condensed table-hover" cellspacing="0" width="100%">
                                                        <colgroup>
                                                            <col width="1" />
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>STT</th>
                                                                @*<th>Ảnh sản phẩm</th>*@
                                                                <th>Mã sản phẩm</th>
                                                                <th>Số khung</th>
                                                                <th>Số máy</th>
                                                                <th>Màu sắc</th>
                                                                <th>Giá nhập</th>
                                                                <th>Giá xuất</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="5">Tổng tiền</th>
                                                                <th class="text-danger">@string.Format("{0:0,0 VNĐ}", item2.PhieuXuats.Sum(x => x.ThongTinSanPham.giaGoc))</th>
                                                                <th class="text-danger">@string.Format("{0:0,0 VNĐ}", item2.PhieuXuats.Sum(x => x.ThongTinSanPham.giaBan))</th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            @{ int i = 1; }
                                                            @foreach (var item3 in item2.PhieuXuats)
                                                            {
                                                                <tr>
                                                                    <td>@i</td>
                                                                    @*<td><img width="70" src="~/Assets/user/products-images/@item3.SanPham.anhSP"></td>*@
                                                                    <td>@item3.ThongTinSanPham.maSP</td>
                                                                    <td>@item3.ThongTinSanPham.soKhung</td>
                                                                    <td>@item3.ThongTinSanPham.soMay</td>
                                                                    <td>@item3.ThongTinSanPham.mauSac</td>
                                                                    <td>@string.Format("{0:0,0 VNĐ}", item3.ThongTinSanPham.giaGoc)</td>
                                                                    <td>@string.Format("{0:0,0 VNĐ}", item3.ThongTinSanPham.giaBan)</td>
                                                                </tr>
                                                                i++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--===================================================-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            }
            else
            {
                foreach (var item2 in Model)
                {
                    <code>Đơn hàng ngày: @string.Format("{0:dd/MM/yyyy}", item2.ngayDatHang)</code>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr style="border-top:none">
                                    <th>Mã đơn hàng: @item2.maDH</th>
                                    <th>Tên khách hàng: @item2.KhachHang.tenKH</th>
                                    <th>Tổng tiền: @string.Format("{0:0,0 VNĐ}", item2.tongTien)</th>
                                    <th class="text-danger">Trạng thái: @item2.trangThai</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        <!--===================================================-->
                                        <div class="panel">
                                            <div class="panel-heading" data-target="#@item2.maDH" data-toggle="collapse">
                                                <div class="panel-control">
                                                    <button class="btn btn-default"><i class="fa fa-chevron-down"></i></button>
                                                </div>
                                                <h3 class="panel-title">Số lượng: @item2.tongSoLuong</h3>
                                            </div>
                                            <!--Panel body-->
                                            <div id="@item2.maDH" class="collapse">
                                                <div class="panel-body p-t-0 p-b-0">
                                                    <table class="table table-condensed table-hover" cellspacing="0" width="100%">
                                                        <colgroup>
                                                            <col width="1" />
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>STT</th>
                                                                @*<th>Ảnh sản phẩm</th>*@
                                                                <th>Mã sản phẩm</th>
                                                                <th>Số khung</th>
                                                                <th>Số máy</th>
                                                                <th>Màu sắc</th>
                                                                <th>Giá nhập</th>
                                                                <th>Giá xuất</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="5">Tổng tiền</th>
                                                                <th class="text-danger">@string.Format("{0:0,0 VNĐ}", item2.PhieuXuats.Sum(x => x.ThongTinSanPham.giaGoc))</th>
                                                                <th class="text-danger">@string.Format("{0:0,0 VNĐ}", item2.PhieuXuats.Sum(x => x.ThongTinSanPham.giaBan))</th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            @{ int i = 1; }
                                                            @foreach (var item3 in item2.PhieuXuats)
                                                            {
                                                                <tr>
                                                                    <td>@i</td>
                                                                    @*<td><img width="70" src="~/Assets/user/products-images/@item3.SanPham.anhSP"></td>*@
                                                                    <td>@item3.ThongTinSanPham.maSP</td>
                                                                    <td>@item3.ThongTinSanPham.soKhung</td>
                                                                    <td>@item3.ThongTinSanPham.soMay</td>
                                                                    <td>@item3.ThongTinSanPham.mauSac</td>
                                                                    <td>@string.Format("{0:0,0 VNĐ}", item3.ThongTinSanPham.giaGoc)</td>
                                                                    <td>@string.Format("{0:0,0 VNĐ}", item3.ThongTinSanPham.giaBan)</td>
                                                                </tr>
                                                                i++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--===================================================-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            }
        }
    </div>
</div>

<div class="row hidden">
    <div id="printDiv" class="panel col-sm-12 col-md-10 col-lg-8 col-xl-6">
        <div class="panel-heading">
            <div class="panel-control">
                <span>Ngày tạo: @String.Format("{0:dd/MM/yyyy}", DateTime.Now)</span>
            </div>
            <h3 class="panel-title">Thống kê doanh số xuất kho</h3>
        </div>
        <div class="panel-body">
            <div class="form-group form-horizontal form-padding">
                <div class="text-2x text-mint">
                    Thông kê của @ViewBag.Thang năm @ViewBag.Nam
                </div>
            </div>
            <!--===================================================-->
            <table class="table" style="width:100%;">
                <thead>
                    <tr>
                        <th>Tổng sản phẩm trong kho</th>
                        <th>Tổng sản phẩm đã xuất</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.TongSanPhamTrongKho <span class="f-12">(xe)</span></td>
                        <td>@ViewBag.TongSanPhamDaXuat <span class="f-12">(xe)</span></td>
                    </tr>
                </tbody>
            </table>

            <table class="table" style="width:100%;">
                <thead>
                    <tr>
                        <th>Tổng giá trị nhập vào</th>
                        <th>Tổng giá trị xuất ra</th>
                        <th>Tổng giá trị lợi nhuận</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@string.Format("{0:0,0 VNĐ}", ViewBag.TongGiaTriNhapVao)</td>
                        <td>@string.Format("{0:0,0 VNĐ}", ViewBag.TongGiaTriXuatRa)</td>
                        <td>@string.Format("{0:0,0 VNĐ}", ViewBag.TongGiaTriLoiNhuan)</td>
                    </tr>
                </tbody>
            </table>
            <!--===================================================-->
            @foreach (var item in Model.Select(x => x.ngayDatHang.Value.Month).Distinct())
            {
                if (ViewBag.Thang.Contains("cả "))
                {
                    <h4 class="text-primary">Các đơn hàng của tháng @item</h4>
                    foreach (var item2 in Model.Where(x => x.ngayDatHang.Value.Month.Equals(item)))
                    {
                        <code>Đơn hàng ngày: @string.Format("{0:dd/MM/yyyy}", item2.ngayDatHang)</code>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr style="border-top:none">
                                        <th>Mã đơn hàng: @item2.maDH</th>
                                        <th>Tên khách hàng: @item2.KhachHang.tenKH</th>
                                        <th>Tỏng tiền: @string.Format("{0:0,0 VNĐ}", item2.tongTien)</th>
                                        <th class="text-danger">Trạng thái: @item2.trangThai</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4">
                                            <!--===================================================-->
                                            <div class="panel m-b-0">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Số lượng: @item2.tongSoLuong</h3>
                                                </div>
                                                <!--Panel body-->
                                                <div class="panel-body p-t-0 p-b-0">
                                                    <table class="table table-condensed table-hover" cellspacing="0" width="100%">
                                                        <colgroup>
                                                            <col width="1" />
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>STT</th>
                                                                @*<th>Ảnh sản phẩm</th>*@
                                                                <th>Mã sản phẩm</th>
                                                                <th>Số khung</th>
                                                                <th>Số máy</th>
                                                                <th>Màu sắc</th>
                                                                <th>Giá nhập</th>
                                                                <th>Giá xuất</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="5">Tổng tiền</th>
                                                                <th class="text-danger">@string.Format("{0:0,0 VNĐ}", item2.PhieuXuats.Sum(x => x.ThongTinSanPham.giaGoc))</th>
                                                                <th class="text-danger">@string.Format("{0:0,0 VNĐ}", item2.PhieuXuats.Sum(x => x.ThongTinSanPham.giaBan))</th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            @{ int i = 1; }
                                                            @foreach (var item3 in item2.PhieuXuats)
                                                            {
                                                                <tr>
                                                                    <td>@i</td>
                                                                    @*<td><img width="70" src="~/Assets/user/products-images/@item3.SanPham.anhSP"></td>*@
                                                                    <td>@item3.ThongTinSanPham.maSP</td>
                                                                    <td>@item3.ThongTinSanPham.soKhung</td>
                                                                    <td>@item3.ThongTinSanPham.soMay</td>
                                                                    <td>@item3.ThongTinSanPham.mauSac</td>
                                                                    <td>@string.Format("{0:0,0 VNĐ}", item3.ThongTinSanPham.giaGoc)</td>
                                                                    <td>@string.Format("{0:0,0 VNĐ}", item3.ThongTinSanPham.giaBan)</td>
                                                                </tr>
                                                                i++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--===================================================-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
                else
                {
                    foreach (var item2 in Model)
                    {
                        <code>Đơn hàng ngày: @string.Format("{0:dd/MM/yyyy}", item2.ngayDatHang)</code>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr style="border-top:none">
                                        <th>Mã đơn hàng: @item2.maDH</th>
                                        <th>Tên khách hàng: @item2.KhachHang.tenKH</th>
                                        <th>Tổng tiền: @string.Format("{0:0,0 VNĐ}", item2.tongTien)</th>
                                        <th class="text-danger">Trạng thái: @item2.trangThai</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4">
                                            <!--===================================================-->
                                            <div class="panel m-b-0">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Số lượng: @item2.tongSoLuong</h3>
                                                </div>
                                                <!--Panel body-->
                                                <div class="panel-body p-t-0 p-b-0">
                                                    <table class="table table-condensed table-hover" cellspacing="0" width="100%">
                                                        <colgroup>
                                                            <col width="1" />
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>STT</th>
                                                                @*<th>Ảnh sản phẩm</th>*@
                                                                <th>Mã sản phẩm</th>
                                                                <th>Số khung</th>
                                                                <th>Số máy</th>
                                                                <th>Màu sắc</th>
                                                                <th>Giá nhập</th>
                                                                <th>Giá xuất</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th colspan="5">Tổng tiền</th>
                                                                <th class="text-danger">@string.Format("{0:0,0 VNĐ}", item2.PhieuXuats.Sum(x => x.ThongTinSanPham.giaGoc))</th>
                                                                <th class="text-danger">@string.Format("{0:0,0 VNĐ}", item2.PhieuXuats.Sum(x => x.ThongTinSanPham.giaBan))</th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            @{ int i = 1; }
                                                            @foreach (var item3 in item2.PhieuXuats)
                                                            {
                                                                <tr>
                                                                    <td>@i</td>
                                                                    @*<td><img width="70" src="~/Assets/user/products-images/@item3.SanPham.anhSP"></td>*@
                                                                    <td>@item3.ThongTinSanPham.maSP</td>
                                                                    <td>@item3.ThongTinSanPham.soKhung</td>
                                                                    <td>@item3.ThongTinSanPham.soMay</td>
                                                                    <td>@item3.ThongTinSanPham.mauSac</td>
                                                                    <td>@string.Format("{0:0,0 VNĐ}", item3.ThongTinSanPham.giaGoc)</td>
                                                                    <td>@string.Format("{0:0,0 VNĐ}", item3.ThongTinSanPham.giaBan)</td>
                                                                </tr>
                                                                i++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--===================================================-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
            }
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <p>
                    <img src="~/Assets/favicon.png" width="30" />
                    <span>Moto luôn bên bạn</span>
                </p>
            </div>
        </div>
    </div>
</div>
