﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.DonHang>

@{
    ViewBag.Title = "Tất cả đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.DonHang = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách tất cả đơn hàng (@ViewBag.SoLuong đơn)</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Allorder", "Order", FormMethod.Get))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col width="1" />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.maDH</td>
                            <td>@item.KhachHang.tenKH</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.ngayDatHang)</td>
                            <td>@item.tongSoLuong</td>
                            <td>@String.Format("{0:0,0 VNĐ}", item.tongTien)</td>
                            <td class="text-danger text-bold">@item.trangThai</td>
                            <td>
                                <a href="@Url.Action("Details","Order", new { @madonhang = item.maDH })" class="btn btn-warning btn-sm btn-labeled fa fa-info">Chi tiết</a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <p class="col-sm-12">Tổng số @ViewBag.Tong - Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Allorder", new { @searchString = ViewBag.searchString, page }))
            <!--End Default Pagination-->
        </div>
    </div>
</div>