﻿@model Models.EF.DonHang

@{
    ViewBag.Title = "Đơn hàng đang vận chuyển";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.DonHang = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Chi tiết đơn hàng: @Model.maDH</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-hover table-vcenter">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="2" class="text-left">Mã đơn hàng: @Model.maDH</th>
                        <th colspan="3" class="text-right">Tình trạng: <span class="text-bold text-danger"><i>@Model.trangThai</i></span></th>
                    </tr>
                    @if (Model.trangThai == "Đã hủy")
                    {
                        <tr>
                            <th>Lý do hủy</th>
                            <td colspan="4"><em>@Model.lyDo</em></td>
                        </tr>
                    }
                    <tr>
                        <th class="t-center">&nbsp;</th>
                        <th>Tên sản phẩm</th>
                        <th class="t-center">Màu sắc</th>
                        <th class="t-center">Số lượng</th>
                        <th class="t-center">Giá bán</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="4">Tổng phụ</th>
                        <th class="text-danger">@String.Format("{0:0,0 VNĐ}", Model.tongPhu)</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in ViewBag.ChiTietDonHang)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })"><img width="70" src="~/Assets/user/products-images/@item.AnhSP"></a></td>
                            <td><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })">@item.TenSP</a></td>
                            <td>@item.MauSac</td>
                            <td>
                                <input type="text" class="input-text qty" value="1" disabled />
                            </td>
                            <td><span class="cart-price"><span class="text-bold text-danger">@String.Format("{0:0,0 VNĐ}", item.GiaBan)</span></span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h4>Thông tin người nhận</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <colgroup>
                    <col />
                    <col />
                </colgroup>
                <tfoot>
                    <tr style="border-top: 2px solid #eaeaea">
                        <td><strong>Tổng cộng</strong></td>
                        <td><strong><span class="text-bold text-danger">@String.Format("{0:0,0 VNĐ}", Model.tongTien)</span></strong></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Tên người nhận</td>
                        <td><span class="">@Model.KhachHang.tenKH</span></td>
                    </tr>
                    <tr>
                        <td>SĐT người nhận</td>
                        <td><span class="">@Model.KhachHang.SDT</span></td>
                    </tr>
                    <tr>
                        <td>Ngày đặt hàng</td>
                        <td><span class="">@String.Format("{0:dd/MM/yyyy}", Model.ngayDatHang)</span></td>
                    </tr>
                    <tr>
                        <td>Ngày giao hàng dự kiến</td>
                        <td><span class="">@String.Format("{0:dd/MM/yyyy}", Model.ngayGiaoHang)</span></td>
                    </tr>
                    <tr>
                        <td>Ngày thanh toán</td>
                        <td><span class="">@String.Format("{0:dd/MM/yyyy}", Model.ngayThanhToan)</span></td>
                    </tr>
                    <tr>
                        <td>Địa chỉ giao hàng</td>
                        <td><span class="">@Model.diaChiGiaoHang</span></td>
                    </tr>
                    <tr>
                        <td>Tổng phụ</td>
                        <td><span class="text-bold text-danger">@String.Format("{0:0,0 VNĐ}", Model.tongPhu)</span></td>
                    </tr>
                    <tr>
                        <td>Khuyến mãi</td>
                        <td><span class="">@Model.tongSoLuong%</span></td>
                    </tr>
                    <tr>
                        <td>Đã giảm</td>
                        <td><span class="text-bold text-danger">@String.Format("- {0:0,0 VNĐ}", Model.tongGiam)</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    @using (Html.BeginForm("Update", "Order", FormMethod.Post))
                    {
                        if (Model.trangThai.Contains("Đang vận chuyển"))
                        {
                            <a href="@Url.Action("Danhanhang","Order", new { @madonhang = Model.maDH })" onclick="if (confirm('Xác nhận đơn hàng đã được nhận!') == false) return false;" class="btn btn-success btn-labeled fa fa-check">Đã nhận hàng</a>
                            <input name="madonhang" value="@Model.maDH" type="hidden" />
                            <input name="trangthai" value="2" type="hidden" />
                            <input name="lydo" value="Khách hàng không nhận hàng" type="hidden" />
                            <button type="submit" onclick="if (confirm('Xác nhận đơn hàng bị từ chối nhận!') == false) return false;" class="btn btn-dark btn-labeled fa fa-check mar-rgt">Không nhận hàng</button>
                        }
                        <a href="@Url.Action("Index","Order")" class="btn btn-danger btn-labeled fa fa-close">Quay về</a>
                        <a href="" class="btn btn-mint btn-labeled fa fa-download mar-lft" id="doPrint">In hóa đơn</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row hidden">
    <div id="printDiv" class="panel col-sm-12 col-md-10 col-lg-8 col-xl-6">
        <div class="panel-heading">
            <h3 class="panel-title">Đơn hàng: @Model.maDH</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th class="t-center">Màu sắc</th>
                            <th class="t-center">Số lượng</th>
                            <th class="t-center">Giá bán</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="3">Tổng phụ</th>
                            <th class="text-danger">@String.Format("{0:0,0 VNĐ}", Model.tongPhu)</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in ViewBag.ChiTietDonHang)
                        {
                            <tr>
                                <td>@item.TenSP</td>
                                <td>@item.MauSac</td>
                                <td>1</td>
                                <td><span class="cart-price"><span class="text-bold text-danger">@String.Format("{0:0,0 VNĐ}", item.GiaBan)</span></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <h4>Thông tin người nhận</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <colgroup>
                        <col />
                        <col />
                    </colgroup>
                    <tfoot>
                        <tr style="border-top: 2px solid #eaeaea">
                            <td><strong>Tổng cộng</strong></td>
                            <td><strong><span class="text-bold text-danger">@String.Format("{0:0,0 VNĐ}", Model.tongTien)</span></strong></td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Tên người nhận</td>
                            <td><span class="">@Model.KhachHang.tenKH</span></td>
                        </tr>
                        <tr>
                            <td>SĐT người nhận</td>
                            <td><span class="">@Model.KhachHang.SDT</span></td>
                        </tr>
                        <tr>
                            <td>Ngày đặt hàng</td>
                            <td><span class="">@String.Format("{0:dd/MM/yyyy}", Model.ngayDatHang)</span></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ giao hàng</td>
                            <td><span class="">@Model.diaChiGiaoHang</span></td>
                        </tr>
                        <tr>
                            <td>Tổng phụ</td>
                            <td><span class="text-bold text-danger">@String.Format("{0:0,0 VNĐ}", Model.tongPhu)</span></td>
                        </tr>
                        <tr>
                            <td>Khuyến mãi</td>
                            <td><span class="">@Model.tongSoLuong%</span></td>
                        </tr>
                        <tr>
                            <td>Đã giảm</td>
                            <td><span class="text-bold text-danger">@String.Format("- {0:0,0 VNĐ}", Model.tongGiam)</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <p>
                    <img src="~/Assets/favicon.png" width="30" />
                    <span>Cảm ơn bạn đã giao dịch với chúng tôi</span>
                </p>
            </div>
        </div>
    </div>
</div>

