﻿
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin tài khoản</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Doimatkhau", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row panel-body form-horizontal form-padding">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="mkc">Mật khẩu cũ</label>
                    <div class="col-sm-9">
                        <input type="password" name="matkhaucu" placeholder="Nhập mật khẩu cũ" id="mkc" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="mkm">Mật khẩu mới</label>
                    <div class="col-sm-9">
                        <input type="password" name="matkhaumoi" placeholder="Nhập mật khẩu mới" id="mkm" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="mkm2">nhập lại mật khẩu mới</label>
                    <div class="col-sm-9">
                        <input type="password" name="matkhaumoi2" placeholder="Nhập lại mật khẩu mới" id="mkm2" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-success btn-labeled fa fa-check mar-rgt" type="submit">Xác nhận</button>
                        <a href="@Url.Action("Index", "Account")" class="btn btn-danger btn-labeled fa fa-close">Hủy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>