﻿@using BanXeMoTo.Areas.Admin.Models
@using BanXeMoTo.Common
@model Models.EF.NhanVien

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{ var session = (LoginModel)Session[Constants.ADMIN_SESSION]; }

<div class="panel">
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <!--Profile Heading-->
        <!--===================================================-->
        <div class="panel">
            <div class="panel-bg-cover">
                <img class="img-responsive" src="~/Assets/admin/img/thumbs/img2.jpg" />
            </div>
            <div class="panel-media">
                @{ string agt = session.GioiTinh == "1" ? "gt1.png" : (session.GioiTinh == "0" ? "gt0.png" : "gt2.png"); }
                <img src="~/Assets/admin/img/@agt" class="panel-media-img img-circle img-border-light" />
                <div class="row">
                    <div class="col-lg-7">
                        <h3 class="panel-media-heading">@Model.tenNV</h3>
                        <span>ID: @Model.maNV</span>
                        <p class="text-muted mar-btm">Chức vụ: <span class="text-danger text-bold">@Model.ChucVu.tenCV</span></p>
                    </div>
                    <div class="col-lg-5 text-lg-right">
                        <h4>Tiền lương: @String.Format("{0:0,0 VNĐ}", Model.tienLuong)</h4>
                    </div>
                </div>
            </div>
            <div class="form-horizontal form-padding">
                <div class="form-group">
                    <label class="col-md-5 control-label">Số chứng minh nhân dân</label>
                    <div class="col-md-7"><p class="form-control-static text-bold">@Model.CMND</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Địa chỉ</label>
                    <div class="col-md-7"><p class="form-control-static text-bold">@Model.diaChiNV</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Số điện thoại</label>
                    <div class="col-md-7"><p class="form-control-static text-bold">@Model.SDT</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Email</label>
                    <div class="col-md-7"><p class="form-control-static text-bold">@Model.Email</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Giới tính</label>
                    @{ string gt = Model.gioiTinh == "1" ? "Nam" : Model.gioiTinh == "0" ? "Nữ" : "Khác"; }
                    <div class="col-md-7"><p class="form-control-static text-bold">@gt</p></div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Ngày sinh</label>
                    <div class="col-md-7"><p class="form-control-static text-bold">@String.Format("{0:dd/MM/yyyy}", Model.ngaySinh)</p></div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <a href="@Url.Action("Doimatkhau","Account", new { @manhanvien = Model.maNV })" class="btn btn-mint btn-labeled fa fa-repeat mar-rgt">Đổi mật khẩu</a>
                        <a href="@Url.Action("Suathongtin","Account", new { @manhanvien = Model.maNV })" class="btn btn-success btn-labeled fa fa-check mar-rgt">Cập nhật thông tin</a>
                        <a href="@Url.Action("Index","Home")" class="btn btn-danger btn-labeled fa fa-close">Quay về</a>
                    </div>
                </div>
            </div>
        </div>
        <!--===================================================-->
    </div>
</div>
