﻿@model Models.EF.NhanVien

@{
    ViewBag.Title = "Cập nhật thông tin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin tài khoản</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Suathongtin", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row panel-body form-horizontal form-padding">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="tennv">Họ và tên</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.tenNV, new { @type = "text", @id = "tennv", @class = "form-control", @placeholder = "Nhập họ và tên", @required = "" })
                        @Html.ValidationMessageFor(model => model.tenNV, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="diachi">Địa chỉ <span class="required">*</span></label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.diaChiNV, new { @type = "text", @id = "diachi", @class = "form-control", @placeholder = "Nhập đia chỉ nhân viên", @required = "" })
                        @Html.ValidationMessageFor(model => model.diaChiNV, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group pad-ver">
                    <label class="col-md-3 control-label">Giới tính <span class="required">*</span></label>
                    <div class="col-md-9">
                        <div class="col-md-6 pad-no">
                            <div class="radio">
                                <label class="form-radio form-normal">
                                    @Html.RadioButtonFor(model => model.gioiTinh, "1", new { @type = "radio", @required = "" })Nam
                                </label>
                            </div>
                            <div class="radio">
                                <label class="form-radio form-normal">
                                    @Html.RadioButtonFor(model => model.gioiTinh, "0", new { @type = "radio", @required = "" })Nữ
                                </label>
                            </div>
                            <div class="radio">
                                <label class="form-radio form-normal">
                                    @Html.RadioButtonFor(model => model.gioiTinh, "2", new { @type = "radio", @required = "" })Khác
                                </label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.gioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
                @{
                    var ngay = String.Format("{0:dd}", Model.ngaySinh);
                    var thang = "Tháng " + String.Format("{0:MM}", Model.ngaySinh);
                    var nam = String.Format("{0:yyyy}", Model.ngaySinh);
                    var ngay1 = Convert.ToInt32(ngay);
                    var thang1 = Convert.ToInt32(String.Format("{0:MM}", Model.ngaySinh));
                    var nam1 = Convert.ToInt32(nam);
                }
                <script src="~/Assets/user/js/jquery-latest.js"></script>
                <script>
                $(function () {
                    //Năm tự động điền vào select
                    var seYear = $('#year');
                    var date = new Date();
                    var cur = date.getFullYear();

                    seYear.append('<option value="@nam1">@nam</option>');
                    for (i = cur; i >= cur - 100; i--) {
                        seYear.append('<option value="' + i + '">' + i + '</option>');
                    };

                    //Tháng tự động điền vào select
                    var seMonth = $('#month');
                    var date = new Date();

                    var month = new Array();
                    month[1] = "Tháng 01";
                    month[2] = "Tháng 02";
                    month[3] = "Tháng 03";
                    month[4] = "Tháng 04";
                    month[5] = "Tháng 05";
                    month[6] = "Tháng 06";
                    month[7] = "Tháng 07";
                    month[8] = "Tháng 08";
                    month[9] = "Tháng 09";
                    month[10] = "Tháng 10";
                    month[11] = "Tháng 11";
                    month[12] = "Tháng 12";

                    seMonth.append('<option value="@thang1">@thang</option>');
                    for (i = 1; i <= 12; i++) {
                        seMonth.append('<option value="' + i + '">' + month[i] + '</option>');
                    };

                    //Ngày tự động điền vào select
                    function dayList(month, year) {
                        var day = new Date(year, month, 0);
                        return day.getDate();
                    }

                    $('#year, #month').change(function () {
                        //Đoạn code lấy id không viết bằng jQuery để phù hợp với đoạn code bên dưới
                        var y = document.getElementById('year');
                        var m = document.getElementById('month');
                        var d = document.getElementById('day');

                        var year = y.options[y.selectedIndex].value;
                        var month = m.options[m.selectedIndex].value;
                        var day = d.options[d.selectedIndex].value;
                        if (day == @ngay1) {
                            var days = (year == ' ' || month == ' ') ? 31 : dayList(month, year);
                            d.options.length = 0;
                            d.options[d.options.length] = new Option('@ngay1', '@ngay1');
                            for (var i = 1; i <= days; i++)
                                d.options[d.options.length] = new Option(i, i);
                        }
                    });
                });
                </script>

                <div class="form-group">
                    <label class="col-md-3 control-label">Ngày sinh <span class="required">*</span></label>
                    <div class="col-md-9">
                        <select class="sele" style="background-color:#fff;width:auto;" name="year" id="year" size="1" required=""></select>
                        <select class="sele" style="background-color:#fff;width:auto;" name="month" id="month" size="1" required=""></select>
                        <select class="sele" style="background-color:#fff;width:auto;" name="day" id="day" size="1" required="">
                            <option value="@ngay1" selected="selected">@ngay</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-success btn-labeled fa fa-check mar-rgt" type="submit">Xác nhận</button>
                        <a href="@Url.Action("Index", "Account")" class="btn btn-danger btn-labeled fa fa-close">Hủy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>