﻿@model Models.EF.NhanVien

@{
    ViewBag.Title = "Thông tin nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NhanVien = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin nhân viên</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <!-- BASIC FORM ELEMENTS -->
        <div class="panel-body form-horizontal form-padding">
            <div class="form-group">
                <label class="col-md-3 control-label">Mã nhân viên</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.maNV <span class="text-danger"><i>@Model.trangThai</i></span></p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Tên nhân viên</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.tenNV</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Chứng minh nhân dân</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.CMND</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Chức vụ</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.ChucVu.tenCV</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Địa chỉ</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.diaChiNV</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Số điện thoại</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.SDT</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.Email</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Giới tính</label>
                @{ string gt = Model.gioiTinh == "1" ? "Nam" : Model.gioiTinh == "0" ? "Nữ" : "Khác"; }
                <div class="col-md-9"><p class="form-control-static text-bold">@gt</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Ngày sinh</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@String.Format("{0:dd/MM/yyyy}", Model.ngaySinh)</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Tiền lương</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@String.Format("{0:0,0 VNĐ}", Model.tienLuong)</p></div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <a href="@Url.Action("Update","Nhanvien", new { @manhanvien = Model.maNV })" class="btn btn-success btn-labeled fa fa-check mar-rgt">Cập nhật</a>
                    @if (string.IsNullOrEmpty(Model.trangThai))
                    {
                        <a href="@Url.Action("Khoataikhoan","Nhanvien", new { @manhanvien = Model.maNV })" class="btn btn-dark btn-labeled fa fa-close">Khóa tài khoản</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Huykhoataikhoan","Nhanvien",new { @manhanvien = Model.maNV })" class="btn btn-dark btn-labeled fa fa-close">Mở khóa tài khoản</a>
                    }

                    <a href="@Url.Action("Index","Nhanvien")" class="btn btn-danger btn-labeled fa fa-close">Quay về</a>
                </div>
            </div>
        </div>
        <!-- END BASIC FORM ELEMENTS -->
    </div>
</div>
