﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.NhanVien>

@{
    ViewBag.Title = "Nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NhanVien = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách nhân viên (@ViewBag.SoLuong nhân viên)</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Index", "Nhanvien", FormMethod.Get))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col width="1" />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã nhân viên</th>
                        <th>Tên nhân viên</th>
                        <th>Chức vụ</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Tiền lương</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.maNV</td>
                            <td>@item.tenNV</td>
                            <td>@item.ChucVu.tenCV</td>
                            @{ string gt = item.gioiTinh == "1" ? "Nam" : (item.gioiTinh == "0" ? "Nữ" : "Khác"); }
                            <td>@gt</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.ngaySinh)</td>
                            <td>@String.Format("{0:0,0 VNĐ}", item.tienLuong)</td>
                            <td>@item.trangThai</td>
                            <td><a href="@Url.Action("Details","Nhanvien", new { @manhanvien = item.maNV })" class="btn btn-warning btn-sm btn-labeled fa fa-info">Chi tiết</a></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <p class="col-sm-12">Tổng số @ViewBag.Tong - Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { @searchString = ViewBag.searchString, page }))
            <!--End Default Pagination-->
        </div>
    </div>
</div>