﻿@model Models.EF.NhanVien

@{
    ViewBag.Title = "Cập nhật thông tin nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NhanVien = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Cập nhật thông tin nhân viên</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <!-- BASIC FORM ELEMENTS -->
        @using (Html.BeginForm("Update", "Nhanvien", FormMethod.Post, new { @class = "panel-body form-horizontal form-padding" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="col-md-3 control-label">Mã nhân viên</label>
                <div class="col-md-9">
                    @if (string.IsNullOrEmpty(Model.trangThai))
                    {
                        <p class="form-control-static">@Model.maNV</p>
                    }
                    else
                    {
                        <p class="form-control-static">
                            @Model.maNV <span class="text-danger"><i>@Model.trangThai</i></span>
                        </p>
                    }
                    @Html.TextBoxFor(model => model.maNV, new { @type = "hidden" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="tennv">Tên nhân viên <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.tenNV, new { @type = "text", @id = "tennv", @class = "form-control", @placeholder = "Nhập họ và tên nhân viên", @required = "" })
                    @Html.ValidationMessageFor(model => model.tenNV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="cmnd">Chứng minh nhân dân <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.CMND, new { @type = "text", @id = "cmnd", @class = "form-control", @placeholder = "Nhập họ và tên nhân viên", @required = "" })
                    @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="chucvu">Chức vụ <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.maCV, ViewBag.ListChucVu as SelectList, new { @class = "selectpicker", @id = "chucvu", @required = "" })
                    @Html.ValidationMessageFor(model => model.maCV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="diachi">Địa chỉ <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.diaChiNV, new { @type = "text", @id = "diachi", @class = "form-control", @placeholder = "Nhập đia chỉ nhân viên", @required = "" })
                    @Html.ValidationMessageFor(model => model.diaChiNV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="sdt">Số điện thoại <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.SDT, new { @type = "text", @id = "sdt", @class = "form-control", @placeholder = "Nhập số điện thoai nhân viên", @required = "" })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="demail">Email <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Email, new { @type = "email", @id = "email", @class = "form-control", @placeholder = "Nhập email nhân viên", @required = "" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group pad-ver">
                <label class="col-md-3 control-label">Giới tính <span class="required">*</span></label>
                <div class="col-md-9">
                    <div class="col-md-6 pad-no">
                        <div class="radio">
                            <label class="form-radio form-normal">
                                @Html.RadioButtonFor(model => model.gioiTinh, "1", new { @type = "radio", @required = "" })Nam
                            </label>
                        </div>
                        <div class="radio">
                            <label class="form-radio form-normal">
                                @Html.RadioButtonFor(model => model.gioiTinh, "0", new { @type = "radio", @required = "" })Nữ
                            </label>
                        </div>
                        <div class="radio">
                            <label class="form-radio form-normal">
                                @Html.RadioButtonFor(model => model.gioiTinh, "2", new { @type = "radio", @required = "" })Khác
                            </label>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.gioiTinh, "", new { @class = "text-danger" })
                </div>
            </div>

            var ngay = String.Format("{0:dd}", Model.ngaySinh);
            var thang = "Tháng " + String.Format("{0:MM}", Model.ngaySinh);
            var nam = String.Format("{0:yyyy}", Model.ngaySinh);
            var ngay1 = Convert.ToInt32(ngay);
            var thang1 = Convert.ToInt32(String.Format("{0:MM}", Model.ngaySinh));
            var nam1 = Convert.ToInt32(nam);

            <script src="~/Assets/user/js/jquery-latest.js"></script>
            <script>
                $(function () {
                    //Năm tự động điền vào select
                    var seYear = $('#year');
                    var date = new Date();
                    var cur = date.getFullYear();

                    seYear.append('<option value="@nam1">@nam</option>');
                    for (i = cur; i >= cur - 100; i--) {
                        seYear.append('<option value="' + i + '">' + i + '</option>');
                    };

                    //Tháng tự động điền vào select
                    var seMonth = $('#month');
                    var date = new Date();

                    var month = new Array();
                    month[1] = "Tháng 01";
                    month[2] = "Tháng 02";
                    month[3] = "Tháng 03";
                    month[4] = "Tháng 04";
                    month[5] = "Tháng 05";
                    month[6] = "Tháng 06";
                    month[7] = "Tháng 07";
                    month[8] = "Tháng 08";
                    month[9] = "Tháng 09";
                    month[10] = "Tháng 10";
                    month[11] = "Tháng 11";
                    month[12] = "Tháng 12";

                    seMonth.append('<option value="@thang1">@thang</option>');
                    for (i = 1; i <= 12; i++) {
                        seMonth.append('<option value="' + i + '">' + month[i] + '</option>');
                    };

                    //Ngày tự động điền vào select
                    function dayList(month, year) {
                        var day = new Date(year, month, 0);
                        return day.getDate();
                    }

                    $('#year, #month').change(function () {
                        //Đoạn code lấy id không viết bằng jQuery để phù hợp với đoạn code bên dưới
                        var y = document.getElementById('year');
                        var m = document.getElementById('month');
                        var d = document.getElementById('day');

                        var year = y.options[y.selectedIndex].value;
                        var month = m.options[m.selectedIndex].value;
                        var day = d.options[d.selectedIndex].value;
                        if (day == @ngay1) {
                            var days = (year == ' ' || month == ' ') ? 31 : dayList(month, year);
                            d.options.length = 0;
                            d.options[d.options.length] = new Option('@ngay1', '@ngay1');
                            for (var i = 1; i <= days; i++)
                                d.options[d.options.length] = new Option(i, i);
                        }
                    });
                });
            </script>

            <div class="form-group">
                <label class="col-md-3 control-label">Ngày sinh <span class="required">*</span></label>
                <div class="col-md-9">
                    <select class="sele" style="background-color:#fff;width:auto;" name="year" id="year" size="1" required=""></select>
                    <select class="sele" style="background-color:#fff;width:auto;" name="month" id="month" size="1" required=""></select>
                    <select class="sele" style="background-color:#fff;width:auto;" name="day" id="day" size="1" required="">
                        <option value="@ngay1" selected="selected">@ngay</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="pass">Mật khẩu <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.matKhau, new { @type = "password", @id = "pass", @class = "form-control", @placeholder = "Nhập số điện thoai nhân viên", @required = "" })
                    @Html.ValidationMessageFor(model => model.matKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="tienluong">Tiền lương <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.tienLuong, new { @type = "text", @id = "tienluong", @class = "form-control", @placeholder = "Nhập số điện thoai nhân viên", @required = "" })
                    @Html.ValidationMessageFor(model => model.tienLuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="required">* Phần bắt buộc</p>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-success btn-labeled fa fa-check mar-rgt" type="submit">Cập nhật</button>
                        <a href="@Url.Action("Details","Nhanvien",new { @manhanvien = Model.maNV })" class="btn btn-danger btn-labeled fa fa-close">Hủy</a>
                    </div>
                </div>
            </div>
        }
        <!-- END BASIC FORM ELEMENTS -->
    </div>
</div>
