﻿@using BanXeMoTo.Models
@using BanXeMoTo.Common

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var session = (LoginModel)Session[Constants.USER_SESSION];
    var cart = (List<CartModel>)Session[Constants.CART_SESSION];
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home category13">Trang chủ<span>&rArr;</span></li>
                <li class="category13">Xe</li>
                <li class="category13">@RenderSection("category", required: true)</li>
                <li class="category13">@RenderSection("category2", required: true)</li>
            </ul>
        </div>
    </div>
</div>
<!-- End breadcrumbs -->
<!-- Two columns content -->
<section class="main-container col2-left-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9 col-sm-push-3 wow">
                <div class="category-title">
                    <h1>Xe mô tô</h1>
                </div>
                <!-- category banner -->
                <div class="category-description std">
                    <div class="slider-items-products">
                        <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col1">
                                <!-- Item -->
                                <div class="item">
                                    <a href=""><img src="~/Assets/user/images/banner/category-banner-1.jpg" /></a>
                                    <div class="cat-img-title cat-bg cat-box">
                                        <h2 class="cat-heading">Kawasaki Ninja H2</h2>
                                        <p>Siêu phẩm Kawasaki Ninja H2 mang trên mình khối động cơ cực mạnh với trang bị hệ thống Turbo Super Charge</p>
                                    </div>
                                </div>
                                <!-- End Item -->
                                <div class="item"><a href=""><img src="~/Assets/user/images/banner/category-banner-2.jpg" /></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- category banner -->
                @RenderBody()
            </section>
            <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow">
                <div class="side-nav-categories">
                    <div class="block-title">Danh sách</div>
                    <!--block-title-->
                    <!-- BEGIN BOX-CATEGORY -->
                    @{ Html.RenderAction("MenuLeftPartial", "Home"); }
                    <!--box-content box-category-->
                </div>
                <div class="block block-layered-nav">
                    <div class="block-title"><span>Lựa chọn</span></div>
                    <div class="block-content">
                        <p class="block-subtitle">Tùy chọn mua sắm</p>
                        <dl id="narrow-by-list">
                            <dt class="odd">Phân khối</dt>
                            <dd class="odd">
                                <ol>
                                    <li> <a href="">175cc - 400cc</a> (6) </li>
                                    <li> <a href="">401cc - 750cc</a> (6) </li>
                                    <li> <a href="">751cc - 1000cc</a> (6) </li>
                                    <li> <a href="">1000cc trở lên</a> (6) </li>
                                </ol>
                            </dd>
                            <dt class="odd">Màu sắc</dt>
                            <dd class="odd">
                                <ol>
                                    <li> <a href="">Đen</a> (1) </li>
                                    <li> <a href="">Đỏ</a> (5) </li>
                                    <li> <a href="">Trắng</a> (5) </li>
                                    <li> <a href="">Xanh dương</a> (4) </li>
                                    <li> <a href="">Xanh lá</a> (3) </li>
                                </ol>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="block block-cart">
                    <div class="block-title"><span>Giỏ hàng của tôi</span></div>
                    <div class="block-content">

                        @if (cart != null)
                        {
                            int sl = 0;
                            if (cart != null)
                            {
                                sl = cart.Count();
                            }
                            else
                            {
                                sl = 0;
                            }
                            string tongtien = @String.Format("{0:0,0 VNĐ}", cart.Sum(x => x.GiaBan));
                            <div class="summary">
                                <p class="amount">Có @sl mặt hàng trong giỏ của bạn</p>
                                <p class="subtotal"><span class="label">Tổng tiền của giỏ hàng:</span><span class="price">@tongtien</span></p>
                            </div>
                            <div>
                                <a href="@Url.Action("Thanhtoan","Cart")"><button type="button" class="button button-checkout"><span>Thanh toán</span></button></a>
                            </div>
                            <p class="block-subtitle">Mới được thêm gần đây </p>
                            <ul>
                                @foreach (var item in cart.Take(2))
                                {
                                    <li class="item">
                                        <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })"><img width="80" src="~/Assets/user/products-images/@item.AnhSP" /></a>
                                        <div class="product-details">
                                            <div class="access"><a class="btn-remove1" href="@Url.Action("Delete", "Cart", new { @masanpham = item.MaSP, @mausac = item.MauSac, @url = HttpContext.Current.Request.Url.AbsoluteUri })"><span class="icon"></span>Remove</a></div>
                                            <p class="product-name"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })">@item.TenSP</a></p>
                                            <span class="price">@String.Format("{0:0,0 VNĐ}", item.GiaBan)</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div class="summary">
                                <p class="amount">Bạn chưa chọn sản phẩm nào</p>
                            </div>
                        }
                    </div>
                </div>
                <div class="block block-subscribe">
                    <div class="block-title"><span>Bản tin</span></div>
                    <div class="block-content">
                        <div class="form-subscribe-header">Đăng ký để nhận bản tin của chúng tôi:</div>
                        <input type="text" name="email" id="newsletter" class="input-text required-entry validate-email" placeholder="Nhập địa chỉ của bạn">
                        <div class="actions">
                            <button type="submit" class="subscribe"><span>Theo dõi</span></button>
                        </div>
                    </div>
                </div>
                <div class="block block-compare">
                    <div class="block-title"><span>Compare Products (2)</span></div>
                    <div class="block-content">
                        <ol id="compare-items">
                            <li class="item odd">
                                <input type="hidden" class="compare-item-id" value="2173">
                                <a href="" class="btn-remove1"></a><a class="product-name" href="">Sofa with Box-Edge Polyester Wrapped Cushions</a>
                            </li>
                            <li class="item last even">
                                <input type="hidden" class="compare-item-id" value="2174">
                                <a href="" class="btn-remove1"></a><a class="product-name" href="">Sofa with Box-Edge Down-Blend Wrapped Cushions</a>
                            </li>
                        </ol>
                        <div class="ajax-checkout">
                            <button class="button button-compare" type="submit"><span>Compare</span></button>
                            <button class="button button-clear" type="submit"><span>Clear</span></button>
                        </div>
                    </div>
                </div>
                <div class="block block-list block-viewed">
                    <div class="block-title"><span>Recently Viewed</span></div>
                    <div class="block-content">
                        <ol id="recently-viewed-items">
                            <li class="item odd">
                                <p class="product-name"><a href="">Armchair with Box-Edge Upholstered Arm</a></p>
                            </li>
                            <li class="item even">
                                <p class="product-name"><a href="">Pearce Upholstered Slee pere</a></p>
                            </li>
                            <li class="item last odd">
                                <p class="product-name"><a href="">Sofa with Box-Edge Down-Blend Wrapped Cushions</a></p>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="block block-poll">
                    <div class="block-title"><span>Community Poll</span> </div>
                    <div class="block-content">
                        <p class="block-subtitle">What is your favorite Magento feature?</p>
                        <ul id="poll-answers">
                            <li class="odd">
                                <input type="radio" value="5" id="vote_5" class="radio poll_vote" name="vote">
                                <span class="label">
                                    <label for="vote_5">Layered Navigation</label>
                                </span>
                            </li>
                            <li class="even">
                                <input type="radio" value="6" id="vote_6" class="radio poll_vote" name="vote">
                                <span class="label">
                                    <label for="vote_6">Price Rules</label>
                                </span>
                            </li>
                            <li class="odd">
                                <input type="radio" value="7" id="vote_7" class="radio poll_vote" name="vote">
                                <span class="label">
                                    <label for="vote_7">Category Management</label>
                                </span>
                            </li>
                            <li class="last even">
                                <input type="radio" value="8" id="vote_8" class="radio poll_vote" name="vote">
                                <span class="label">
                                    <label for="vote_8">Compare Products</label>
                                </span>
                            </li>
                        </ul>
                        <div class="actions">
                            <button class="button button-vote" type="submit"><span>Vote</span></button>
                        </div>
                    </div>
                </div>
                <div class="block block-tags">
                    <div class="block-title"><span>Popular Tags</span></div>
                    <div class="block-content">
                        <ul class="tags-list">
                            <li><a style="font-size:98%;" href="">Moto</a></li>
                            <li><a style="font-size:86%;" href="">Ninja h2</a></li>
                            <li><a style="font-size:145%;" href="">H2R</a></li>
                            <li><a style="font-size:75%;" href="">Tag</a></li>
                            <li><a style="font-size:110%;" href="">Test</a></li>
                            <li><a style="font-size:86%;" href="">BMW</a></li>
                            <li><a style="font-size:110%;" href="">cool</a></li>
                            <li><a style="font-size:86%;" href="">Xe</a></li>
                            <li><a style="font-size:86%;" href="">1000cc</a></li>
                            <li><a style="font-size:86%;" href="">đen</a></li>
                            <li><a style="font-size:86%;" href="">xanh lá</a></li>
                            <li><a style="font-size:86%;" href="">hip</a></li>
                            <li><a style="font-size:75%;" href="">phụ kiện</a></li>
                            <li><a style="font-size:75%;" href="">lốp xe</a></li>
                            <li><a style="font-size:75%;" href="">nice</a></li>
                            <li><a style="font-size:86%;" href="">mô tô</a></li>
                            <li><a style="font-size:98%;" href="">red</a></li>
                            <li><a style="font-size:86%;" href="">tight</a></li>
                            <li><a style="font-size:75%;" href="">trendy</a></li>
                            <li><a style="font-size:86%;" href="">young</a></li>
                        </ul>
                        <div class="actions"><a class="view-all" href="">View All Tags</a></div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- End Two columns content -->
