﻿@using BanXeMoTo.Models
@using BanXeMoTo.Common

<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - MoTo</title>

    <!-- Favicons Icon -->
    <link rel="icon" href="~/Assets/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Assets/favicon.ico" type="image/x-icon" />

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" href="~/Assets/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/user/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/user/css/revslider.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/user/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/user/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/user/css/font-awesome.css" type="text/css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

    <link href="~/Content/toastr.css" rel="stylesheet" />

</head>

<body class="cms-index-index">
    @{
        var session = (LoginModel)Session[Constants.USER_SESSION];
        var cart = (List<CartModel>)Session[Constants.CART_SESSION];
        Html.Action("CartPartial", "Home");
    }
    <div class="page">
        <!-- Header -->
        <header class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Language -->
                        <div class="col-xs-6">
                            <div class="dropdown block-language-wrapper">
                                <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href=""><img src="~/Assets/user/images/vietnam.png" />Tiếng Việt<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href=""><img src="~/Assets/user/images/vietnam.png" />Tiếng Việt</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href=""><img src="~/Assets/user/images/english.png" />English</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href=""><img src="~/Assets/user/images/francais.png" />française</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href=""><img src="~/Assets/user/images/german.png" />Deutsche</a></li>
                                </ul>
                            </div>
                            <!-- End Header Language -->
                            <!-- Header Currency -->
                            <div class="dropdown block-currency-wrapper">
                                <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="">VNĐ<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">đ - Đồng</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">$ - Dollar</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">£ - Pound</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">€ - Euro</a></li>
                                </ul>
                            </div>
                            <!-- End Header Currency -->
                            @if (session != null)
                            {
                                var gt = session.GioiTinh == "1" ? "Anh" : (session.GioiTinh == "0" ? "Chị" : "Bạn");
                                <div class="welcome-msg">Chào @gt @session.TenKH</div>
                            }
                            else
                            {
                                <div class="welcome-msg">Welcome</div>
                            }
                        </div>
                        <div class="col-xs-6">
                            <!-- Header Top Links -->
                            <div class="toplinks">
                                <div class="links">
                                    <div class="wishlist"><a href=""><span class="hidden-xs">Danh sách mong muốn</span></a></div>
                                    <div class="check"><a href=""><span class="hidden-xs">Thủ tục thanh toán</span></a></div>
                                    <div class="phone hidden-xs">1 800 123 1234</div>
                                    @if (session != null)
                                    {
                                        <div class="myaccount"><a href="@Url.Action("Logout", "Home")"><span>Đăng xuất</span></a></div>
                                    }
                                </div>
                            </div>
                            <!-- End Header Top Links -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="header container">
                <div class="row">
                    <div class="col-lg-2 col-sm-3 col-md-2 col-xs-12">
                        <!-- Header Logo -->
                        <a class="logo" href="@Url.Action("Index", "Home")"><img src="~/Assets/user/images/logo.png" /></a>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-lg-6 col-sm-4 col-md-6 col-xs-12" style="z-index:1">
                        <!-- Search-col -->
                        <div class="search-box">
                            @using (Html.BeginForm("Search", "Sanpham", FormMethod.Get, new { @id = "search_mini_form", @name = "Categories" }))
                            {
                                <input type="text" placeholder="Tìm kiếm..." maxlength="70" class="" value="@ViewBag.SearchString" name="searchString" id="search">
                                <button type="submit" class="search-btn-bg"><span>Tìm kiếm</span></button>
                            }
                        </div>
                        <!-- End Search-col -->
                    </div>
                    <!-- Top Cart -->
                    <div class="col-lg-4 col-sm-5 col-md-4 col-xs-12">
                        <div class="top-cart-contain">
                            <div class="mini-cart">
                                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
                                    @{
                                        int sl = 0;
                                        if (cart != null)
                                        {
                                            sl = cart.Count();
                                        }
                                    }
                                    <a href="@Url.Action("Index", "Cart")">
                                        <i class="icon-cart"></i>
                                        <div class="cart-box"><span class="title">Giỏ hàng</span><span id="cart-total">@sl</span></div>
                                    </a>
                                </div>
                                <div class="top-cart-content arrow_box">
                                    <div class="block-subtitle">Mục mới thêm gần đây</div>
                                    @if (cart != null)
                                    {
                                        string tongtien = @String.Format("{0:0,0 VNĐ}", cart.Sum(x => x.GiaBan));
                                        <ul id="cart-sidebar" class="mini-products-list">
                                            @foreach (var item in cart.Take(2))
                                            {
                                                <li class="item even">
                                                    <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })"><img src="~/Assets/user/products-images/@item.AnhSP" width="80"></a>
                                                    <div class="detail-item">
                                                        <div class="product-details">
                                                            <a href="@Url.Action("Delete", "Cart", new { @masanpham = item.MaSP, @mausac = item.MauSac, @url = HttpContext.Current.Request.Url.AbsoluteUri })" class="glyphicon glyphicon-remove">&nbsp;</a>
                                                            <p class="product-name"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })">@item.TenSP</a></p>
                                                        </div>
                                                        <div class="product-details-bottom"><span class="price">@String.Format("{0:0,0 VNĐ}", item.GiaBan)</span><span class="title-desc">Số lượng:</span><strong>1</strong></div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                        <div class="top-subtotal">Tổng phụ: <span class="price">@tongtien</span></div>
                                    }
                                    else
                                    {
                                        <ul id="cart-sidebar" class="mini-products-list">
                                            <li class="item even">
                                                <div class="detail-no-item">
                                                    <div class="product-details">
                                                        <p class="">Hiện chưa có sản phẩm nào!</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="top-subtotal">Tổng phụ: <span class="price">0 VNĐ</span></div>
                                    }
                                    <div class="actions">
                                        <a href="@Url.Action("Thanhtoan", "Cart")" class="btn btn-checkout"><span>Thanh toán</span></a>
                                        <a href="@Url.Action("Index", "Cart")" class="btn view-cart"><span>Xem giỏ hàng</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (session != null)
                        {
                            <div class="login">
                                <a title="My Account" href="@Url.Action("Index", "Taikhoan")">
                                    <i class="icon-user2"></i>&nbsp;
                                    <span>Tài khoản của tôi&nbsp;&nbsp;&nbsp;</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="signup"><a href="@Url.Action("Index", "Signup")"><span>Đăng ký</span></a></div>
                            <span class="or"> | </span>
                            <div class="login"><a href="@Url.Action("Index", "Login")"><span>Đăng nhập</span></a></div>
                        }
                    </div>
                    <!-- End Top Cart -->
                </div>
            </div>
        </header>
        <!-- end header -->
        <!-- Navbar -->
        @{ Html.RenderAction("MenuNavPartial", "Home"); }
        <!-- end nav -->
        @RenderBody()
        <!-- Footer -->
        <footer class="footer">
            <div class="brand-logo ">
                <div class="container">
                    <div class="slider-items-products">
                        <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col6">
                                <div class="item"><a href="@Url.Action("Index", "Honda")"><img src="~/Assets/user/images/hangxe/honda.png" /></a></div>
                                <div class="item"><a href="@Url.Action("Index", "Yamaha")"><img src="~/Assets/user/images/hangxe/yamaha.png" /></a></div>
                                <div class="item"><a href="@Url.Action("Index", "Kawasaki")"><img src="~/Assets/user/images/hangxe/kawasaki.png" /></a></div>
                                <div class="item"><a href=""><img src="~/Assets/user/images/hangxe/bmw.png" /></a></div>
                                <div class="item"><a href=""><img src="~/Assets/user/images/hangxe/suzuki.png" /></a></div>
                                <div class="item"><a href=""><img src="~/Assets/user/images/hangxe/ducati.png" /></a></div>
                                <div class="item"><a href="@Url.Action("Index", "Honda")"><img src="~/Assets/user/images/hangxe/honda.png" /></a></div>
                                <div class="item"><a href="@Url.Action("Index", "Yamaha")"><img src="~/Assets/user/images/hangxe/yamaha.png" /></a></div>
                                <div class="item"><a href="@Url.Action("Index", "Kawasaki")"><img src="~/Assets/user/images/hangxe/kawasaki.png" /></a></div>
                                <div class="item"><a href=""><img src="~/Assets/user/images/hangxe/bmw.png" /></a></div>
                                <div class="item"><a href=""><img src="~/Assets/user/images/hangxe/suzuki.png" /></a></div>
                                <div class="item"><a href=""><img src="~/Assets/user/images/hangxe/ducati.png" /></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle container">
                <div class="col-md-3 col-sm-4">
                    <div class="footer-logo"><a href=""><img src="~/Assets/user/images/logo.png" /></a></div>
                    <p>Hỗ trợ các hình thức thanh toán</p>
                    <div class="payment-accept">
                        <div>
                            <img src="~/Assets/user/images/payment-1.png" />
                            <img src="~/Assets/user/images/payment-2.png" />
                            <img src="~/Assets/user/images/payment-3.png" />
                            <img src="~/Assets/user/images/payment-4.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h4>Hướng dẫn mua</h4>
                    <ul class="links">
                        <li class="first"><a href="">Làm thế nào để mua</a></li>
                        <li><a href="">Câu hỏi thường gặp</a></li>
                        <li><a href="">Thanh toán</a></li>
                        <li><a href="">Lô hàng</a></li>
                        <li><a href="">Vận chuyển</a></li>
                        <li class="last"><a href="">Chính sách hoàn trả</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h4>Tư vấn</h4>
                    <ul class="links">
                        <li class="first"><a href="">Tài khoản của bạn</a></li>
                        <li><a href="">Thông tin</a></li>
                        <li><a href="">Địa chỉ</a></li>
                        <li><a href="">Giảm giá</a></li>
                        <li><a href="">Lịch sử đặt hàng</a></li>
                        <li class="last"><a href="">Thông tin thêm</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <h4>Thông tin</h4>
                    <ul class="links">
                        <li class="first"><a href="">Sơ đồ trang web</a></li>
                        <li><a href="">Điều khoản tìm kiếm</a></li>
                        <li><a href="">Tìm kiếm nâng cao</a></li>
                        <li><a href="">Liên hệ chúng tôi</a></li>
                        <li><a href="">Các nhà cung cấp</a></li>
                        <li class=" last"><a href="">Cửa hàng của chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4">
                    <h4>Contact us</h4>
                    <div class="contacts-info">
                        <address>
                            <i class="add-icon">&nbsp;</i>Quảng Nam <br>&nbsp;Việt Nam
                        </address>
                        <div class="phone-footer"><i class="phone-icon">&nbsp;</i>+1 800 123 1234</div>
                        <div class="email-footer"><i class="email-icon">&nbsp;</i><a href="">support@magikcommerce.com</a></div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom container">
                <div class="col-sm-5 col-xs-12 coppyright"> &copy; 2020 Nguyễn Đình Tuân. All Rights Reserved.</div>
                <div class="col-sm-7 col-xs-12 company-links">
                    <ul class="links">
                        <li><a href="">Magento Themes</a></li>
                        <li><a href="">Premium Themes</a></li>
                        <li><a href="">Responsive Themes</a></li>
                        <li class="last"><a href="">Magento Extensions</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
    @*<div class="social">
            <ul>
                <li class="fb"><a href=""></a></li>
                <li class="tw"><a href=""></a></li>
                <li class="googleplus"><a href=""></a></li>
                <li class="rss"><a href=""></a></li>
                <li class="pintrest"><a href=""></a></li>
                <li class="linkedin"><a href=""></a></li>
                <li class="youtube"><a href=""></a></li>
            </ul>
        </div>*@
    <!-- thông báo toastr -->
    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="warning" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />

    <!-- thông báo toastr -->
    <script src="~/Scripts/jquery-3.5.0.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="~/Assets/user/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/user/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Assets/user/js/common.js"></script>
    <script type="text/javascript" src="~/Assets/user/js/owl.carousel.min.js"></script>

    <script type="text/javascript" src="~/Assets/user/js/revslider.js"></script>
    <script type="text/javascript" src="~/Assets/user/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/Assets/user/js/cloudzoom.js"></script>
    <script type="text/javascript" src="~/Assets/user/js/cloud-zoom.js"></script>

    <script src="~/Assets/user/js/tucode.js"></script>

</body>
</html>
