﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9">
                @RenderBody()
            </section>
            <aside class="col-right sidebar col-sm-3 wow">
                <div class="block block-account">
                    <div class="block-title">Tài khoản của bạn</div>
                    <div class="block-content">
                        <ul>
                            <li class="current active"><a href="@Url.Action("Index","Taikhoan")">Thông tin tài khoản</a></li>
                            <li class="current"><a href="@Url.Action("Donhang","Taikhoan")">Đơn hàng của tôi</a></li>
                            <li class="current"><a href="@Url.Action("Lichsu","Taikhoan")">Lịch sử mua hàng</a></li>
                            <li class="current last"><a href="@Url.Action("Danhgia","Taikhoan")">Đánh giá sản phẩm</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>