﻿
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider -->
<div id="magik-slideshow" class="magik-slideshow">
    <div class="wow">
        <div id="rev_slider_4_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev_slider_4" class="rev_slider fullwidthabanner">
                <ul>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-thumb="Assets/user/images/slide/slide-top-1.jpg">
                        <img src="~/Assets/user/images/slide/slide-top-1.jpg" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                        <div class="tp-caption ExtraLargeTitle sft  tp-resizeme " data-x="15" data-y="80" data-endspeed="500" data-speed="500" data-start="1100" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:2; white-space:nowrap;">Now start at $199!</div>
                        <div class="tp-caption LargeTitle sfl  tp-resizeme " data-x="15" data-y="135" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:3; white-space:nowrap;">Big Sale</div>
                        <div class="tp-caption sfb  tp-resizeme " data-x="15" data-y="360" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;"><a href="" class="view-more">View More</a><a href="" class="buy-btn">Buy Now</a></div>
                        <div class="tp-caption Title sft  tp-resizeme " data-x="15" data-y="230" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        <div class="tp-caption Title sft  tp-resizeme " data-x="15" data-y="400" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;font-size:11px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </li>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-thumb="Assets/user/images/slide/slide-top-2.jpg" class="black-text">
                        <img src="~/Assets/user/images/slide/slide-top-2.jpg" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                        <div class="tp-caption ExtraLargeTitle sft  tp-resizeme " data-x="15" data-y="80" data-endspeed="500" data-speed="500" data-start="1100" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:2; white-space:nowrap;">Looking for</div>
                        <div class="tp-caption LargeTitle sfl  tp-resizeme " data-x="15" data-y="135" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:3; white-space:nowrap;">Your MoTo</div>
                        <div class="tp-caption sfb  tp-resizeme " data-x="15" data-y="360" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;"><a href="" class="view-more">View More</a><a href="" class="buy-btn">Buy Now</a></div>
                        <div class="tp-caption Title sft  tp-resizeme " data-x="15" data-y="230" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        <div class="tp-caption Title sft  tp-resizeme " data-x="15" data-y="400" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;font-size:11px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </li>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-thumb="Assets/user/images/slide/slide-top-3.jpg">
                        <img src="~/Assets/user/images/slide/slide-top-3.jpg" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                        <div class="tp-caption ExtraLargeTitle sft  tp-resizeme " data-x="15" data-y="80" data-endspeed="500" data-speed="500" data-start="1100" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:2; white-space:nowrap;">Now start at $199!</div>
                        <div class="tp-caption LargeTitle sfl  tp-resizeme " data-x="15" data-y="135" data-endspeed="500" data-speed="500" data-start="1300" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:3; white-space:nowrap;">Big Sale</div>
                        <div class="tp-caption sfb  tp-resizeme " data-x="15" data-y="360" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;"><a href="" class="view-more">View More</a><a href="" class="buy-btn">Buy Now</a></div>
                        <div class="tp-caption Title sft  tp-resizeme " data-x="15" data-y="230" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                        <div class="tp-caption Title sft  tp-resizeme " data-x="15" data-y="400" data-endspeed="500" data-speed="500" data-start="1500" data-easing="Power2.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index:4; white-space:nowrap;font-size:11px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div>
</div>
<!-- end Slider -->
<!-- header service -->
<div class="header-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="icon-truck">&nbsp;</div>
                    <span><strong>FREE SHIPPING</strong> on order over</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="icon-support">&nbsp;</div>
                    <span><strong>Customer Support</strong> Service</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="icon-money">&nbsp;</div>
                    <span><strong>3 days Money Back</strong> Guarantee</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="icon-dis">&nbsp;</div>
                    <span><strong class="orange">discount</strong> on order over</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header service -->
<!-- offer banner section -->
<div class="offer-banner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 wow"><a href="@Url.Action("Honda","Sanpham")"><img src="~/Assets/user/images/banner/banner-honda.jpg"></a></div>
            <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 wow"><a href="@Url.Action("Yamaha","Sanpham")"><img src="~/Assets/user/images/banner/banner-yamaha.jpg"></a></div>
            <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 wow"><a href="@Url.Action("Kawasaki","Sanpham")"><img src="~/Assets/user/images/banner/banner-kawasaki.jpg"></a></div>
        </div>
    </div>
</div>
<!-- end offer banner section -->
<!-- main container -->
<section class="main-container col1-layout home-content-container">
    <div class="container">
        <div class="row">
            <div class="std">
                <div class="col-lg-8 col-xs-12 col-sm-8 best-seller-pro wow">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2>Dành cho bạn</h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                <!-- Item -->
                                @foreach (var item in ViewBag.NgauNhien)
                                {
                                    string ch = item.soLuong != 0 ? "Còn" : "Hết";
                                    string bh = item.soLuong != 0 ? "new" : "sale";
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="@bh-label sale-top-right">@ch</div>
                                            <div class="images-container">
                                                <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><img src="~/Assets/user/products-images/@item.anhSP" class="img-responsive" /></a>
                                                <div class="actions">
                                                    <div class="actions-inner">
                                                        @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                                        {
                                                            <input type="hidden" name="masanpham" value="@item.maSP" />
                                                            <button type="submit" class="button btn-cart"><span>Xem chi tiết</span></button>
                                                        }
                                                        <ul class="add-to-links">
                                                            <li><a class="link-wishlist" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Wishlist</span></a></li>
                                                            <li><a class="link-compare" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Compare</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="qv-button-container"><a class="qv-e-button btn-quickview-1" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span><span>Quick View</span></span></a></div>
                                            </div>
                                            <div class="info">
                                                <div class="info-inner">
                                                    <div class="item-title"> <a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></div>
                                                    <div class="item-content">
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                                            </div>
                                                        </div>
                                                        <div class="price-box">
                                                            <p class="special-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></p>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <!-- End Item -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-sm-4 wow latest-pro small-pr-slider">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2>Nhiều hơn</h2>
                        </div>
                        <div id="latest-deals-slider" class="product-flexslider hidden-buttons latest-item">
                            <div class="slider-items slider-width-col4">
                                <!-- Item -->
                                @foreach (var item in ViewBag.XemNhieu)
                                {
                                    string ch = item.soLuong != 0 ? "Còn" : "Hết";
                                    string bh = item.soLuong != 0 ? "new" : "sale";
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="@bh-label sale-top-right">@ch</div>
                                            <div class="images-container">
                                                <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><img src="~/Assets/user/products-images/@item.anhSP" class="img-responsive" /></a>
                                                <div class="actions">
                                                    <div class="actions-inner">
                                                        <ul class="add-to-links">
                                                            <li><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                                                            <li><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="link-compare"><span>Add to Compare</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="qv-button-container"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a></div>
                                            </div>
                                            <div class="info">
                                                <div class="info-inner">
                                                    <div class="item-title"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></div>
                                                    <div class="item-content">
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                                            </div>
                                                        </div>
                                                        <div class="price-box">
                                                            <p class="special-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="masanpham" value="@item.maSP" />
                                                        <button type="submit" class="button btn-cart"><span>Xem chi tiết</span></button>
                                                    }
                                                </div>
                                                <div class="clearfix"> </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <!-- End Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End main container -->
<!-- recommend slider -->
<section class="recommend container">
    <div class="new-pro-slider small-pr-slider" style="overflow:visible">
        <div class="slider-items-products">
            <div class="new_title center">
                <h2>Được đánh giá cao</h2>
            </div>
            <div id="recommend-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col3">
                    <!-- Item -->
                    @foreach (var item in ViewBag.DanhGiaCao)
                    {
                        string ch = item.soLuong != 0 ? "Còn" : "Hết";
                        string bh = item.soLuong != 0 ? "new" : "sale";
                        <div class="item">
                            <div class="col-item">
                                <div class="@bh-label sale-top-right">@ch</div>
                                <div class="images-container">
                                    <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><img src="~/Assets/user/products-images/@item.anhSP" class="img-responsive" /></a>
                                    <div class="actions">
                                        <div class="actions-inner">
                                            <ul class="add-to-links">
                                                <li><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                                                <li><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="link-compare "><span>Add to Compare</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="qv-button-container"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
                                </div>
                                <div class="info">
                                    <div class="info-inner">
                                        <div class="item-title"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></div>
                                        <div class="item-content">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                                </div>
                                            </div>
                                            <div class="price-box">
                                                <p class="special-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                        {
                                            <input type="hidden" name="masanpham" value="@item.maSP" />
                                            <button type="submit" class="button btn-cart"><span>Xem chi tiết</span></button>
                                        }
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- End Item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Recommend slider -->
<!-- banner section -->
<div class="top-offer-banner wow">
    <div class="container">
        <div class="row">
            <div class="offer-inner col-lg-12">
                <!--newsletter-wrap-->
                <div class="left">
                    <div class="col-1">
                        <div class="block-subscribe">
                            <div class="newsletter">
                                <form>
                                    <h4><span>Subscribe Newsletter</span></h4>
                                    <h5>Get the latest news & updates from Inspire</h5>
                                    <input type="text" placeholder="Enter your email address" class="input-text required-entry validate-email" id="newsletter1" name="email">
                                    <button class="subscribe" type="submit"><span>Subscribe</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col mid">
                        <div class="inner-text">
                            <h3>Moto</h3>
                        </div>
                        <a href=""><img src="~/Assets/user/images/banner/banner-center-1.jpg" /></a>
                    </div>
                    <div class="col last">
                        <div class="inner-text">
                            <h3>Moto</h3>
                        </div>
                        <a href=""><img src="~/Assets/user/images/banner/banner-center-2.jpg" /></a>
                    </div>
                </div>
                <div class="right">
                    <div class="col">
                        <div class="inner-text">
                            <h4>Top COLLECTION</h4>
                            <h3>Moto</h3>
                            <a href="" class="shop-now1">Shop now</a>
                        </div>
                        <a href=""><img src="~/Assets/user/images/banner/banner-center-3.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End banner section -->
<!-- middle slider -->
<section class="middle-slider container">
    <div class="row">
        <div class="col-sm-4 custom-slider">
            <div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Assets/user/images/slide/slide-box-1.jpg" />
                            <div class="carousel-caption">
                                <h3><a href="">Hot collection</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam arcu.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Assets/user/images/slide/slide-box-2.jpg" />
                            <div class="carousel-caption">
                                <h3><a href="">Summer collection</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam arcu.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Assets/user/images/slide/slide-box-3.jpg" />
                            <div class="carousel-caption">
                                <h3><a href="">New Arrivals</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam arcu.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pro-block">
            <div class="inner-div">
                <h2 class="category-pro-title"><span>Đánh giá cao</span></h2>
                <div class="category-products">
                    <div class="products small-list">
                        @foreach (var item in ViewBag.BaDanhGiaCao)
                        {
                            <div class="item">
                                <div class="item-area">
                                    <div class="product-image-area"> <a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="product-image"><img src="~/Assets/user/products-images/@item.anhSP" /></a></div>
                                    <div class="details-area">
                                        <h2 class="product-name"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></h2>
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                            </div>
                                        </div>
                                        <div class="price-box"><span class="regular-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></span></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 pro-block1">
            <div class="inner-div1">
                <h2 class="category-pro-title"><span>Ít quan tâm</span></h2>
                <div class="category-products">
                    <div class="products small-list">
                        @foreach (var item in ViewBag.BaDanhGiaThap)
                        {
                            <div class="item">
                                <div class="item-area">
                                    <div class="product-image-area"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="product-image"><img src="~/Assets/user/products-images/@item.anhSP" /></a></div>
                                    <div class="details-area">
                                        <h2 class="product-name"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></h2>
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                            </div>
                                        </div>
                                        <div class="price-box"><span class="regular-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></span></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End middle slider -->
<!-- promo banner section -->
<div class="promo-banner-section container wow">
    <div class="container">
        <div class="row"><img src="~/Assets/user/images/bottom-banner.jpg" /></div>
    </div>
</div>
<!-- End promo banner section -->
<!-- Latest Blog -->
<section class="latest-blog container wow">
    <div class="blog-title">
        <h2><span>Latest Blog</span></h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="blog-img">
                <img src="~/Assets/user/images/blog-img1.jpg" />
                <div class="mask"><a class="info" href="">Read More</a></div>
            </div>
            <h3><a href="blog-detail.html">Pellentesque habitant morbi</a> </h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sit  ... </p>
            <div class="post-date"><i class="icon-calendar"></i> Apr 10, 2014</div>
        </div>
        <div class="col-xs-12 col-sm-4 wow">
            <div class="blog-img">
                <img src="~/Assets/user/images/blog-img2.jpg" />
                <div class="mask"><a class="info" href="">Read More</a></div>
            </div>
            <h3><a href="blog-detail.html">Pellentesque habitant morbi</a> </h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sit  ... </p>
            <div class="post-date"><i class="icon-calendar"></i> Apr 10, 2014</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="blog-img">
                <img src="~/Assets/user/images/blog-img3.jpg" />
                <div class="mask"><a class="info" href="">Read More</a></div>
            </div>
            <h3><a href="blog-detail.html">Pellentesque habitant morbi</a> </h3>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sit  ... </p>
            <div class="post-date"><i class="icon-calendar"></i> Apr 10, 2014</div>
        </div>
    </div>
</section>
<!-- End Latest Blog -->
<!-- Featured Slider -->
<section class="featured-pro wow animated parallax parallax-2">
    <div class="container">
        <div class="std">
            <div class="slider-items-products">
                <div class="featured_title center">
                    <h2>Bán chạy nhất</h2>
                </div>
                <div id="featured-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4">
                        <!-- Item -->
                        @foreach (var item in ViewBag.MuaNhieu)
                        {
                            string ch = item.soLuong != 0 ? "Còn" : "Hết";
                            string bh = item.soLuong != 0 ? "new" : "sale";
                            <div class="item">
                                <div class="col-item">
                                    <div class="@bh-label sale-top-right">@ch</div>
                                    <div class="images-container">
                                        <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><img src="~/Assets/user/products-images/@item.anhSP" class="img-responsive" /></a>
                                        <div class="actions">
                                            <div class="actions-inner">
                                                @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="masanpham" value="@item.maSP" />
                                                    <button type="submit" class="button btn-cart"><span>Xem chi tiết</span></button>
                                                }
                                                <ul class="add-to-links">
                                                    <li><a class="link-wishlist" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Wishlist</span></a></li>
                                                    <li><a class="link-compare" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Compare</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="qv-button-container"><a class="qv-e-button btn-quickview-1" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span><span>Quick View</span></span></a></div>
                                    </div>
                                    <div class="info">
                                        <div class="info-inner">
                                            <div class="item-title"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" >@item.tenSP</a></div>
                                            <div class="item-content">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                                    </div>
                                                </div>
                                                <div class="price-box">
                                                    <p class="special-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></p>
                                                </div>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- End Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Slider -->