﻿@model List<Models.EF.LoaiSanPham>

<nav>
    <div class="container">
        <div class="nav-inner">
            <!-- mobile-menu -->
            <div class="hidden-desktop" id="mobile-menu">
                <ul class="navmenu">
                    <li>
                        <div class="menutop">
                            <div class="toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div>
                            <h2>Menu</h2>
                        </div>
                        <ul style="display:none;" class="submenu">
                            <li>
                                <ul class="topnav">
                                    <li class="level0 nav-6 level-top first parent">
                                        <a class="level-top" href="@Url.Content("~/")"><span>Trang chủ</span></a>
                                    </li>
                                    <li class="level0 nav-6 level-top">
                                        <a class="level-top" href="@Url.Action("Index", "Sanpham")"><span>Xe mô tô</span></a>
                                        <ul class="level0">
                                            <li class="level1 first parent">
                                                <a href="@Url.Action("Honda", "Sanpham")"><span>Honda</span></a>
                                                <ul class="level2">
                                                    @foreach (var item in Model.Where(x => x.maHSX.Contains("KA")))
                                                    {
                                                        <li class="level2 nav-6-1-1"><a href="@Url.Action("Honda", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li class="level1 first parent">
                                                <a href="@Url.Action("Yamaha", "Sanpham")"><span>Yamaha</span></a>
                                                <ul class="level2">
                                                    @foreach (var item in Model.Where(x => x.maHSX.Contains("KA")))
                                                    {
                                                        <li class="level2 nav-6-1-1"><a href="@Url.Action("Yamaha", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li class="level1 first parent">
                                                <a href="@Url.Action("Kawasaki", "Sanpham")"><span>Kawasaki</span></a>
                                                <ul class="level2">
                                                    @foreach (var item in Model.Where(x => x.maHSX.Contains("KA")))
                                                    {
                                                        <li class="level2 nav-6-1-1"><a href="@Url.Action("Kawasaki", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li class="level1 first parent">
                                                <a href=""><span>Xe khác</span></a>
                                                <ul class="level2">
                                                    <li class="level2 nav-6-1-1"><a href=""><span>BMW</span></a></li>
                                                    <li class="level2 nav-6-1-1"><a href=""><span>Suzuki</span></a></li>
                                                    <li class="level2 nav-6-1-1"><a href=""><span>Ducati</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="level0 parent drop-menu">
                                        <a href=""><span>Thông tin</span></a>
                                        <ul class="level1">
                                            <li class="level1 first"><a href=""><span>Tư vấn mua hàng</span></a></li>
                                            <li class="level1"><a href=""><span>Chính sách bảo mật</span></a></li>
                                            <li class="level1"><a href=""><span>Chính sách mua hàng</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level0 parent drop-menu">
                                        <a href=""><span>Tin tức</span></a>
                                    </li>
                                    <li class="level0 parent drop-menu">
                                        <a href=""><span>Liên hệ</span></a>
                                    </li>
                                    <li class="level0 parent drop-menu">
                                        <a href=""><span>FAQs</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--navmenu-->
            </div>
            <!--End mobile-menu -->
            <a class="logo-small" href="@Url.Action("Index", "Home")"><img src="~/Assets/user/images/logo-small.png" /></a>
            <ul id="nav" class="hidden-xs">
                <li class="level0 parent drop-menu">
                    <a href="@Url.Action("Index", "Home")" class="active"><span>Trang Chủ</span></a>
                </li>
                <li class="level0 nav-5 level-top parent">
                    <a href="@Url.Action("Index", "Sanpham")"><span>Xe mô tô</span></a>
                    <div class="level0-wrapper dropdown-6col" style="display: none;">
                        <div class="level0-wrapper2">
                            <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">
                                <ul class="level0">
                                    <li class="level1 nav-6-1 parent item">
                                        <a href="@Url.Action("Honda", "Sanpham")"><span>Honda</span></a>
                                        <ul class="level1">
                                            @foreach (var item in Model.Where(x => x.maHSX.Contains("HD")))
                                            {
                                                <li class="level2 nav-6-1-1"><a href="@Url.Action("Honda", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="level1 nav-6-1 parent item">
                                        <a href="@Url.Action("Yamaha", "Sanpham")"><span>Yamaha</span></a>
                                        <ul class="level1">
                                            @foreach (var item in Model.Where(x => x.maHSX.Contains("YA")))
                                            {
                                                <li class="level2 nav-6-1-1"><a href="@Url.Action("Yamaha", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="level1 nav-6-1 parent item">
                                        <a href="@Url.Action("Kawasaki", "Sanpham")"><span>Kawasaki</span></a>
                                        <ul class="level1">
                                            @foreach (var item in Model.Where(x => x.maHSX.Contains("KA")))
                                            {
                                                <li class="level2 nav-6-1-1"><a href="@Url.Action("Kawasaki", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="level1 nav-6-1 parent item">
                                        <a href=""><span>Xe khác</span></a>
                                        <ul class="level1">
                                            <li class="level2 nav-6-1-1"><a href=""><span>BMW</span></a></li>
                                            <li class="level2 nav-6-1-1"><a href=""><span>Suzuki</span></a></li>
                                            <li class="level2 nav-6-1-1"><a href=""><span>Ducati</span></a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            <div class="nav-block nav-block-right std grid12-4">
                                <p><a href=""><img class="fade-on-hover" src="~/Assets/user/images/nav-img1.jpg" /></a></p>
                                <h3 class="heading">Responsive Magento Theme</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor.</p>
                                <p><a class="btn-button-st" href="">Shop collection now</a></p>
                            </div>
                        </div>
                        <!--level0-wrapper2-->
                    </div>
                </li>
                <li class="level0 parent drop-menu">
                    <a href=""><span>Thông tin</span></a>
                    <ul class="level1">
                        <li class="level1"><a href=""><span>Tư vấn mua hàng</span></a></li>
                        <li class="level1"><a href=""><span>Chính sách bảo mật</span></a></li>
                        <li class="level1"><a href=""><span>Chính sách bán hàng</span></a></li>
                    </ul>
                </li>
                <li class="level0 parent drop-menu">
                    <a href=""><span>Tin tức</span></a>
                </li>
                <li class="level0 parent drop-menu">
                    <a href=""><span>Liên hệ</span></a>
                </li>
                <li class="level0 parent drop-menu">
                    <a href=""><span>FAQ<span style="text-transform:lowercase">s</span></span></a>
                </li>
                <li class="nav-custom-link level0 level-top parent">
                    <a class="level-top" href=""><span>Custom</span></a>
                    <div class="level0-wrapper custom-menu" style="left: 0px; display: none;">
                        <div class="header-nav-dropdown-wrapper clearer">
                            <div class="grid12-5">
                                <div class="custom_img"><a href=""><img src="~/Assets/user/images/custom-img1.jpg" /></a></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                <button class="learn_more_btn" type="button"><span>Learn More</span></button>
                            </div>
                            <div class="grid12-5">
                                <div class="custom_img"><a href=""><img src="~/Assets/user/images/custom-img2.jpg" /></a></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                <button class="learn_more_btn" type="button"><span>Learn More</span></button>
                            </div>
                            <div class="grid12-5">
                                <div class="custom_img"><a href=""><img src="~/Assets/user/images/custom-img3.jpg" /></a></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                <button class="learn_more_btn" type="button"><span>Learn More</span></button>
                            </div>
                            <div class="grid12-5">
                                <div class="custom_img"><a href=""><img src="~/Assets/user/images/custom-img4.jpg" /></a></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                                <button class="learn_more_btn" type="button"><span>Learn More</span></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
