﻿@model List<Models.EF.LoaiSanPham>

<div class="box-content box-category">
    <ul>
        @{
            string ah = "plus", ah1 = "none", ay = "plus", ay1 = "none", ak = "plus", ak1 = "none";
            if (TempData["Title"].ToString() == "Honda")
            {
                ah = "minus";
                ah1 = "block";
            }
            else if (TempData["Title"].ToString() == "Yamaha")
            {
                ay = "minus";
                ay1 = "block";
            }
            else if (TempData["Title"].ToString() == "Kawasaki")
            {
                ak = "minus";
                ak1 = "block";
            }
        }
        <li>
            <a href="@Url.Action("Honda", "SanPham")">Honda</a><span class="subDropdown @ah"></span>
            <ul class="level0_415" style="display:@ah1">
                @foreach (var item in Model.Where(x => x.maHSX.Contains("HD")))
                {
                    <li class="level2 nav-6-1-1"><a href="@Url.Action("Honda", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                }
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Yamaha", "Sanpham")">Yamaha</a><span class="subDropdown @ay"></span>
            <ul class="level0_455" style="display:@ay1">
                @foreach (var item in Model.Where(x => x.maHSX.Contains("YA")))
                {
                    <li class="level2 nav-6-1-1"><a href="@Url.Action("Yamaha", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                }
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Kawasaki", "Sanpham")">Kawasaki</a><span class="subDropdown @ak"></span>
            <ul class="level0_482" style="display:@ak1">
                @foreach (var item in Model.Where(x => x.maHSX.Contains("KA")))
                {
                    <li class="level2 nav-6-1-1"><a href="@Url.Action("Kawasaki", "Sanpham", new { @loaisp = item.maLSP })"><span>@item.tenLSP</span></a></li>
                }
            </ul>
        </li>
        <li><a href="">BMW</a> </li>
        <li><a href="">Suzuki</a></li>
        <li><a href="">Ducati</a></li>
    </ul>
</div>