﻿@using BanXeMoTo.Models
@using BanXeMoTo.Common

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var cart = (List<CartModel>)Session[Constants.CART_SESSION];
}
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow">
                <div class="page-title">
                    <h2>Giỏ hàng của bạn</h2>
                </div>
                <div class="table-responsive">
                    <fieldset>
                        <table class="data-table cart-table" id="shopping-cart-table">
                            <colgroup>
                                <col width="1" />
                                <col />
                                <col />
                                <col width="10%" />
                                <col width="15%" />
                                <col width="3%" />
                            </colgroup>
                            <thead style="text-align:center">
                                <tr class="first last">
                                    <th class="t-center">&nbsp;</th>
                                    <th>Tên sản phẩm</th>
                                    <th class="t-center">Màu sắc</th>
                                    <th class="t-center">Số lượng</th>
                                    <th class="t-center">Giá bán</th>
                                    <th class="t-center">&nbsp;</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="first last">
                                    <td class="a-right last" colspan="6">
                                        <a href="@Url.Action("Index", "Home")"><button class="button btn-continue" type="button"><span>Tiếp tục mua sắm</span></button></a>
                                        @*<a href=""><button class="button btn-update" name="update_cart_action" type="button"><span>Cập nhật giỏ hàng</span></button></a>*@
                                        <a href="@Url.Action("Clear", "Cart", new { @url = HttpContext.Current.Request.Url.AbsoluteUri})"><button class="button btn-empty" type="button"><span>Xóa giỏ hàng</span></button></a>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                @if (cart != null)
                                {
                                    foreach (var item in cart.OrderBy(x => x.MaSP))
                                    {
                                        <tr class="first odd">
                                            <td class="image t-center"><a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })"><img width="150" src="~/Assets/user/products-images/@item.AnhSP" /></a></td>
                                            <td class=""><h2 class="product-name"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.MaSP })">@item.TenSP</a></h2></td>
                                            <td class="t-right">
                                                @using (Html.BeginForm("Update", "Cart", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="masanpham" value="@item.MaSP" />
                                                    <input type="hidden" name="maucu" value="@item.MauSac" />
                                                    <select id="billing:region_id" name="chonmau" class="validate-select">
                                                        @if (@item.MauSac == "")
                                                        {
                                                            <option value="0">Chưa chọn màu</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="0">@item.MauSac</option>
                                                        }
                                                        @foreach (var item1 in (System.Collections.ArrayList)ViewData[item.MaSP])
                                                        {
                                                            if (Convert.ToString(item1) != Convert.ToString(item.MauSac))
                                                            {
                                                                <option value="@item1">@item1</option>
                                                            }
                                                        }
                                                    </select>
                                                    <button class="button btn-update" type="submit"><span>Cập nhật</span></button>
                                                }
                                            </td>
                                            @if (@item.MauSac == "")
                                            {
                                                <td colspan="2">Hãy chọn màu cho sản phẩm</td>
                                                <td class="t-center last">
                                                    <a class="button remove-item" href="@Url.Action("Delete", "Cart", new { @masanpham = item.MaSP, @mausac = item.MauSac, @url = HttpContext.Current.Request.Url.AbsoluteUri })"><span>Remove item</span></a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="t-center movewishlist">
                                                    <input type="text" class="input-text qty" title="Qty" value="1" disabled />
                                                </td>
                                                <td class="movewishlist t-center"><span class="cart-price price">@String.Format("{0:0,0 VNĐ}", item.GiaBan)</span></td>
                                                <td class="t-center last">
                                                    <a class="button remove-item" href="@Url.Action("Delete", "Cart", new { @masanpham = item.MaSP,@mausac = item.MauSac, @url = HttpContext.Current.Request.Url.AbsoluteUri })"><span>Remove item</span></a>
                                                </td>
                                            }

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="first odd">
                                        <td></td>
                                        <td>Hiện chưa có sản phẩm nào</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <!-- BEGIN CART COLLATERALS -->
                <div class="cart-collaterals row">
                    <div class="col-sm-4">
                        @*<div class="shipping">
                                <h3>Estimate Shipping and Tax</h3>
                                <div class="shipping-form">
                                    <p>Enter your destination to get a shipping estimate.</p>
                                    <ul class="form-list">
                                        <li>
                                            <label class="required" for="country"><em>*</em>Country</label>
                                            <div class="input-box">
                                                <select class="validate-select" id="country" name="country_id">
                                                    <option value=""> </option>
                                                    <option value="AF">Afghanistan</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="region_id">State/Province</label>
                                            <div class="input-box">
                                                <select name="region_id" id="region_id" defaultvalue="" class="required-entry validate-select">
                                                    <option value="">Please select region, state or province</option>
                                                    <option value="1" title="Alabama">Alabama</option>
                                                </select>
                                                <input type="text" style="display:none;" class="input-text required-entry" value="" name="region" id="region">
                                            </div>
                                        </li>
                                        <li>
                                            <label for="postcode">Zip/Postal Code</label>
                                            <div class="input-box">
                                                <input type="text" value="" name="estimate_postcode" id="postcode" class="input-text validate-postcode">
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="buttons-set11">
                                        <button class="button get-quote" onclick="coShippingMethodForm.submit()" type="button"><span>Get a Quote</span></button>
                                    </div>
                                    <!--buttons-set11-->
                                </div>
                            </div>*@
                    </div>
                    <div class="col-sm-4">
                        @*<div class="discount">
                                <h3>Discount Codes</h3>
                                <label for="coupon_code">Enter your coupon code if you have one.</label>
                                <input type="hidden" value="0" id="remove-coupone" name="remove">
                                <input type="text" value="" name="coupon_code" id="coupon_code" class="input-text fullwidth">
                                <button value="Apply Coupon" onclick="discountForm.submit(false)" class="button coupon" type="button"><span>Apply Coupon</span></button>
                            </div>*@
                    </div>
                    <div class="totals col-sm-4">
                        <h3>Tổng giỏ hàng</h3>
                        <div class="inner">
                            <table class="table shopping-cart-table-total" id="shopping-cart-totals-table">
                                <colgroup>
                                    <col>
                                    <col width="1">
                                </colgroup>
                                @{
                                    decimal? tongphu = 0, tongtien = 0, tonggiam = 0, gia = 0;
                                    int tsl = 0, km = 0;
                                    if (cart != null)
                                    {
                                        tsl = cart.Where(x => x.MauSac != "").Count();
                                        gia = cart.Where(x => x.MauSac != "").Sum(x => x.GiaBan);
                                        km += tsl;
                                        tonggiam = gia * km / 100;
                                        tongphu = gia;
                                        tongtien = gia - tonggiam;
                                    }
                                    <tfoot>
                                        <tr style="border-top: 2px solid #eaeaea">
                                            <td colspan="1" class="a-left" style=""><strong>Tổng cộng</strong></td>
                                            <td class="a-right"><strong><span class="price">@String.Format("{0:0,0 VNĐ}", tongtien)</span></strong></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td colspan="1" class="a-left" style="">Tổng số lượng</td>
                                            <td class="a-right"><span class="">@tsl</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="a-left" style="">Tổng phụ</td>
                                            <td class="a-right"><span class="price">@String.Format("{0:0,0 VNĐ}", tongphu)</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="a-left" style="">Khuyến mãi</td>
                                            <td class="a-right"><span class="">@km%</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="a-left" style="">Phí vận chuyển</td>
                                            <td class="a-right"><span class="">Miễn phí</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="a-left" style="">Đã giảm</td>
                                            <td class="a-right"><span class="price">@String.Format("- {0:0,0 VNĐ}", tonggiam)</span></td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                            <ul class="checkout">
                                <li>
                                    <a href="@Url.Action("Thanhtoan","Cart")"><button class="button btn-proceed-checkout" type="submit"><span>Tiến hành thanh toán</span></button></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--cart-collaterals-->
            </div>
            <div class="crosssel">
                <div class="new_title center">
                    <h2>Bạn có thể thích</h2>
                </div>
                <div class="category-products">
                    <ul id="crosssell-products-list" class="products-grid first odd">
                        <!-- Item -->
                        @foreach (var item in ViewBag.NgauNhien)
                        {
                            string ch = item.soLuong != 0 ? "Còn" : "Hết";
                            string bh = item.soLuong != 0 ? "new" : "sale";
                            <li class="item col-md-3 col-sm-6 col-xs-6">
                                <div class="col-item">
                                    <div class="@bh-label sale-top-right">@ch</div>
                                    <div class="images-container">
                                        <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><img src="~/Assets/user/products-images/@item.anhSP" class="img-responsive" /></a>
                                        <div class="actions">
                                            <div class="actions-inner">
                                                @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="masanpham" value="@item.maSP" />
                                                    <button type="submit" class="button btn-cart"><span>Thêm vào giỏ</span></button>
                                                }
                                                <ul class="add-to-links">
                                                    <li><a class="link-wishlist" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Wishlist</span></a></li>
                                                    <li><a class="link-compare" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Compare</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="qv-button-container"><a class="qv-e-button btn-quickview-1" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span><span>Quick View</span></span></a></div>
                                    </div>
                                    <div class="info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></div>
                                            <div class="item-content">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                                    </div>
                                                </div>
                                                <div class="price-box">
                                                    <p class="special-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></p>
                                                </div>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        <!-- End Item -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>