﻿@using BanXeMoTo.Models
@using BanXeMoTo.Common

@{
    ViewBag.Title = "Tiến hàng đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var cart = (List<CartModel>)Session[Constants.CART_SESSION];
}

<!-- main-container -->
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9 wow" style="width:70%">
                <div class="page-title">
                    <h1>Thực hiện mua hàng</h1>
                </div>
                <ol class="one-page-checkout" id="checkoutSteps">
                    @if (ViewBag.Chon == "ok")
                    {
                        <li>
                            <div class="col2-set">
                                <div class="col-1">
                                    <h5>Đặt hàng thành công</h5>
                                    <a style="text-decoration: underline;" href="@Url.Action("Index","Home")">Tiếp tục mua hàng</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col2-set">
                                <div class="col-1">
                                    <h5>Đến đơn hàng của tôi</h5>
                                    <a style="text-decoration: underline;" href="@Url.Action("Donhang","Taikhoan")">Kiểm tra đơn hàng</a>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li id="opc-billing" class="section allow @ViewBag.Buoc1">
                            <div class="step-title">
                                <span class="number">1</span>
                                <h3>Kiểm tra địa chỉ nhận hàng</h3>
                            </div>
                            <div id="checkout-step-billing" class="step a-item" style="display: @ViewBag.Buoc11;">
                                <fieldset class="group-select">
                                    <div class="m-b-10">Hãy kiểm tra lại địa chỉ nhận hàng của bạn một lần nữa.</div>
                                    @using (Html.BeginForm("ThanhToan", "Cart", FormMethod.Post))
                                    {
                                        <input type="hidden" name="buoc" value="1" />
                                        <ul>
                                            <li>
                                                <label for="shipping:street1">Địa chỉ của bạn</label>
                                                <br>
                                                <input type="text" id="shipping:street1" value="@ViewBag.ThongTinNguoiMua.diaChiKH" class="input-text required-entry" disabled />
                                            </li>
                                            <li>
                                                <label for="shipping:street2">Địa chỉ nhận hàng của bạn <span class="required">có thể thay đổi</span></label>
                                                <br>
                                                <input type="text" name="diachinhanhang" id="shipping:street2" value="@ViewBag.DiaChiNhan" class="input-text" required />
                                            </li>
                                            <li>
                                                <input type="checkbox" name="luudiachi" value="1" id="luudiachi" class="checkbox">
                                                <label for="luudiachi">Lưu vào địa chỉ của tôi</label>
                                            </li>
                                        </ul>
                                        <a href="@Url.Action("Index","Cart")"><button type="button" class="button m-r-10"><span>Hủy bỏ</span></button></a>
                                        <button type="submit" class="button continue"><span>Tiếp tục</span></button>
                                    }
                                </fieldset>
                            </div>
                        </li>
                        <li id="opc-shipping" class="section @ViewBag.Buoc2">
                            <div class="step-title">
                                <span class="number">2</span>
                                <h3 class="one_page_heading">Kiểm tra đơn hàng</h3>
                            </div>
                            <div id="checkout-step-shipping" class="step a-item" style="display: @ViewBag.Buoc22;">
                                <fieldset class="group-select">
                                    <div class="table-responsive">
                                        <fieldset>
                                            <table class="data-table cart-table" id="shopping-cart-table">
                                                <colgroup>
                                                    <col width="1">
                                                    <col>
                                                    <col>
                                                    <col width="15%">
                                                    <col width="3%">
                                                </colgroup>
                                                <thead style="text-align:center">
                                                    <tr class="first last">
                                                        <th class="t-center">&nbsp;</th>
                                                        <th>Tên sản phẩm</th>
                                                        <th class="t-center">Màu sắc</th>
                                                        <th class="t-center">Số lượng</th>
                                                        <th class="t-center">Giá bán</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (cart != null)
                                                    {
                                                        foreach (var item in cart.OrderBy(x => x.MaSP))
                                                        {
                                                            <tr class="first odd">
                                                                <td class="image t-center"><img width="70" src="~/Assets/user/products-images/@item.AnhSP"></td>
                                                                <td class="">@item.TenSP</td>
                                                                <td class="t-right">@item.MauSac</td>
                                                                <td class="t-center movewishlist">
                                                                    <input type="text" class="input-text qty" title="Qty" value="1" disabled />
                                                                </td>
                                                                <td class="movewishlist t-center"><span class="cart-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.GiaBan)</span></span></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </div>
                                    <table class="table shopping-cart-table-total" id="shopping-cart-totals-table">
                                        <colgroup>
                                            <col>
                                            <col width="1">
                                        </colgroup>
                                        @{
                                            decimal? tongphu = 0, tongtien = 0, tonggiam = 0, gia = 0;
                                            int tsl = 0, km = 0;
                                            if (cart != null)
                                            {
                                                tsl = cart.Where(x => x.MauSac != "").Count();
                                                gia = cart.Where(x => x.MauSac != "").Sum(x => x.GiaBan);
                                                km += tsl;
                                                tonggiam = gia * km / 100;
                                                tongphu = gia;
                                                tongtien = gia - tonggiam;
                                            }
                                            <tfoot>
                                                <tr style="border-top: 2px solid #eaeaea">
                                                    <td colspan="1" class="a-left" style=""><strong>Tổng cộng</strong></td>
                                                    <td class="a-right"><strong><span class="price">@String.Format("{0:0,0 VNĐ}", tongtien)</span></strong></td>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td colspan="1" class="a-left" style="border:none">Tổng số lượng</td>
                                                    <td class="a-right" style="border:none"><span class="">@tsl</span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="a-left" style="border:none">Tổng phụ</td>
                                                    <td class="a-right" style="border:none"><span class="price">@String.Format("{0:0,0 VNĐ}", tongphu)</span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="a-left" style="border:none">Khuyến mãi</td>
                                                    <td class="a-right" style="border:none"><span class="">@km%</span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="a-left" style="border:none">Phí vận chuyển</td>
                                                    <td class="a-right" style="border:none"><span class="">Miễn phí</span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="a-left" style="border:none">Đã giảm</td>
                                                    <td class="a-right" style="border:none"><span class="price">@String.Format("- {0:0,0 VNĐ}", tonggiam)</span></td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                    <div class="buttons-set1" id="shipping-buttons-container">
                                        @using (Html.BeginForm("ThanhToan", "Cart", FormMethod.Post))
                                        {
                                            <button type="button" onclick="history.back()" class="button m-r-10"><span>Quay lại</span></button>
                                            <input type="hidden" name="diachinhanhang" value="@ViewBag.DiaChiNhan">
                                            <input type="hidden" name="buoc" value="2" />
                                            <button type="submit" class="button continue"><span>Tiếp tục</span></button>
                                        }
                                    </div>
                                </fieldset>
                            </div>
                        </li>
                        <li id="opc-shipping_method" class="section @ViewBag.Buoc3">
                            <div class="step-title">
                                <span class="number">3</span>
                                <h3 class="one_page_heading">Xác nhận mua hàng</h3>
                            </div>
                            <div id="checkout-step-shipping_method" class="step a-item" style="display: @ViewBag.Buoc33;">
                                <fieldset>
                                    <div class="buttons-set1" id="shipping-method-buttons-container">
                                        <p>Đồng ý mua hàng</p>
                                        @using (Html.BeginForm("ThanhToan", "Cart", FormMethod.Post))
                                        {
                                            <a href="@Url.Action("Index","Cart")"><button type="button" class="button m-r-10"><span>Hủy bỏ</span></button></a>
                                            <input type="hidden" name="diachinhanhang" value="@ViewBag.DiaChiNhan">
                                            <input type="hidden" name="buoc" value="3" />
                                            <button type="submit" class="button continue"><span>Đặt hàng</span></button>
                                        }
                                    </div>
                                </fieldset>
                            </div>
                        </li>
                    }
                </ol>
            </section>
            <aside class="col-right sidebar col-sm-3 wow" style="width:30%">
                <div class="block block-progress">
                    <div class="block-title ">Thông tin thanh toán</div>
                    <div class="block-content">
                        <dl>
                            <dt class="complete">Thông tin người nhận:</dt>
                            <dd>Tên: @ViewBag.ThongTinNguoiMua.tenKH</dd>
                            <dd>Số điện thoại: @ViewBag.ThongTinNguoiMua.SDT</dd>
                            <dd>Email: @ViewBag.ThongTinNguoiMua.Email</dd>
                            <dd class="complete">Địa chỉ: @ViewBag.ThongTinNguoiMua.diaChiKH</dd>
                            <dt class="complete">Địa chỉ nhận:</dt>
                            <dd class="complete">
                                <address>@ViewBag.DiaChiNhan</address>
                            </dd>
                            <dt class="complete">Phương thức vận chuyển:</dt>
                            <dd>Giao hàng tận nhà</dd>
                            <dd><span class="price">Vận chuyển miễn phí</span></dd>
                            <dd class="complete">
                            </dd>
                            <dt class="complete">Phương thức thanh toán:</dt>
                            <dd>COD</dd>
                            <dd>Thanh toán khi nhận hàng</dd>
                        </dl>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<!--End main-container -->