﻿@model BanXeMoTo.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-container col1-layout">
    <div class="main container">
        <div class="account-login">
            <div class="page-title">
                <h2>Đăng nhập hoặc tạo một tài khoản</h2>
            </div>
            <fieldset class="col2-set">
                <legend>Đăng nhập hoặc tạo một tài khoản</legend>
                <div class="col-1 new-users">
                    <strong>Những khách hàng mới</strong>
                    <div class="content">
                        <p>Bằng cách tạo tài khoản với cửa hàng của chúng tôi, bạn sẽ có thể chuyển qua quy trình thanh toán nhanh hơn, lưu trữ nhiều địa chỉ giao hàng, xem và theo dõi đơn hàng của bạn trong tài khoản của bạn và hơn thế nữa.</p>
                        <div class="buttons-set">
                            <a href="@Url.Action("Index","Signup")"><button class="button create-account" type="button"><span>Tạo một tài khoản</span></button></a>
                        </div>
                    </div>
                </div>
                <div class="col-2 registered-users">
                    <strong>Khách hàng đã đăng ký</strong>
                    <div class="content">
                        <p>Nếu bạn có tài khoản với chúng tôi, vui lòng đăng nhập.</p>
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                                @TempData["AlertMessage"]
                            </div>
                        }
                        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <ul class="form-list">
                                <li>
                                    <label for="email">Số điện thoại hoặc Email <span class="required">*</span></label>
                                    <br>
                                    @Html.TextBoxFor(model => model.TaiKhoan, new { @type = "text", @id = "email", @class = "input-text required-entry", @placeholder = "Nhập số điện thoại hoặc email", @required = "", @autofocus = "autofocus" })
                                </li>
                                <li>
                                    <label for="pass">Mật khẩu <span class="required">*</span></label>
                                    <br>
                                    @Html.TextBoxFor(model => model.MatKhau, new { @type = "password", @id = "pass", @class = "input-text required-entry validate-password", @placeholder = "Nhập mật khẩu", @required = "" })
                                </li>
                            </ul>
                            <p class="required">* Phần bắt buộc</p>
                            <div class="buttons-set">
                                <button type="submit" class="button login"><span>Đăng nhập</span></button>
                                <a class="forgot-word" href="">Quên mật khẩu?</a>
                            </div>
                        }
                    </div>
                </div>
            </fieldset>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>