﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.BinhLuanDanhGia>

@{
    ViewBag.Title = "Comment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.BinhLuanDanhGia = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách bình luận đánh giá</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Comment", "Manage", FormMethod.Post))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col width="1" />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã khách hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số sao đánh giá</th>
                        <th>Nội dung bình luận</th>
                        <th>Ngày đánh giá</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.maKH</td>
                            <td>@item.KhachHang.tenKH</td>
                            <td>@item.maSP</td>
                            <td>@item.SanPham.tenSP</td>
                            <td>@item.soSaoDanhGia</td>
                            <td>@item.noiDungBinhLuan</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.ngayDanhGia)</td>
                            <td><a href="@Url.Action("Updatecomment","Manage", new { @makh = item.maKH, @masp = item.maSP })" class="btn btn-mint btn-sm btn-labeled fa fa-repeat">Cập nhật</a></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <p class="col-sm-12">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Comment", new { page }))
            <!--End Default Pagination-->
        </div>
    </div>
</div>