﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.ChucVu>

@{
    ViewBag.Title = "Chức vụ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ChucVu = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách chức vụ</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Position", "Manage", FormMethod.Post))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col width="1" />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã chức vụ</th>
                        <th>Tên chức vụ</th>
                        <th>Quyền</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.maCV</td>
                            <td>@item.tenCV</td>
                            <td>@item.quyenCV</td>
                            <td><a href="@Url.Action("Position","Manage", new { @machucvu = item.maCV })" class="btn btn-mint btn-sm btn-labeled fa fa-repeat">Cập nhật</a></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <p class="col-sm-12">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Position", new { page }))
            <!--End Default Pagination-->
        </div>
    </div>
</div>