﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.NhaCungCap>

@{
    ViewBag.Title = "Nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NhaCungCap = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách nhà cung cấp</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Supplier", "Manage", FormMethod.Post))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col width="1" />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã nhà cung cấp</th>
                        <th>Tên nhà cung cấp</th>
                        <th>Địa chỉ nhà cung cấp</th>
                        <th>Số điện thoại</th>
                        <th>Nhân viên liên hệ</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.maNCC</td>
                            <td>@item.tenNCC</td>
                            <td>@item.diaChiNCC</td>
                            <td>@item.SDT</td>
                            <td>@item.nhanVienLienHe</td>
                            <td><a href="@Url.Action("Supplier","Manage", new { @manhacungcap = item.maNCC })" class="btn btn-mint btn-sm btn-labeled fa fa-repeat">Cập nhật</a></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <p class="col-sm-12">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Supplier", new { page }))
            <!--End Default Pagination-->
        </div>
    </div>
</div>