﻿@model Models.EF.BinhLuanDanhGia

@{
    ViewBag.Title = "Comment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.BinhLuanDanhGia = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách bình luận đánh giá</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Updatecomment", "Manage", FormMethod.Post, new { @class = "form-horizontal form-padding" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="col-md-3 control-label" for="tennv">Ngày đánh giá</label>
                <div class="col-md-9">
                    <p class="form-control-static">@String.Format("{0:dd/MM/yyyy}", @Model.ngayDanhGia)</p>
                    @Html.TextBoxFor(model => model.ngayDanhGia, new { @type = "hidden" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="tennv">Mã khách hàng</label>
                <div class="col-md-9">
                    <p class="form-control-static">@Model.maKH</p>
                    @Html.TextBoxFor(model => model.maKH, new { @type = "hidden" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="tennv">Tên khách hàng</label>
                <div class="col-md-9">
                    <p class="form-control-static">@Model.KhachHang.tenKH</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="tennv">Mã sản phẩm</label>
                <div class="col-md-9">
                    <p class="form-control-static">@Model.maSP</p>
                    @Html.TextBoxFor(model => model.maSP, new { @type = "hidden" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="tennv">Tên sản phẩm</label>
                <div class="col-md-9">
                    <p class="form-control-static">@Model.SanPham.tenSP</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="tennv">Số sao đánh giá <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.soSaoDanhGia, new { @type = "number", @class = "form-control", @placeholder = "Nhập số điện thoai nhân viên", @required = "", @min = "1", @max = "5" })
                    @Html.ValidationMessageFor(model => model.soSaoDanhGia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="mota">Nội dung đánh giá <span class="required">*</span></label>
                <div class="col-md-9">
                    @Html.TextAreaFor(x => x.noiDungBinhLuan, new { @class = "form-control", @id = "mota", @rows = "7" })
                    @Html.ValidationMessageFor(x => x.noiDungBinhLuan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="required">* Phần bắt buộc</p>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-success btn-labeled fa fa-check mar-rgt" type="submit">Cập nhật</button>
                        <a href="@Url.Action("Comment","Manage")" class="btn btn-danger btn-labeled fa fa-close">Hủy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>