﻿@model Models.EF.SanPham

@{
    ViewBag.Title = Model.tenSP;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"><a href="@Url.Action("Index", "Home")">Trang chủ</a><span>&rArr;</span></li>
                <li class=""><a href="">Xe</a><span>&rArr;</span></li>
                <li class="category13"><strong>@Model.LoaiSanPham.HangSanXuat.tenHSX</strong></li>
            </ul>
        </div>
    </div>
</div>
<!-- End breadcrumbs -->
<!-- main-container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="row">
                <div class="product-view wow">
                    <div class="product-essential">
                        <!-- anh san pham -->
                        <div class="product-img-box col-lg-6 col-sm-6 col-xs-12">
                            <ul class="moreview" id="moreview">
                                <li class="moreview_thumb thumb_1">
                                    <img class="moreview_thumb_image" src="~/Assets/user/products-images/@Model.anhSP" />
                                    <img class="moreview_source_image" src="~/Assets/user/products-images/@Model.anhSP" />
                                    <span class="roll-over">Roll over image to zoom in</span>
                                    <img style="position: absolute;" class="zoomImg" src="~/Assets/user/products-images/@Model.anhSP" />
                                </li>
                                <li class="moreview_thumb thumb_2 moreview_thumb_active">
                                    <img class="moreview_thumb_image" src="~/Assets/user/products-images/@Model.hinhAnh1" />
                                    <img class="moreview_source_image" src="~/Assets/user/products-images/@Model.hinhAnh1" />
                                    <span class="roll-over">Roll over image to zoom in</span>
                                    <img style="position: absolute;" class="zoomImg" src="~/Assets/user/images/@Model.hinhAnh1" />
                                </li>
                                <li class="moreview_thumb thumb_3">
                                    <img class="moreview_thumb_image" src="~/Assets/user/products-images/@Model.hinhAnh2" />
                                    <img class="moreview_source_image" src="~/Assets/user/products-images/@Model.hinhAnh2" />
                                    <span class="roll-over">Roll over image to zoom in</span>
                                    <img style="position: absolute;" class="zoomImg" src="~/Assets/user/products-images/@Model.hinhAnh2" />
                                </li>
                                <li class="moreview_thumb thumb_4">
                                    <img class="moreview_thumb_image" src="~/Assets/user/products-images/@Model.hinhAnh3" />
                                    <img class="moreview_source_image" src="~/Assets/user/products-images/@Model.hinhAnh3" />
                                    <span class="roll-over">Roll over image to zoom in</span>
                                    <img style="position: absolute;" class="zoomImg" src="~/Assets/user/products-images/@Model.hinhAnh3" />
                                </li>
                                <li class="moreview_thumb thumb_5">
                                    <img class="moreview_thumb_image" src="~/Assets/user/products-images/@Model.hinhAnh4" />
                                    <img class="moreview_source_image" src="~/Assets/user/products-images/@Model.hinhAnh4" />
                                    <span class="roll-over">Roll over image to zoom in</span>
                                    <img style="position: absolute;" class="zoomImg" src="~/Assets/user/products-images/@Model.hinhAnh4" />
                                </li>
                                <li class="moreview_thumb thumb_6">
                                    <img class="moreview_thumb_image" src="~/Assets/user/products-images/@Model.hinhAnh5" />
                                    <img class="moreview_source_image" src="~/Assets/user/products-images/@Model.hinhAnh5" />
                                    <span class="roll-over">Roll over image to zoom in</span>
                                    <img style="position: absolute;" class="zoomImg" src="~/Assets/user/products-images/@Model.hinhAnh5" />
                                </li>
                            </ul>
                            <div class="moreview-control"><a style="right: 42px;" href="javascript:void(0)" class="moreview-prev"></a><a style="right: 42px;" href="javascript:void(0)" class="moreview-next"></a></div>
                        </div>
                        <!-- anh san pham -->
                        <!-- end: more-images -->
                        <div class="product-shop col-lg-6 col-sm-6 col-xs-12">
                            <div class="product-next-prev"><a class="product-next" href=""><span></span></a><a class="product-prev" href=""><span></span></a></div>
                            <div class="product-name">
                                <h1>@Model.tenSP</h1>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div style="width:@Model.tiLeDanhGia%" class="rating"></div>
                                </div>
                                <p class="rating-links"><a href="">@ViewBag.DanhGia Review(s)</a><span class="separator"> | </span><a href="">Thêm đánh giá của bạn</a></p>
                            </div>
                            @{
                                var a = Model.soLuong == 0 ? "out-of-stock" : "in-stock";
                                var b = Model.soLuong == 0 ? "Hết hàng" : "Còn hàng";
                            }
                            <p class="availability @a"><span>@b</span></p>
                            <div class="price-block">
                                <div class="price-box">
                                    <p class="special-price"><span class="price-label">Special Price</span><span class="price">@String.Format("{0:0,0 VNĐ}", Model.giaBan)</span></p>
                                </div>
                                <div class="price-box">
                                    <p class="old-price">
                                        <span class="price-label">Màu sắc:</span>
                                        @if (!string.IsNullOrEmpty(ViewBag.MauSacChon))
                                        {
                                            <span class="price">Màu: @ViewBag.MauSacChon</span>
                                        }
                                        else
                                        {
                                            <span class="price">Chưa chọn màu</span>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="short-description">
                                <h2>Quick Overview</h2>
                                <p>
                                    Màu sắc lựa chọn:
                                    @{
                                        foreach (var item in ViewBag.MauSac)
                                        {
                                            <div class="p-b-15">
                                                <span>-</span><a href="@Url.Action("Details","SanPham", new { @masanpham = Model.maSP, @mausacchon = item })" class="m-r-10 m-l-10 button button-checkout"></a><strong>@item</strong><br />
                                            </div>
                                        }
                                    }
                                </p>
                                <p>Hãng sản xuất: <strong>@Model.LoaiSanPham.HangSanXuat.tenHSX</strong></p>
                                <p>Loại sản phẩm: <strong>@Model.LoaiSanPham.tenLSP</strong></p>
                            </div>
                            <div class="add-to-box">
                                <div class="add-to-cart">
                                    <div class="pull-left">
                                        @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                        {
                                            <input type="hidden" name="masanpham" value="@Model.maSP" />
                                            <input type="hidden" name="mausacchon" value="@ViewBag.MauSacChon" />
                                            <button type="submit" class="button btn-cart"><span><i class="icon-basket"></i>Thêm vào giỏ</span></button>
                                        }
                                    </div>
                                </div>
                                <div class="email-addto-box">
                                    <ul class="add-to-links">
                                        <li><a class="link-wishlist" href=""><span>Add to Wishlist</span></a></li>
                                        <li><span class="separator">|</span><a class="link-compare" href=""><span>Add to Compare</span></a></li>
                                    </ul>
                                    <p class="email-friend"><a href="" class=""><span>Email to Friend</span></a></p>
                                </div>
                            </div>
                            @*<div class="custom-box"><img src="~/Assets/user/images/cus-img.png" /></div>*@
                        </div>
                    </div>
                    <div class="product-collateral">
                        <div class="col-sm-12 wow">
                            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                <li class="active"><a href="#product_tabs_description" data-toggle="tab">Mô tả sản phẩm</a></li>
                                <li><a href="#product_detail" data-toggle="tab">Chi tiết sản phẩm</a></li>
                                <li><a href="#reviews_tabs" data-toggle="tab">Đánh giá</a> </li>
                            </ul>
                            <div id="productTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="product_tabs_description">
                                    <div class="std">
                                        <p>@Model.moTa</p>
                                        <p>@Model.moTa</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product_detail">
                                    <div class="box-collateral box-tags">
                                        <div class="tags">
                                            <div class="form-add-tags">
                                                <div class="recent-orders">
                                                    <div class="table-responsive">
                                                        <table class="data-table" id="my-orders-table">
                                                            <colgroup>
                                                                <col width="30%" />
                                                                <col />
                                                            </colgroup>
                                                            <thead>
                                                                <tr class="first last">
                                                                    <th class="c-red f-20" colspan="2">Động cơ</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="first odd">
                                                                    <td><strong>Động cơ</strong></td>
                                                                    <td>@Model.ChiTietSanPham.dongCo</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Dung tích xi lanh</strong></td>
                                                                    <td>@Model.ChiTietSanPham.dungTichXilanh</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Đường kính x hành trình piston</strong></td>
                                                                    <td>@Model.ChiTietSanPham.dKhTPiston</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Tỉ lệ nén</strong></td>
                                                                    <td>@Model.ChiTietSanPham.tiLeNen</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Hệ thống nhiên liệu</strong></td>
                                                                    <td>@Model.ChiTietSanPham.heThongNhienLieu</td>
                                                                </tr>
                                                                <tr class="last even">
                                                                    <td><strong>Đánh lửa</strong></td>
                                                                    <td>@Model.ChiTietSanPham.danhLua</td>
                                                                </tr>
                                                            <thead>
                                                                <tr class="first last">
                                                                    <th class="c-red f-20" colspan="2">Hiệu suât</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="first odd">
                                                                    <td><strong>Hệ thống giảm sốc trước</strong></td>
                                                                    <td>@Model.ChiTietSanPham.giamSocBanhSau</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Hệ thống giảm sốc sau</strong></td>
                                                                    <td>@Model.ChiTietSanPham.giamSocBanhSau</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Lốp trước</strong></td>
                                                                    <td>@Model.ChiTietSanPham.lopTruoc</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Lốp sau</strong></td>
                                                                    <td>@Model.ChiTietSanPham.lopSau</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Hệ thống phanh trước</strong></td>
                                                                    <td>@Model.ChiTietSanPham.phanhTruoc</td>
                                                                </tr>
                                                                <tr class="last even">
                                                                    <td><strong>Hệ thống phanh sau</strong></td>
                                                                    <td>@Model.ChiTietSanPham.phanhSau</td>
                                                                </tr>
                                                            <thead>
                                                                <tr class="first last">
                                                                    <th class="c-red f-20" colspan="2">Chi tiết</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="first odd">
                                                                    <td><strong>Loại khung xe</strong></td>
                                                                    <td>@Model.ChiTietSanPham.khungXe</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Chiều dài thổng thể</strong></td>
                                                                    <td>@Model.ChiTietSanPham.chieuDai</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Chiều rộng tổng thể</strong></td>
                                                                    <td>@Model.ChiTietSanPham.chieuRong</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Chiều cao tổng thể</strong></td>
                                                                    <td>@Model.ChiTietSanPham.chieuCao</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Chiều cao yên</strong></td>
                                                                    <td>@Model.ChiTietSanPham.chieuCaoYen</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Trong lượng khô</strong></td>
                                                                    <td>@Model.ChiTietSanPham.trongLuongKho</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Lượng nhiên liệu</strong></td>
                                                                    <td>@Model.ChiTietSanPham.thungNhienLieu</td>
                                                                </tr>
                                                                <tr class="even">
                                                                    <td><strong>Chiều dài cơ sở</strong></td>
                                                                    <td>@Model.ChiTietSanPham.chieuDaiCoSo</td>
                                                                </tr>
                                                                <tr class="last even">
                                                                    <td><strong>Tính năng đặc biệt</strong></td>
                                                                    <td>@Model.ChiTietSanPham.tinhNangDacBiet</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="reviews_tabs">
                                    <div class="box-collateral box-reviews" id="customer-reviews">
                                        <div class="box-reviews1">
                                            <div class="form-add">
                                                @if (ViewBag.KTMH != 2)
                                                {
                                                    if (ViewBag.KTMH == 1)
                                                    {
                                                        <h3>Viết nhận xét của bạn</h3>
                                                        <fieldset>
                                                            <h4>Cách để đánh giá sản phẩm này? <em class="required">*</em></h4>
                                                            <span id="input-message-box"></span>
                                                            <div class="col m-t-20">
                                                                @using (Html.BeginForm("Danhgia", "Sanpham", FormMethod.Post))
                                                                {
                                                                    <input type="hidden" name="masanpham" value="@Model.maSP" />
                                                                    <div class="col-lg-6 col-sm-6 col-xs-12">
                                                                        <label class="required label-wide" for="review_field">Đánh giá chất lượng<em>*</em></label>
                                                                        <table id="product-review-table" class="data-table">
                                                                            <colgroup>
                                                                                <col width="1">
                                                                                <col width="1">
                                                                                <col width="1">
                                                                                <col width="1">
                                                                                <col width="1">
                                                                            </colgroup>
                                                                            <thead>
                                                                                <tr class="first last">
                                                                                    <th class="t-center"><span class="nobr">1 sao</span></th>
                                                                                    <th class="t-center"><span class="nobr">2 sao</span></th>
                                                                                    <th class="t-center"><span class="nobr">3 sao</span></th>
                                                                                    <th class="t-center"><span class="nobr">4 sao</span></th>
                                                                                    <th class="t-center"><span class="nobr">5 sao</span></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr class="first odd">
                                                                                    <td class="value t-center">
                                                                                        <label class="radiobutton"><input type="radio" class="radio" value="1" name="sosaodanhgia" require /><span class="checkmark"></span></label>
                                                                                    </td>
                                                                                    <td class="value t-center">
                                                                                        <label class="radiobutton"><input type="radio" class="radio" value="2" name="sosaodanhgia" required /><span class="checkmark"></span></label>
                                                                                    </td>
                                                                                    <td class="value t-center">
                                                                                        <label class="radiobutton"><input type="radio" class="radio" value="3" name="sosaodanhgia" required /><span class="checkmark"></span></label>
                                                                                    </td>
                                                                                    <td class="value t-center">
                                                                                        <label class="radiobutton"><input type="radio" class="radio" value="4" name="sosaodanhgia" required /><span class="checkmark"></span></label>
                                                                                    </td>
                                                                                    <td class="value last t-center">
                                                                                        <label class="radiobutton"><input type="radio" class="radio" value="5" name="sosaodanhgia" required /><span class="checkmark"></span></label>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="col-lg-6 col-sm-6 col-xs-12">
                                                                        <label class="required label-wide" for="review_field">Nội dung đánh giá<em>*</em></label>
                                                                        <div class="input-box">
                                                                            <textarea class="required-entry" rows="3" cols="5" id="review_field" name="noidungbinhluan"></textarea>
                                                                        </div>
                                                                        <div class="buttons-set">
                                                                            <button class="button submit" type="submit"><span>Gửi đánh giá</span></button>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </fieldset>
                                                    }
                                                    else
                                                    {
                                                        <div class="form-add-tags">
                                                            <label>Bạn chưa Mua sản phẩm này!</label>
                                                            <div class="input-box">
                                                                <label>Hãy mua và đánh giá sản phẩm!</label>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="form-add-tags">
                                                        <label>Bạn chưa đăng nhập!</label>
                                                        <div class="input-box">
                                                            <label>Hãy đăng nhập để đánh giá sản phẩm!</label>
                                                            <a href="@Url.Action("Index", "Login")"><button type="button" class="button btn-add"><span>Đăng nhập</span></button></a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="box-reviews2">
                                            <h3>Các đánh giá của khách hàng (@ViewBag.CountBLDG đánh giá)</h3>
                                            <div class="box visible">
                                                <ul>
                                                    @if (ViewBag.CountBLDG == 0)
                                                    {
                                                        <li>
                                                            <div class="review">
                                                                <div class="review-txt">Hãy là người đầu tiên đánh giá sản phẩm này</div>
                                                            </div>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        foreach (var item in ViewBag.BinhLuanDanhGia)
                                                        {
                                                            var tl = Convert.ToInt32(item.soSaoDanhGia) * 100 / 5;
                                                            <li>
                                                                <table class="ratings-table">
                                                                    <colgroup>
                                                                        <col width="40%" />
                                                                        <col />
                                                                    </colgroup>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th>Đánh giá</th>
                                                                            <td>
                                                                                <div class="rating-box"><div class="rating" style="width:@tl%;"></div></div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="review">
                                                                    <h6>@item.KhachHang.tenKH</h6>
                                                                    <small>được đánh gia ngày @String.Format("{0:dd/MM/yyyy}", item.ngayDanhGia)</small>
                                                                    <div class="review-txt">@item.noiDungBinhLuan</div>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                            <div class="actions"><a class="button view-all" id="revies-button"><span>View all</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- các sản phẩm xem nhiều và mua nhiều -->
                        <div class="col-sm-12">
                            <div class="box-additional">
                                <div class="related-pro wow">
                                    <div class="slider-items-products">
                                        <div class="new_title center">
                                            <h2>Nhiều người đã xem</h2>
                                        </div>
                                        <div id="related-products-slider" class="product-flexslider hidden-buttons">
                                            <div class="slider-items slider-width-col4">
                                                @foreach (var item in ViewBag.XemNhieu)
                                                {
                                                    <!-- Item -->
                                                    string ch = item.soLuong != 0 ? "Còn" : "Hết";
                                                    string bh = item.soLuong != 0 ? "new" : "sale";
                                                    <div class="item">
                                                        <div class="col-item">
                                                            <div class="@bh-label sale-top-right">@ch</div>
                                                            <div class="images-container">
                                                                <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><img src="~/Assets/user/products-images/@item.anhSP" class="img-responsive" /></a>
                                                                <div class="actions">
                                                                    <div class="actions-inner">
                                                                        @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                                                        {
                                                                            <input type="hidden" name="masanpham" value="@item.maSP" />
                                                                            <button type="submit" class="button btn-cart"><span>Xem chi tiết</span></button>
                                                                        }
                                                                        <ul class="add-to-links">
                                                                            <li><a class="link-wishlist" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Wishlist</span></a></li>
                                                                            <li><a class="link-compare" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Compare</span></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="qv-button-container"><a class="qv-e-button btn-quickview-1" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span><span>Quick View</span></span></a></div>
                                                            </div>
                                                            <div class="info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></div>
                                                                    <div class="item-content">
                                                                        <div class="ratings">
                                                                            <div class="rating-box">
                                                                                <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="price-box">
                                                                            <p class="special-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Item -->
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="upsell-pro wow">
                                    <div class="slider-items-products">
                                        <div class="new_title center">
                                            <h2>Nhiều người mua</h2>
                                        </div>
                                        <div id="upsell-products-slider" class="product-flexslider hidden-buttons">
                                            <div class="slider-items slider-width-col4">
                                                @foreach (var item in ViewBag.MuaNhieu)
                                                {
                                                    <!-- Item -->
                                                    string ch = item.soLuong != 0 ? "Còn" : "Hết";
                                                    string bh = item.soLuong != 0 ? "new" : "sale";
                                                    <div class="item">
                                                        <div class="col-item">
                                                            <div class="@bh-label sale-top-right">@ch</div>
                                                            <div class="images-container">
                                                                <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><img src="~/Assets/user/products-images/@item.anhSP" class="img-responsive" /></a>
                                                                <div class="actions">
                                                                    <div class="actions-inner">
                                                                        @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                                                        {
                                                                            <input type="hidden" name="masanpham" value="@item.maSP" />
                                                                            <button type="submit" class="button btn-cart"><span>Xem chi tiết</span></button>
                                                                        }
                                                                        <ul class="add-to-links">
                                                                            <li><a class="link-wishlist" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Wishlist</span></a></li>
                                                                            <li><a class="link-compare" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span>Add to Compare</span></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="qv-button-container"><a class="qv-e-button btn-quickview-1" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span><span>Quick View</span></span></a></div>
                                                            </div>
                                                            <div class="info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></div>
                                                                    <div class="item-content">
                                                                        <div class="ratings">
                                                                            <div class="rating-box">
                                                                                <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="price-box">
                                                                            <p class="special-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Item -->
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End main-container -->
