﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.SanPham>

@{
    ViewBag.Title = "Honda";
    TempData["Title"] = "Honda";
    Layout = "~/Views/Shared/_Layoutsp.cshtml";
}

@section category{ <span>&rArr;</span> Honda }
@section category2{
    @if (@ViewBag.Category != null)
    {
        <span>&rArr;</span> <strong>@ViewBag.Category</strong>
    }
}

<div class="category-products">
    <div class="toolbar">
        <div class="sorter">
            <div class="view-mode">
                <span class="button button-active button-grid">Grid</span>
                <a href="" class="button button-list">List</a>
            </div>
        </div>
        <div id="sort-by">
            <label class="left">Sắp xếp: </label>
            <ul>
                <li>
                    <a href="">Phân khối<span class="right-arrow"></span></a>
                    <ul>
                        <li><a href="">Tên</a></li>
                        <li><a href="">Giá</a></li>
                        <li><a href="">Phân khối</a></li>
                    </ul>
                </li>
            </ul>
            <a class="button-asc left" href=""><span style="color:#999;font-size:11px;" class="glyphicon glyphicon-arrow-up"></span></a>
        </div>
        <div class="pager">
            <div id="limiter">
                <label>Xem: </label>
                <ul>
                    <li>
                        <a href="">15<span class="right-arrow"></span></a>
                        <ul>
                            <li><a href="">20</a></li>
                            <li><a href="">30</a></li>
                            <li><a href="">35</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="pages">
                <label>Trang:</label>
                @Html.PagedListPager(Model, page => Url.Action("Honda", new { page }))
            </div>
        </div>
    </div>
    <ul class="products-grid">
        @foreach (var item in Model)
        {
            <!--start san pham-->
            string ch = item.soLuong != 0 ? "Còn" : "Hết";
            string bh = item.soLuong != 0 ? "new" : "sale";
            <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="col-item">
                    <div class="@bh-label sale-top-right">@ch</div>
                    <div class="images-container">
                        <a class="product-image" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><img src="~/Assets/user/products-images/@item.anhSP" class="img-responsive" /></a>
                        <div class="actions">
                            <div class="actions-inner">
                                @using (Html.BeginForm("Addcart", "Cart", FormMethod.Post))
                                {
                                    <input type="hidden" name="masanpham" value="@item.maSP" />
                                    <button type="submit" class="button btn-cart"><span>Xem chi tiết</span></button>
                                }
                                <ul class="add-to-links">
                                    <li><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                                    <li><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })" class="link-compare "><span>Add to Compare</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="qv-button-container"><a class="qv-e-button btn-quickview-1" href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })"><span><span>Quick View</span></span></a></div>
                    </div>
                    <div class="info">
                        <div class="info-inner">
                            <div class="item-title"><a href="@Url.Action("Details", "Sanpham", new { @masanpham = item.maSP })">@item.tenSP</a></div>
                            <div class="item-content">
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:@item.tiLeDanhGia%" class="rating"></div>
                                    </div>
                                </div>
                                <div class="price-box"><span class="regular-price"><span class="price">@String.Format("{0:0,0 VNĐ}", item.giaBan)</span></span></div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </li>
        }
        <!--end san pham-->
    </ul>
</div>
