﻿@using BanXeMoTo.Areas.Admin.Models
@using BanXeMoTo.Common
@model Models.EF.PhieuNhap

@{
    ViewBag.Title = "Thêm phiếu nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NhapSanPham = "active active-link";
}

@{
    var session = (LoginModel)Session[Constants.ADMIN_SESSION];
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thêm phiếu nhập mới</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <!-- BASIC FORM ELEMENTS -->
        @using (Html.BeginForm("Create", "Khohang", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="panel-body form-horizontal form-padding">
                <div class="form-group">
                    <label class="col-md-3 control-label">Mã phiếu nhập</label>
                    <div class="col-md-9"><p class="form-control-static">@ViewBag.MaPhieuNhap</p></div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Tên nhân viên</label>
                    <div class="col-md-9"><p class="form-control-static">@session.TenNV</p></div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Tên nhà cung cấp</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.maNCC, ViewBag.ListNhaCungCap as SelectList, new { @class = "selectpicker", @data_live_search = "true", @required = "" })
                        @Html.ValidationMessageFor(x => x.maNCC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="demo-text-input">Ngày nhập</label>
                    <div class="col-md-9"><p class="form-control-static">@string.Format("{0:dd/MM/yyyy}", DateTime.Now)</p></div>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button class="btn btn-success btn-labeled fa fa-check mar-rgt" type="submit" onclick="if (confirm('Bạn có muốn tạo một phiếu nhập mới không?') == false) return false;">Tạo phiếu nhập</button>
                            <a href="@Url.Action("Nhapkho", "Khohang")" class="btn btn-danger btn-labeled fa fa-close">Hủy</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- END BASIC FORM ELEMENTS -->
    </div>
</div>