﻿@model Models.EF.DonHang

@{
    ViewBag.Title = "Thông tin phiếu xuất";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.XuatSanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin phiếu xuất</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <!-- BASIC FORM ELEMENTS -->
        <div class="panel-body form-horizontal form-padding">
            <h4 class="text-warning">Đơn hàng</h4>
            <div class="form-group">
                <label class="col-md-3 control-label">Mã đơn hàng</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.maDH</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Tên khách hàng</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.KhachHang.tenKH</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Số lượng</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.tongSoLuong</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Ngày đặt</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@string.Format("{0:dd/MM/yyyy}",Model.ngayDatHang)</p></div>
            </div>
        </div>
        <div class="panel-body form-horizontal form-padding">
            <h4 class="text-warning">Các sản phẩm đã xuất</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <colgroup>
                        <col width="1" />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã TTSP</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Số khung</th>
                            <th>Số máy</th>
                            <th>Màu sắc</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1; }
                        @foreach (var item in Model.PhieuXuats)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.maTTSP</td>
                                <td>@item.ThongTinSanPham.maSP</td>
                                <td>@item.ThongTinSanPham.SanPham.tenSP</td>
                                <td>@item.ThongTinSanPham.soKhung</td>
                                <td>@item.ThongTinSanPham.soMay</td>
                                <td>@item.ThongTinSanPham.mauSac</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <a href="@Url.Action("Xuatkho","Khohang")" class="btn btn-danger btn-labeled fa fa-close">Quay về</a>
                </div>
            </div>
        </div>
        <!-- END BASIC FORM ELEMENTS -->
    </div>
</div>