﻿@model Models.EF.PhieuNhap

@{
    ViewBag.Title = "Thông tin phiếu nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NhapSanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin phiếu nhập</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        <!-- BASIC FORM ELEMENTS -->
        <div class="panel-body form-horizontal form-padding">
            <h4 class="text-warning">Chi tiết phiếu nhập</h4>
            <div class="form-group">
                <label class="col-md-3 control-label">Mã phiếu nhập</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.maPN</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Tên nhà cung cấp</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.NhaCungCap.tenNCC</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Nhân viên</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.NhanVien.tenNV</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Ngày nhập</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@string.Format("{0:dd/MM/yyyy}", Model.ngayNhap)</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Số lượng</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@Model.soLuong</p></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Tổng tiền</label>
                <div class="col-md-9"><p class="form-control-static text-bold">@string.Format("{0:0,0 VNĐ}", Model.tongTien)</p></div>
            </div>
        </div>
        <div class="panel-body form-horizontal form-padding">
            <h4 class="text-warning">Các sản phẩm đã nhập</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <colgroup>
                        <col width="1" />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        @if (ViewBag.MaPhieuNhap == Model.maPN)
                        {
                            <col width="1" />
                        }
                    </colgroup>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã TTSP</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Số khung</th>
                            <th>Số máy</th>
                            <th>Màu sắc</th>
                            <th>Giá tiền</th>
                            @if (ViewBag.MaPhieuNhap == Model.maPN)
                            {
                                <th>Thao tác</th>
                            }
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="7">Tổng tiền</th>
                            <th>@String.Format("{0:0,0 VNĐ}", Model.tongTien)</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ int i = 1; }
                        @foreach (var item in Model.ThongTinSanPhams)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.maTTSP</td>
                                <td>@item.maSP</td>
                                <td>@item.SanPham.tenSP</td>
                                <td>@item.soKhung</td>
                                <td>@item.soMay</td>
                                <td>@item.mauSac</td>
                                <td>@String.Format("{0:0,0 VNĐ}", item.giaGoc)</td>
                                @if (ViewBag.MaPhieuNhap == Model.maPN)
                                {
                                    <td><a href="@Url.Action("Updatepn","Khohang", new { @mattsp = item.maTTSP })" class="btn btn-mint btn-sm btn-labeled fa fa-repeat">Cập nhật</a></td>
                                }
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    @if (ViewBag.NgayNhap == String.Format("{0:dd/MM/yyyy}", Model.ngayNhap))
                    {
                        <a href="@Url.Action("Createttsp","Khohang", new { maphieunhap = Model.maPN })" class="btn btn-success btn-labeled fa fa-check">Nhập sản phẩm</a>
                    }
                    <a href="@Url.Action("Nhapkho","Khohang")" class="btn btn-danger btn-labeled fa fa-close">Quay về</a>
                </div>
            </div>
        </div>
        <!-- END BASIC FORM ELEMENTS -->
    </div>
</div>