﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.PhieuNhap>

@{
    ViewBag.Title = "Danh sách phiếu nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NhapSanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách phiếu nhập (@ViewBag.SoLuong phiếu)</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Nhapkho", "Khohang", FormMethod.Get))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
            <colgroup>
                <col width="1" />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col width="1" />
            </colgroup>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã phiếu nhập</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Tên nhân viên</th>
                    <th>Ngày nhập</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.maPN</td>
                        <td>@item.NhaCungCap.tenNCC</td>
                        <td>@item.NhanVien.tenNV</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.ngayNhap)</td>
                        <td>@item.soLuong</td>
                        <td>@String.Format("{0:0,0 VNĐ}", item.tongTien)</td>
                        <td><a href="@Url.Action("Detailspn","Khohang", new { @maphieunhap = item.maPN })" class="btn btn-warning btn-sm btn-labeled fa fa-info">Chi tiết</a></td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <!--Pagination-->
        <p class="col-sm-12">Tổng số @ViewBag.Tong - Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
        @Html.PagedListPager(Model, page => Url.Action("Nhapkho", new { @searchString = ViewBag.searchString, page }))
        <!--End Default Pagination-->
    </div>
    </div>
</div>