﻿@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<Models.EF.DonHang>

@{
    ViewBag.Title = "Xuất sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.XuatSanPham = "active active-link";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách đơn hàng đã xác nhận (@ViewBag.SoLuong đơn)</h3>
    </div>
    <div class="panel-body">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="demo-preview-alert hide">
                <div class="alert @TempData["AlertType"] media fade in">
                    <div class="media-body">
                        <h4 class="alert-title">@TempData["AlertMessage"]</h4>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("Xuatttsp", "Khohang", FormMethod.Post))
        {
            <div class="input-group mar-btm">
                <input type="text" placeholder="Search..." class="form-control h-auto" name="searchString" value="@ViewBag.searchString" />
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-labeled fa fa-search" type="submit">Tìm kiếm</button>
                </span>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <colgroup>
                    <col width="1" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col width="1" />
                </colgroup>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Mã TTSP</th>
                        <th>Số khung</th>
                        <th>Số máy</th>
                        <th>Màu sắc</th>
                        <th>Tên khách hàng</th>
                        <th>Số lượng</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        string red = ""; red = item.PhieuXuats.Count < item.tongSoLuong ? "color-red" : "";
                        <tr class="@red">
                            <td rowspan="@item.PhieuXuats.Count">@i</td>
                            <td rowspan="@item.PhieuXuats.Count"><a href="@Url.Action("Details","Order", new { @madonhang = item.maDH })" class="btn-link">#@item.maDH</a></td>
                            @foreach (var item2 in item.PhieuXuats.Take(1))
                            {
                                <td>@item2.maTTSP</td>
                                <td>@item2.ThongTinSanPham.soKhung</td>
                                <td>@item2.ThongTinSanPham.soMay</td>
                                <td>@item2.ThongTinSanPham.mauSac</td>
                            }
                            <td rowspan="@item.PhieuXuats.Count">@item.KhachHang.tenKH</td>
                            <td rowspan="@item.PhieuXuats.Count">@item.tongSoLuong</td>
                            <td rowspan="@item.PhieuXuats.Count">@item.trangThai</td>
                            @using (Html.BeginForm("Xacnhan", "Khohang", FormMethod.Post))
                            {
                                <td rowspan="@item.PhieuXuats.Count">
                                    <input type="hidden" name="madonhang" value="@item.maDH" />
                                    @if (item.PhieuXuats.Count < item.tongSoLuong)
                                    {
                                        <button class="btn btn-dark btn-sm btn-labeled fa fa-repeat disabled" type="button">Không thể xác nhận</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-mint btn-sm btn-labeled fa fa-repeat" onclick="if (confirm('Bạn có chắc xác nhận xuát kho không?') == false) return false;" type="submit">Xác nhận xuất kho</button>
                                    }
                                </td>
                            }
                        </tr>
                        foreach (var item2 in item.PhieuXuats.Skip(1))
                        {
                            <tr>
                                <td>@item2.maTTSP</td>
                                <td>@item2.ThongTinSanPham.soKhung</td>
                                <td>@item2.ThongTinSanPham.soMay</td>
                                <td>@item2.ThongTinSanPham.mauSac</td>
                            </tr>
                        }
                        if (item.PhieuXuats.Count < item.tongSoLuong)
                        {
                            <tr>
                                <td colspan="10" class=""><span class="color-red">Sản phẩm trong đơn hàng @item.maDH chưa đủ số lượng do sản phẩm trong kho tạm hết</span></td>
                            </tr>
                        }
                        <tr>
                            <td colspan="10"></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <!--Pagination-->
            <p class="col-sm-12">Tổng số @ViewBag.Tong - Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Xuatttsp", new { page }))
            <!--End Default Pagination-->
        </div>
    </div>
</div>